<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_dead_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,112}</string>
                <key>spriteSourceSize</key>
                <string>{80,112}</string>
                <key>textureRect</key>
                <string>{{215,0},{80,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,66}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{354,112},{92,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,66}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{85,112},{89,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,99}</string>
                <key>spriteSourceSize</key>
                <string>{73,99}</string>
                <key>textureRect</key>
                <string>{{68,0},{73,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,99}</string>
                <key>spriteSourceSize</key>
                <string>{68,99}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,103}</string>
                <key>spriteSourceSize</key>
                <string>{74,103}</string>
                <key>textureRect</key>
                <string>{{141,0},{74,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,109}</string>
                <key>spriteSourceSize</key>
                <string>{81,109}</string>
                <key>textureRect</key>
                <string>{{295,0},{81,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,110}</string>
                <key>spriteSourceSize</key>
                <string>{85,110}</string>
                <key>textureRect</key>
                <string>{{0,112},{85,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,121}</string>
                <key>spriteSourceSize</key>
                <string>{90,121}</string>
                <key>textureRect</key>
                <string>{{174,112},{90,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,119}</string>
                <key>spriteSourceSize</key>
                <string>{90,119}</string>
                <key>textureRect</key>
                <string>{{264,112},{90,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,65}</string>
                <key>spriteSourceSize</key>
                <string>{83,65}</string>
                <key>textureRect</key>
                <string>{{376,0},{83,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_dead_leftdown.png</string>
            <key>size</key>
            <string>{459,233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c4a46ca8dc36fc0a202f9a075b02d69:c111406a7f5738077ab5158d224f710a:9926a4760fe559233eb77091b1c2bad0$</string>
            <key>textureFileName</key>
            <string>paladin_dead_leftdown.png</string>
        </dict>
    </dict>
</plist>
