<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_stand_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,105}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,105}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,105}</string>
                <key>spriteSourceSize</key>
                <string>{78,105}</string>
                <key>textureRect</key>
                <string>{{240,0},{78,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,105}</string>
                <key>spriteSourceSize</key>
                <string>{78,105}</string>
                <key>textureRect</key>
                <string>{{318,0},{78,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,105}</string>
                <key>spriteSourceSize</key>
                <string>{78,105}</string>
                <key>textureRect</key>
                <string>{{396,0},{78,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,105}</string>
                <key>textureRect</key>
                <string>{{474,0},{79,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,105}</string>
                <key>textureRect</key>
                <string>{{553,0},{80,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,105}</string>
                <key>textureRect</key>
                <string>{{633,0},{79,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_stand_down.png</string>
            <key>size</key>
            <string>{712,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:691b3c1238b7acc8c305613911b73b88:55784458db801e69c56eb6c509a6685c:5fa1676281b073870649405fe2db44da$</string>
            <key>textureFileName</key>
            <string>paladin_stand_down.png</string>
        </dict>
    </dict>
</plist>
