<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_skill_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,99}</string>
                <key>spriteSourceSize</key>
                <string>{80,99}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,93}</string>
                <key>spriteSourceSize</key>
                <string>{79,93}</string>
                <key>textureRect</key>
                <string>{{80,0},{79,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,86}</string>
                <key>spriteSourceSize</key>
                <string>{92,86}</string>
                <key>textureRect</key>
                <string>{{159,0},{92,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,86}</string>
                <key>spriteSourceSize</key>
                <string>{102,86}</string>
                <key>textureRect</key>
                <string>{{251,0},{102,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{353,0},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_skill_rightdown.png</string>
            <key>size</key>
            <string>{435,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94531a10a27fb25e55ec271e90211a28:74af50621b847016233fd0f259316dfd:fac5bbe51b80abed14819c06e7b87348$</string>
            <key>textureFileName</key>
            <string>paladin_skill_rightdown.png</string>
        </dict>
    </dict>
</plist>
