<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_stand_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,114}</string>
                <key>spriteSourceSize</key>
                <string>{57,114}</string>
                <key>textureRect</key>
                <string>{{0,0},{57,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,114}</string>
                <key>spriteSourceSize</key>
                <string>{59,114}</string>
                <key>textureRect</key>
                <string>{{57,0},{59,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,114}</string>
                <key>spriteSourceSize</key>
                <string>{58,114}</string>
                <key>textureRect</key>
                <string>{{116,0},{58,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,114}</string>
                <key>spriteSourceSize</key>
                <string>{59,114}</string>
                <key>textureRect</key>
                <string>{{174,0},{59,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,114}</string>
                <key>spriteSourceSize</key>
                <string>{58,114}</string>
                <key>textureRect</key>
                <string>{{233,0},{58,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,114}</string>
                <key>spriteSourceSize</key>
                <string>{58,114}</string>
                <key>textureRect</key>
                <string>{{291,0},{58,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,114}</string>
                <key>spriteSourceSize</key>
                <string>{59,114}</string>
                <key>textureRect</key>
                <string>{{349,0},{59,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,114}</string>
                <key>spriteSourceSize</key>
                <string>{59,114}</string>
                <key>textureRect</key>
                <string>{{408,0},{59,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,114}</string>
                <key>spriteSourceSize</key>
                <string>{59,114}</string>
                <key>textureRect</key>
                <string>{{467,0},{59,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_stand_rightup.png</string>
            <key>size</key>
            <string>{526,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cffd387e8dbde29d52e71c0a9a403e4:753cd114f6e14ce6e5e24776af4b353a:2ac3703f3eab9c88013a01a6b647a11f$</string>
            <key>textureFileName</key>
            <string>paladin_stand_rightup.png</string>
        </dict>
    </dict>
</plist>
