<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_attack_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,113}</string>
                <key>spriteSourceSize</key>
                <string>{79,113}</string>
                <key>textureRect</key>
                <string>{{156,207},{79,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,131}</string>
                <key>spriteSourceSize</key>
                <string>{106,131}</string>
                <key>textureRect</key>
                <string>{{0,320},{106,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{0,207},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{91,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,97}</string>
                <key>spriteSourceSize</key>
                <string>{54,97}</string>
                <key>textureRect</key>
                <string>{{91,0},{54,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,110}</string>
                <key>spriteSourceSize</key>
                <string>{68,110}</string>
                <key>textureRect</key>
                <string>{{88,207},{68,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,106}</string>
                <key>spriteSourceSize</key>
                <string>{60,106}</string>
                <key>textureRect</key>
                <string>{{117,101},{60,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,101}</string>
                <key>spriteSourceSize</key>
                <string>{74,101}</string>
                <key>textureRect</key>
                <string>{{145,0},{74,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,105}</string>
                <key>spriteSourceSize</key>
                <string>{117,105}</string>
                <key>textureRect</key>
                <string>{{0,101},{117,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,154}</string>
                <key>spriteSourceSize</key>
                <string>{84,154}</string>
                <key>textureRect</key>
                <string>{{0,460},{84,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,186}</string>
                <key>spriteSourceSize</key>
                <string>{112,186}</string>
                <key>textureRect</key>
                <string>{{0,626},{112,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,166}</string>
                <key>spriteSourceSize</key>
                <string>{128,166}</string>
                <key>textureRect</key>
                <string>{{84,460},{128,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,140}</string>
                <key>spriteSourceSize</key>
                <string>{112,140}</string>
                <key>textureRect</key>
                <string>{{106,320},{112,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_attack_leftdown.png</string>
            <key>size</key>
            <string>{235,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ea6882e463eea22c857dbc3cf318c3e:b28c67485e69bf35914cd436920b9cdd:75c4d73df70f45aa62f9f9b6ed9498e6$</string>
            <key>textureFileName</key>
            <string>paladin_attack_leftdown.png</string>
        </dict>
    </dict>
</plist>
