<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_move_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{79,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{90,104}</string>
                <key>textureRect</key>
                <string>{{239,110},{90,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,104}</string>
                <key>spriteSourceSize</key>
                <string>{86,104}</string>
                <key>textureRect</key>
                <string>{{329,110},{86,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,102}</string>
                <key>spriteSourceSize</key>
                <string>{80,102}</string>
                <key>textureRect</key>
                <string>{{415,110},{80,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,106}</string>
                <key>spriteSourceSize</key>
                <string>{77,106}</string>
                <key>textureRect</key>
                <string>{{79,0},{77,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,108}</string>
                <key>textureRect</key>
                <string>{{156,0},{80,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{82,110}</string>
                <key>textureRect</key>
                <string>{{236,0},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,107}</string>
                <key>spriteSourceSize</key>
                <string>{83,107}</string>
                <key>textureRect</key>
                <string>{{318,0},{83,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,103}</string>
                <key>spriteSourceSize</key>
                <string>{75,103}</string>
                <key>textureRect</key>
                <string>{{401,0},{75,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,99}</string>
                <key>spriteSourceSize</key>
                <string>{75,99}</string>
                <key>textureRect</key>
                <string>{{0,110},{75,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,100}</string>
                <key>spriteSourceSize</key>
                <string>{78,100}</string>
                <key>textureRect</key>
                <string>{{75,110},{78,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_right (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,103}</string>
                <key>spriteSourceSize</key>
                <string>{86,103}</string>
                <key>textureRect</key>
                <string>{{153,110},{86,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_move_right.png</string>
            <key>size</key>
            <string>{495,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4547d57476e5d6465c8205399431b252:9c6e84b0b33a25ffbde4807a32c0db79:7287638dd83158dc7cd31209d97c6e63$</string>
            <key>textureFileName</key>
            <string>paladin_move_right.png</string>
        </dict>
    </dict>
</plist>
