<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_stand_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,97}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{798,0},{89,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{90,96}</string>
                <key>textureRect</key>
                <string>{{90,0},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,96}</string>
                <key>spriteSourceSize</key>
                <string>{89,96}</string>
                <key>textureRect</key>
                <string>{{180,0},{89,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,97}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{269,0},{89,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,98}</string>
                <key>spriteSourceSize</key>
                <string>{87,98}</string>
                <key>textureRect</key>
                <string>{{358,0},{87,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{88,98}</string>
                <key>textureRect</key>
                <string>{{445,0},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{88,98}</string>
                <key>textureRect</key>
                <string>{{533,0},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{88,98}</string>
                <key>textureRect</key>
                <string>{{621,0},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,98}</string>
                <key>spriteSourceSize</key>
                <string>{89,98}</string>
                <key>textureRect</key>
                <string>{{709,0},{89,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_stand_rightdown.png</string>
            <key>size</key>
            <string>{887,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf6bb0f17d5944b543b0331f675cb023:8063c4af0179b31024a10cb82ebb13f4:9e71b362913d4e7721b810a06ae4490b$</string>
            <key>textureFileName</key>
            <string>paladin_stand_rightdown.png</string>
        </dict>
    </dict>
</plist>
