<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_move_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,112}</string>
                <key>spriteSourceSize</key>
                <string>{97,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,116}</string>
                <key>spriteSourceSize</key>
                <string>{97,116}</string>
                <key>textureRect</key>
                <string>{{886,0},{97,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,116}</string>
                <key>spriteSourceSize</key>
                <string>{94,116}</string>
                <key>textureRect</key>
                <string>{{983,0},{94,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,113}</string>
                <key>spriteSourceSize</key>
                <string>{91,113}</string>
                <key>textureRect</key>
                <string>{{1077,0},{91,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,112}</string>
                <key>spriteSourceSize</key>
                <string>{95,112}</string>
                <key>textureRect</key>
                <string>{{97,0},{95,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,114}</string>
                <key>spriteSourceSize</key>
                <string>{102,114}</string>
                <key>textureRect</key>
                <string>{{192,0},{102,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,115}</string>
                <key>spriteSourceSize</key>
                <string>{105,115}</string>
                <key>textureRect</key>
                <string>{{294,0},{105,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,116}</string>
                <key>spriteSourceSize</key>
                <string>{102,116}</string>
                <key>textureRect</key>
                <string>{{399,0},{102,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,112}</string>
                <key>spriteSourceSize</key>
                <string>{98,112}</string>
                <key>textureRect</key>
                <string>{{501,0},{98,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,109}</string>
                <key>spriteSourceSize</key>
                <string>{97,109}</string>
                <key>textureRect</key>
                <string>{{599,0},{97,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,111}</string>
                <key>spriteSourceSize</key>
                <string>{95,111}</string>
                <key>textureRect</key>
                <string>{{696,0},{95,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,113}</string>
                <key>spriteSourceSize</key>
                <string>{95,113}</string>
                <key>textureRect</key>
                <string>{{791,0},{95,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_move_leftup.png</string>
            <key>size</key>
            <string>{1168,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45c202cb4d42dc4274510c55fa69af5c:9529166d1a219395b8814f3f4fdea251:044e2847b9c82db223cff63398e6d6db$</string>
            <key>textureFileName</key>
            <string>paladin_move_leftup.png</string>
        </dict>
    </dict>
</plist>
