<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_stand_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,109}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,109}</string>
                <key>spriteSourceSize</key>
                <string>{58,109}</string>
                <key>textureRect</key>
                <string>{{0,109},{58,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,109}</string>
                <key>spriteSourceSize</key>
                <string>{59,109}</string>
                <key>textureRect</key>
                <string>{{0,218},{59,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,109}</string>
                <key>spriteSourceSize</key>
                <string>{59,109}</string>
                <key>textureRect</key>
                <string>{{0,327},{59,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,110}</string>
                <key>spriteSourceSize</key>
                <string>{58,110}</string>
                <key>textureRect</key>
                <string>{{0,436},{58,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,110}</string>
                <key>spriteSourceSize</key>
                <string>{59,110}</string>
                <key>textureRect</key>
                <string>{{0,546},{59,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,110}</string>
                <key>spriteSourceSize</key>
                <string>{60,110}</string>
                <key>textureRect</key>
                <string>{{0,656},{60,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,110}</string>
                <key>spriteSourceSize</key>
                <string>{61,110}</string>
                <key>textureRect</key>
                <string>{{0,766},{61,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,110}</string>
                <key>spriteSourceSize</key>
                <string>{56,110}</string>
                <key>textureRect</key>
                <string>{{0,876},{56,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_stand_leftdown.png</string>
            <key>size</key>
            <string>{61,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d877b1e8264b9cfbcb3da8d7f1a41215:2e3973f3c5d5cb9dedbfb51801d50d37:ddf74d4824c197397904b7979d79d660$</string>
            <key>textureFileName</key>
            <string>paladin_stand_leftdown.png</string>
        </dict>
    </dict>
</plist>
