<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_move_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,91}</string>
                <key>spriteSourceSize</key>
                <string>{87,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,100}</string>
                <key>spriteSourceSize</key>
                <string>{88,100}</string>
                <key>textureRect</key>
                <string>{{845,0},{88,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{88,98}</string>
                <key>textureRect</key>
                <string>{{933,0},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,94}</string>
                <key>spriteSourceSize</key>
                <string>{83,94}</string>
                <key>textureRect</key>
                <string>{{1021,0},{83,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,93}</string>
                <key>spriteSourceSize</key>
                <string>{98,93}</string>
                <key>textureRect</key>
                <string>{{87,0},{98,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,97}</string>
                <key>spriteSourceSize</key>
                <string>{100,97}</string>
                <key>textureRect</key>
                <string>{{185,0},{100,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,102}</string>
                <key>spriteSourceSize</key>
                <string>{99,102}</string>
                <key>textureRect</key>
                <string>{{285,0},{99,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,102}</string>
                <key>spriteSourceSize</key>
                <string>{99,102}</string>
                <key>textureRect</key>
                <string>{{384,0},{99,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,96}</string>
                <key>textureRect</key>
                <string>{{483,0},{97,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,87}</string>
                <key>spriteSourceSize</key>
                <string>{94,87}</string>
                <key>textureRect</key>
                <string>{{580,0},{94,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{674,0},{89,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,97}</string>
                <key>spriteSourceSize</key>
                <string>{82,97}</string>
                <key>textureRect</key>
                <string>{{763,0},{82,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_move_rightdown.png</string>
            <key>size</key>
            <string>{1104,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e54a2ac5c40f2bcf7d6be6e6508d2d8:f412e4760e15aab0eea804bc86d489b8:4ef0731d99fbd976028bdd7749664570$</string>
            <key>textureFileName</key>
            <string>paladin_move_rightdown.png</string>
        </dict>
    </dict>
</plist>
