<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_skill1_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,113}</string>
                <key>spriteSourceSize</key>
                <string>{68,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,119}</string>
                <key>spriteSourceSize</key>
                <string>{52,119}</string>
                <key>textureRect</key>
                <string>{{68,0},{52,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,120}</string>
                <key>spriteSourceSize</key>
                <string>{69,120}</string>
                <key>textureRect</key>
                <string>{{120,0},{69,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,120}</string>
                <key>spriteSourceSize</key>
                <string>{74,120}</string>
                <key>textureRect</key>
                <string>{{189,0},{74,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,119}</string>
                <key>spriteSourceSize</key>
                <string>{75,119}</string>
                <key>textureRect</key>
                <string>{{263,0},{75,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,119}</string>
                <key>spriteSourceSize</key>
                <string>{74,119}</string>
                <key>textureRect</key>
                <string>{{338,0},{74,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,120}</string>
                <key>spriteSourceSize</key>
                <string>{69,120}</string>
                <key>textureRect</key>
                <string>{{412,0},{69,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,119}</string>
                <key>spriteSourceSize</key>
                <string>{54,119}</string>
                <key>textureRect</key>
                <string>{{481,0},{54,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_skill1_leftdown.png</string>
            <key>size</key>
            <string>{535,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cafb2b68926c57904fd1369517d8307:bb6cf58c06563af6ff09f1a74962428d:38c708505fd7fd8e5bf5a43f1e19ac62$</string>
            <key>textureFileName</key>
            <string>paladin_skill1_leftdown.png</string>
        </dict>
    </dict>
</plist>
