<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_attack_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,106}</string>
                <key>spriteSourceSize</key>
                <string>{87,106}</string>
                <key>textureRect</key>
                <string>{{0,557},{87,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{0,680},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,95}</string>
                <key>spriteSourceSize</key>
                <string>{135,95}</string>
                <key>textureRect</key>
                <string>{{67,168},{135,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,97}</string>
                <key>spriteSourceSize</key>
                <string>{62,97}</string>
                <key>textureRect</key>
                <string>{{0,263},{62,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,94}</string>
                <key>spriteSourceSize</key>
                <string>{67,94}</string>
                <key>textureRect</key>
                <string>{{0,168},{67,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,98}</string>
                <key>spriteSourceSize</key>
                <string>{81,98}</string>
                <key>textureRect</key>
                <string>{{0,457},{81,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,99}</string>
                <key>spriteSourceSize</key>
                <string>{81,99}</string>
                <key>textureRect</key>
                <string>{{81,457},{81,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,100}</string>
                <key>spriteSourceSize</key>
                <string>{82,100}</string>
                <key>textureRect</key>
                <string>{{162,457},{82,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,132}</string>
                <key>spriteSourceSize</key>
                <string>{97,132}</string>
                <key>textureRect</key>
                <string>{{144,680},{97,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,123}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{87,557},{148,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,97}</string>
                <key>spriteSourceSize</key>
                <string>{232,97}</string>
                <key>textureRect</key>
                <string>{{0,360},{232,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,88}</string>
                <key>spriteSourceSize</key>
                <string>{197,88}</string>
                <key>textureRect</key>
                <string>{{0,80},{197,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,80}</string>
                <key>spriteSourceSize</key>
                <string>{173,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{173,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_attack_rightdown.png</string>
            <key>size</key>
            <string>{244,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:433fcf082c946c4fec3238450c8b9f4d:976bdcf0e686e5557282bbcb48ab16c7:fff22ced980882292d2c0ca5621ca034$</string>
            <key>textureFileName</key>
            <string>paladin_attack_rightdown.png</string>
        </dict>
    </dict>
</plist>
