<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_skill1_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,108}</string>
                <key>spriteSourceSize</key>
                <string>{71,108}</string>
                <key>textureRect</key>
                <string>{{0,0},{71,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,110}</string>
                <key>spriteSourceSize</key>
                <string>{50,110}</string>
                <key>textureRect</key>
                <string>{{71,0},{50,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,115}</string>
                <key>spriteSourceSize</key>
                <string>{59,115}</string>
                <key>textureRect</key>
                <string>{{121,0},{59,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,115}</string>
                <key>spriteSourceSize</key>
                <string>{64,115}</string>
                <key>textureRect</key>
                <string>{{180,0},{64,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,118}</string>
                <key>spriteSourceSize</key>
                <string>{65,118}</string>
                <key>textureRect</key>
                <string>{{0,115},{65,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,118}</string>
                <key>spriteSourceSize</key>
                <string>{64,118}</string>
                <key>textureRect</key>
                <string>{{65,115},{64,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,120}</string>
                <key>spriteSourceSize</key>
                <string>{62,120}</string>
                <key>textureRect</key>
                <string>{{129,115},{62,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,111}</string>
                <key>spriteSourceSize</key>
                <string>{57,111}</string>
                <key>textureRect</key>
                <string>{{191,115},{57,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_skill1_rightup.png</string>
            <key>size</key>
            <string>{248,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a75cddf0191a7087d61a73afd7046cd:7d7628df8f03fc68ee05cf6565252b6e:1097c7baa70b9790abb619f66b488660$</string>
            <key>textureFileName</key>
            <string>paladin_skill1_rightup.png</string>
        </dict>
    </dict>
</plist>
