<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_skill1_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,96}</string>
                <key>spriteSourceSize</key>
                <string>{97,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,107}</string>
                <key>spriteSourceSize</key>
                <string>{93,107}</string>
                <key>textureRect</key>
                <string>{{97,0},{93,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,115}</string>
                <key>spriteSourceSize</key>
                <string>{77,115}</string>
                <key>textureRect</key>
                <string>{{190,0},{77,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,118}</string>
                <key>spriteSourceSize</key>
                <string>{78,118}</string>
                <key>textureRect</key>
                <string>{{267,0},{78,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,119}</string>
                <key>spriteSourceSize</key>
                <string>{81,119}</string>
                <key>textureRect</key>
                <string>{{345,0},{81,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,118}</string>
                <key>spriteSourceSize</key>
                <string>{84,118}</string>
                <key>textureRect</key>
                <string>{{426,0},{84,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,115}</string>
                <key>spriteSourceSize</key>
                <string>{87,115}</string>
                <key>textureRect</key>
                <string>{{510,0},{87,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill1_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,106}</string>
                <key>spriteSourceSize</key>
                <string>{95,106}</string>
                <key>textureRect</key>
                <string>{{597,0},{95,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_skill1_leftup.png</string>
            <key>size</key>
            <string>{692,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fca52597cce2d0f336f4f4d2f676c99:0bdf6c86463378383e966f3edd8ebaac:1f01d37d32bb29ef4c003e66619b10c4$</string>
            <key>textureFileName</key>
            <string>paladin_skill1_leftup.png</string>
        </dict>
    </dict>
</plist>
