<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_dead_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,106}</string>
                <key>spriteSourceSize</key>
                <string>{87,106}</string>
                <key>textureRect</key>
                <string>{{0,107},{87,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,58}</string>
                <key>spriteSourceSize</key>
                <string>{106,58}</string>
                <key>textureRect</key>
                <string>{{0,307},{106,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,60}</string>
                <key>spriteSourceSize</key>
                <string>{107,60}</string>
                <key>textureRect</key>
                <string>{{106,307},{107,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,107}</string>
                <key>spriteSourceSize</key>
                <string>{81,107}</string>
                <key>textureRect</key>
                <string>{{77,0},{81,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,104}</string>
                <key>spriteSourceSize</key>
                <string>{85,104}</string>
                <key>textureRect</key>
                <string>{{158,0},{85,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,98}</string>
                <key>spriteSourceSize</key>
                <string>{77,98}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{87,107},{89,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,94}</string>
                <key>spriteSourceSize</key>
                <string>{99,94}</string>
                <key>textureRect</key>
                <string>{{0,213},{99,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,100}</string>
                <key>textureRect</key>
                <string>{{0,367},{110,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{110,367},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,61}</string>
                <key>spriteSourceSize</key>
                <string>{104,61}</string>
                <key>textureRect</key>
                <string>{{99,213},{104,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_dead_rightdown.png</string>
            <key>size</key>
            <string>{243,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbde9fd6d63258319fc94904b90ef9f3:a5fd1989314ebbd98fbf65b7fcdb1d82:e99e42e0634551e7ebb2d1f482531a00$</string>
            <key>textureFileName</key>
            <string>paladin_dead_rightdown.png</string>
        </dict>
    </dict>
</plist>
