<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_stand_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,104}</string>
                <key>spriteSourceSize</key>
                <string>{76,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{76,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,104}</string>
                <key>spriteSourceSize</key>
                <string>{76,104}</string>
                <key>textureRect</key>
                <string>{{76,0},{76,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,103}</string>
                <key>spriteSourceSize</key>
                <string>{76,103}</string>
                <key>textureRect</key>
                <string>{{152,0},{76,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,104}</string>
                <key>spriteSourceSize</key>
                <string>{77,104}</string>
                <key>textureRect</key>
                <string>{{228,0},{77,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,104}</string>
                <key>spriteSourceSize</key>
                <string>{77,104}</string>
                <key>textureRect</key>
                <string>{{305,0},{77,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,104}</string>
                <key>spriteSourceSize</key>
                <string>{79,104}</string>
                <key>textureRect</key>
                <string>{{382,0},{79,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,105}</string>
                <key>spriteSourceSize</key>
                <string>{79,105}</string>
                <key>textureRect</key>
                <string>{{461,0},{79,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,106}</string>
                <key>spriteSourceSize</key>
                <string>{80,106}</string>
                <key>textureRect</key>
                <string>{{540,0},{80,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_stand_left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,105}</string>
                <key>spriteSourceSize</key>
                <string>{80,105}</string>
                <key>textureRect</key>
                <string>{{620,0},{80,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_stand_left.png</string>
            <key>size</key>
            <string>{700,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7b35b6d8592f4beefdc0b84f0d3f6e1:dd3b18bf9d2bf634dd5f9c5c8d48a677:dba798e6db453aa2f8585c748267854b$</string>
            <key>textureFileName</key>
            <string>paladin_stand_left.png</string>
        </dict>
    </dict>
</plist>
