<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_skill2_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,161}</string>
                <key>spriteSourceSize</key>
                <string>{129,161}</string>
                <key>textureRect</key>
                <string>{{538,0},{129,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,271}</string>
                <key>spriteSourceSize</key>
                <string>{288,271}</string>
                <key>textureRect</key>
                <string>{{235,1035},{288,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,224}</string>
                <key>spriteSourceSize</key>
                <string>{333,224}</string>
                <key>textureRect</key>
                <string>{{311,805},{333,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,198}</string>
                <key>spriteSourceSize</key>
                <string>{324,198}</string>
                <key>textureRect</key>
                <string>{{225,185},{324,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,200}</string>
                <key>spriteSourceSize</key>
                <string>{322,200}</string>
                <key>textureRect</key>
                <string>{{0,384},{322,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,221}</string>
                <key>spriteSourceSize</key>
                <string>{311,221}</string>
                <key>textureRect</key>
                <string>{{0,805},{311,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,205}</string>
                <key>spriteSourceSize</key>
                <string>{321,205}</string>
                <key>textureRect</key>
                <string>{{322,384},{321,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,208}</string>
                <key>spriteSourceSize</key>
                <string>{346,208}</string>
                <key>textureRect</key>
                <string>{{219,590},{346,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,157}</string>
                <key>spriteSourceSize</key>
                <string>{339,157}</string>
                <key>textureRect</key>
                <string>{{199,0},{339,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,135}</string>
                <key>spriteSourceSize</key>
                <string>{199,135}</string>
                <key>textureRect</key>
                <string>{{0,0},{199,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,190}</string>
                <key>spriteSourceSize</key>
                <string>{225,190}</string>
                <key>textureRect</key>
                <string>{{0,185},{225,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,199}</string>
                <key>spriteSourceSize</key>
                <string>{279,199}</string>
                <key>textureRect</key>
                <string>{{549,185},{279,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,215}</string>
                <key>spriteSourceSize</key>
                <string>{261,215}</string>
                <key>textureRect</key>
                <string>{{565,590},{261,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,206}</string>
                <key>spriteSourceSize</key>
                <string>{259,206}</string>
                <key>textureRect</key>
                <string>{{643,384},{259,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,185}</string>
                <key>spriteSourceSize</key>
                <string>{254,185}</string>
                <key>textureRect</key>
                <string>{{667,0},{254,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,207}</string>
                <key>spriteSourceSize</key>
                <string>{219,207}</string>
                <key>textureRect</key>
                <string>{{0,590},{219,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,230}</string>
                <key>spriteSourceSize</key>
                <string>{251,230}</string>
                <key>textureRect</key>
                <string>{{644,805},{251,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill2_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,263}</string>
                <key>spriteSourceSize</key>
                <string>{235,263}</string>
                <key>textureRect</key>
                <string>{{0,1035},{235,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_skill2_leftup.png</string>
            <key>size</key>
            <string>{921,1306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcf15ab90c45e48ea162cdae24c7e941:233c4b1e86f9f1fa74b80c4b68bf978a:ce5db2747008df897d37733e833c495f$</string>
            <key>textureFileName</key>
            <string>paladin_skill2_leftup.png</string>
        </dict>
    </dict>
</plist>
