<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_move_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,92}</string>
                <key>spriteSourceSize</key>
                <string>{79,92}</string>
                <key>textureRect</key>
                <string>{{168,0},{79,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,104}</string>
                <key>spriteSourceSize</key>
                <string>{70,104}</string>
                <key>textureRect</key>
                <string>{{0,291},{70,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,102}</string>
                <key>spriteSourceSize</key>
                <string>{70,102}</string>
                <key>textureRect</key>
                <string>{{176,189},{70,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,94}</string>
                <key>spriteSourceSize</key>
                <string>{72,94}</string>
                <key>textureRect</key>
                <string>{{0,92},{72,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,95}</string>
                <key>spriteSourceSize</key>
                <string>{85,95}</string>
                <key>textureRect</key>
                <string>{{72,92},{85,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,101}</string>
                <key>spriteSourceSize</key>
                <string>{87,101}</string>
                <key>textureRect</key>
                <string>{{89,189},{87,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,106}</string>
                <key>spriteSourceSize</key>
                <string>{88,106}</string>
                <key>textureRect</key>
                <string>{{70,291},{88,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{158,291},{90,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,99}</string>
                <key>spriteSourceSize</key>
                <string>{89,99}</string>
                <key>textureRect</key>
                <string>{{0,189},{89,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,91}</string>
                <key>spriteSourceSize</key>
                <string>{86,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,91}</string>
                <key>spriteSourceSize</key>
                <string>{82,91}</string>
                <key>textureRect</key>
                <string>{{86,0},{82,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,97}</string>
                <key>spriteSourceSize</key>
                <string>{76,97}</string>
                <key>textureRect</key>
                <string>{{157,92},{76,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_move_down.png</string>
            <key>size</key>
            <string>{248,397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a122c7255e0782931a7695aabf8472ed:81521d191d330127ed7e1dc9b930e93c:f3228d36e50277fc45eb61b586ca5c77$</string>
            <key>textureFileName</key>
            <string>paladin_move_down.png</string>
        </dict>
    </dict>
</plist>
