<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_move_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,104}</string>
                <key>spriteSourceSize</key>
                <string>{91,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{91,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,107}</string>
                <key>spriteSourceSize</key>
                <string>{93,107}</string>
                <key>textureRect</key>
                <string>{{0,318},{93,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,106}</string>
                <key>spriteSourceSize</key>
                <string>{92,106}</string>
                <key>textureRect</key>
                <string>{{0,105},{92,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,105}</string>
                <key>spriteSourceSize</key>
                <string>{92,105}</string>
                <key>textureRect</key>
                <string>{{91,0},{92,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,108}</string>
                <key>spriteSourceSize</key>
                <string>{91,108}</string>
                <key>textureRect</key>
                <string>{{93,318},{91,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,111}</string>
                <key>spriteSourceSize</key>
                <string>{89,111}</string>
                <key>textureRect</key>
                <string>{{94,537},{89,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,111}</string>
                <key>spriteSourceSize</key>
                <string>{92,111}</string>
                <key>textureRect</key>
                <string>{{88,426},{92,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,111}</string>
                <key>spriteSourceSize</key>
                <string>{94,111}</string>
                <key>textureRect</key>
                <string>{{0,537},{94,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{0,426},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,106}</string>
                <key>spriteSourceSize</key>
                <string>{87,106}</string>
                <key>textureRect</key>
                <string>{{0,211},{87,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,106}</string>
                <key>spriteSourceSize</key>
                <string>{91,106}</string>
                <key>textureRect</key>
                <string>{{92,105},{91,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,107}</string>
                <key>spriteSourceSize</key>
                <string>{93,107}</string>
                <key>textureRect</key>
                <string>{{87,211},{93,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_move_left.png</string>
            <key>size</key>
            <string>{184,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:205c91be80a0daf4dcec22d78053e91a:a72d24d650b4458e896ef564b313b4a3:2598ce703d356d9f235b0dfee4bb615d$</string>
            <key>textureFileName</key>
            <string>paladin_move_left.png</string>
        </dict>
    </dict>
</plist>
