<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_dead_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{92,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,52}</string>
                <key>spriteSourceSize</key>
                <string>{110,52}</string>
                <key>textureRect</key>
                <string>{{0,777},{110,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,50}</string>
                <key>spriteSourceSize</key>
                <string>{109,50}</string>
                <key>textureRect</key>
                <string>{{0,829},{109,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,100}</string>
                <key>spriteSourceSize</key>
                <string>{88,100}</string>
                <key>textureRect</key>
                <string>{{0,104},{88,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,94}</string>
                <key>spriteSourceSize</key>
                <string>{95,94}</string>
                <key>textureRect</key>
                <string>{{0,204},{95,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,95}</string>
                <key>spriteSourceSize</key>
                <string>{100,95}</string>
                <key>textureRect</key>
                <string>{{0,298},{100,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,95}</string>
                <key>spriteSourceSize</key>
                <string>{107,95}</string>
                <key>textureRect</key>
                <string>{{0,393},{107,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,81}</string>
                <key>spriteSourceSize</key>
                <string>{116,81}</string>
                <key>textureRect</key>
                <string>{{0,488},{116,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,81}</string>
                <key>spriteSourceSize</key>
                <string>{122,81}</string>
                <key>textureRect</key>
                <string>{{0,569},{122,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,78}</string>
                <key>spriteSourceSize</key>
                <string>{119,78}</string>
                <key>textureRect</key>
                <string>{{0,650},{119,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_dead_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,49}</string>
                <key>spriteSourceSize</key>
                <string>{101,49}</string>
                <key>textureRect</key>
                <string>{{0,728},{101,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_dead_leftup.png</string>
            <key>size</key>
            <string>{122,879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a894e9367885c559209d54fbc301e4c:e018368004b301aba47758040e596f86:af72536a15f6be44cd07c3740a3f510a$</string>
            <key>textureFileName</key>
            <string>paladin_dead_leftup.png</string>
        </dict>
    </dict>
</plist>
