<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_skill_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,104}</string>
                <key>spriteSourceSize</key>
                <string>{82,104}</string>
                <key>textureRect</key>
                <string>{{75,0},{82,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,118}</string>
                <key>spriteSourceSize</key>
                <string>{123,118}</string>
                <key>textureRect</key>
                <string>{{110,114},{123,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,123}</string>
                <key>spriteSourceSize</key>
                <string>{110,123}</string>
                <key>textureRect</key>
                <string>{{0,114},{110,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,114}</string>
                <key>spriteSourceSize</key>
                <string>{90,114}</string>
                <key>textureRect</key>
                <string>{{157,0},{90,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_skill_leftup.png</string>
            <key>size</key>
            <string>{247,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e881deec9c2ced6619640a75ce7e7aee:70375498ed3b0d7a8f856197970b57b1:2490c4ec9a59199f278a14db629bbd39$</string>
            <key>textureFileName</key>
            <string>paladin_skill_leftup.png</string>
        </dict>
    </dict>
</plist>
