<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_move_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,113}</string>
                <key>spriteSourceSize</key>
                <string>{68,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{78,116}</string>
                <key>textureRect</key>
                <string>{{618,0},{78,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{696,0},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,114}</string>
                <key>spriteSourceSize</key>
                <string>{72,114}</string>
                <key>textureRect</key>
                <string>{{771,0},{72,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,116}</string>
                <key>spriteSourceSize</key>
                <string>{67,116}</string>
                <key>textureRect</key>
                <string>{{68,0},{67,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,118}</string>
                <key>spriteSourceSize</key>
                <string>{64,118}</string>
                <key>textureRect</key>
                <string>{{135,0},{64,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,119}</string>
                <key>spriteSourceSize</key>
                <string>{63,119}</string>
                <key>textureRect</key>
                <string>{{199,0},{63,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,116}</string>
                <key>spriteSourceSize</key>
                <string>{71,116}</string>
                <key>textureRect</key>
                <string>{{262,0},{71,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,113}</string>
                <key>spriteSourceSize</key>
                <string>{69,113}</string>
                <key>textureRect</key>
                <string>{{333,0},{69,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,111}</string>
                <key>spriteSourceSize</key>
                <string>{67,111}</string>
                <key>textureRect</key>
                <string>{{402,0},{67,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,114}</string>
                <key>spriteSourceSize</key>
                <string>{72,114}</string>
                <key>textureRect</key>
                <string>{{469,0},{72,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,116}</string>
                <key>spriteSourceSize</key>
                <string>{77,116}</string>
                <key>textureRect</key>
                <string>{{541,0},{77,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_move_rightup.png</string>
            <key>size</key>
            <string>{843,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:589d2202bbeb853106812f19c21daeed:b07ff7d9312265a2989a881f6ad37d63:36883efcaec38dcb085ef7838c0332ed$</string>
            <key>textureFileName</key>
            <string>paladin_move_rightup.png</string>
        </dict>
    </dict>
</plist>
