<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_attack_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,104}</string>
                <key>spriteSourceSize</key>
                <string>{93,104}</string>
                <key>textureRect</key>
                <string>{{0,202},{93,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,147}</string>
                <key>spriteSourceSize</key>
                <string>{139,147}</string>
                <key>textureRect</key>
                <string>{{0,808},{139,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,106}</string>
                <key>spriteSourceSize</key>
                <string>{123,106}</string>
                <key>textureRect</key>
                <string>{{93,202},{123,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,114}</string>
                <key>spriteSourceSize</key>
                <string>{73,114}</string>
                <key>textureRect</key>
                <string>{{129,308},{73,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{0,99},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,99}</string>
                <key>spriteSourceSize</key>
                <string>{83,99}</string>
                <key>textureRect</key>
                <string>{{145,0},{83,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,92}</string>
                <key>textureRect</key>
                <string>{{67,0},{78,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,86}</string>
                <key>spriteSourceSize</key>
                <string>{67,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{67,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,103}</string>
                <key>spriteSourceSize</key>
                <string>{89,103}</string>
                <key>textureRect</key>
                <string>{{80,99},{89,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,109}</string>
                <key>spriteSourceSize</key>
                <string>{129,109}</string>
                <key>textureRect</key>
                <string>{{0,308},{129,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,132}</string>
                <key>spriteSourceSize</key>
                <string>{246,132}</string>
                <key>textureRect</key>
                <string>{{0,676},{246,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,132}</string>
                <key>spriteSourceSize</key>
                <string>{208,132}</string>
                <key>textureRect</key>
                <string>{{0,544},{208,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_attack_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,122}</string>
                <key>spriteSourceSize</key>
                <string>{171,122}</string>
                <key>textureRect</key>
                <string>{{0,422},{171,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_attack_leftup.png</string>
            <key>size</key>
            <string>{246,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f526e5cf982bd3182445c0e5e7b023:fd74d5d77b496777ae25b240725cde56:8cfe3a2996d1dcd6db74d7007ef19dbc$</string>
            <key>textureFileName</key>
            <string>paladin_attack_leftup.png</string>
        </dict>
    </dict>
</plist>
