<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_skill_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,104}</string>
                <key>spriteSourceSize</key>
                <string>{52,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,94}</string>
                <key>spriteSourceSize</key>
                <string>{105,94}</string>
                <key>textureRect</key>
                <string>{{86,121},{105,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,119}</string>
                <key>spriteSourceSize</key>
                <string>{86,119}</string>
                <key>textureRect</key>
                <string>{{0,121},{86,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,121}</string>
                <key>spriteSourceSize</key>
                <string>{76,121}</string>
                <key>textureRect</key>
                <string>{{113,0},{76,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_skill_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,108}</string>
                <key>spriteSourceSize</key>
                <string>{61,108}</string>
                <key>textureRect</key>
                <string>{{52,0},{61,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_skill_rightup.png</string>
            <key>size</key>
            <string>{191,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:141a54cca9789932ffe98dd1d1535f3f:13cd556037c1719388e1afdea7cb4a2d:2cfa0e30d6ae69dc065d969f0d6b7ac9$</string>
            <key>textureFileName</key>
            <string>paladin_skill_rightup.png</string>
        </dict>
    </dict>
</plist>
