<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paladin_move_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{84,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,109}</string>
                <key>spriteSourceSize</key>
                <string>{83,109}</string>
                <key>textureRect</key>
                <string>{{81,313},{83,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,107}</string>
                <key>spriteSourceSize</key>
                <string>{82,107}</string>
                <key>textureRect</key>
                <string>{{161,204},{82,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,101}</string>
                <key>spriteSourceSize</key>
                <string>{83,101}</string>
                <key>textureRect</key>
                <string>{{83,100},{83,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,104}</string>
                <key>spriteSourceSize</key>
                <string>{81,104}</string>
                <key>textureRect</key>
                <string>{{166,100},{81,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,109}</string>
                <key>spriteSourceSize</key>
                <string>{77,109}</string>
                <key>textureRect</key>
                <string>{{0,204},{77,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,110}</string>
                <key>spriteSourceSize</key>
                <string>{81,110}</string>
                <key>textureRect</key>
                <string>{{0,313},{81,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,109}</string>
                <key>spriteSourceSize</key>
                <string>{83,109}</string>
                <key>textureRect</key>
                <string>{{164,313},{83,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,105}</string>
                <key>spriteSourceSize</key>
                <string>{84,105}</string>
                <key>textureRect</key>
                <string>{{77,204},{84,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,100}</string>
                <key>spriteSourceSize</key>
                <string>{81,100}</string>
                <key>textureRect</key>
                <string>{{166,0},{81,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,98}</string>
                <key>spriteSourceSize</key>
                <string>{82,98}</string>
                <key>textureRect</key>
                <string>{{84,0},{82,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paladin_move_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{0,100},{83,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paladin_move_leftdown.png</string>
            <key>size</key>
            <string>{247,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a6e4f37c1d1773ae85962e48584be91:1b8fde97c43f24001f50298674b068a8:26315ac4d4d5e2ab7562a1b392b1dcee$</string>
            <key>textureFileName</key>
            <string>paladin_move_leftdown.png</string>
        </dict>
    </dict>
</plist>
