<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{87,0},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>equipment.png</string>
            <key>size</key>
            <string>{174,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0bd1dcd56ca3953d1add6159ee82c6f:fd23d3669b759bd2ca25db321a4a7990:616c231709d59d56029c9c791ba7ab75$</string>
            <key>textureFileName</key>
            <string>equipment.png</string>
        </dict>
    </dict>
</plist>
