<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,34}</string>
                <key>spriteSourceSize</key>
                <string>{178,34}</string>
                <key>textureRect</key>
                <string>{{350,0},{178,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner_red_long.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{548,62}</string>
                <key>spriteSourceSize</key>
                <string>{548,62}</string>
                <key>textureRect</key>
                <string>{{0,61},{548,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner_subscribe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,122}</string>
                <key>spriteSourceSize</key>
                <string>{540,122}</string>
                <key>textureRect</key>
                <string>{{1303,61},{540,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,960}</string>
                <key>spriteSourceSize</key>
                <string>{640,960}</string>
                <key>textureRect</key>
                <string>{{0,629},{640,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bot_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,217}</string>
                <key>spriteSourceSize</key>
                <string>{622,217}</string>
                <key>textureRect</key>
                <string>{{0,183},{622,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1098,0},{200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,60}</string>
                <key>spriteSourceSize</key>
                <string>{154,60}</string>
                <key>textureRect</key>
                <string>{{1298,0},{154,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sm_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,61}</string>
                <key>spriteSourceSize</key>
                <string>{130,61}</string>
                <key>textureRect</key>
                <string>{{1452,0},{130,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,53}</string>
                <key>spriteSourceSize</key>
                <string>{63,53}</string>
                <key>textureRect</key>
                <string>{{729,0},{63,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,119}</string>
                <key>spriteSourceSize</key>
                <string>{167,119}</string>
                <key>textureRect</key>
                <string>{{1136,61},{167,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,119}</string>
                <key>spriteSourceSize</key>
                <string>{167,119}</string>
                <key>textureRect</key>
                <string>{{969,61},{167,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sellButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,85}</string>
                <key>spriteSourceSize</key>
                <string>{120,85}</string>
                <key>textureRect</key>
                <string>{{548,61},{120,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_figure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,446}</string>
                <key>spriteSourceSize</key>
                <string>{415,446}</string>
                <key>textureRect</key>
                <string>{{1323,183},{415,446}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,106}</string>
                <key>spriteSourceSize</key>
                <string>{301,106}</string>
                <key>textureRect</key>
                <string>{{668,61},{301,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>statusBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,225}</string>
                <key>spriteSourceSize</key>
                <string>{183,225}</string>
                <key>textureRect</key>
                <string>{{622,183},{183,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,245}</string>
                <key>spriteSourceSize</key>
                <string>{518,245}</string>
                <key>textureRect</key>
                <string>{{805,183},{518,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_be_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,39}</string>
                <key>spriteSourceSize</key>
                <string>{117,39}</string>
                <key>textureRect</key>
                <string>{{528,0},{117,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_diamond_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,28}</string>
                <key>spriteSourceSize</key>
                <string>{117,28}</string>
                <key>textureRect</key>
                <string>{{118,0},{117,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_sm_chongzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,28}</string>
                <key>spriteSourceSize</key>
                <string>{67,28}</string>
                <key>textureRect</key>
                <string>{{51,0},{67,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_sm_goumai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,44}</string>
                <key>spriteSourceSize</key>
                <string>{84,44}</string>
                <key>textureRect</key>
                <string>{{645,0},{84,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_subscribe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,29}</string>
                <key>spriteSourceSize</key>
                <string>{115,29}</string>
                <key>textureRect</key>
                <string>{{235,0},{115,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_title_chongzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,59}</string>
                <key>spriteSourceSize</key>
                <string>{127,59}</string>
                <key>textureRect</key>
                <string>{{971,0},{127,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_title_goumai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,59}</string>
                <key>spriteSourceSize</key>
                <string>{179,59}</string>
                <key>textureRect</key>
                <string>{{792,0},{179,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,26}</string>
                <key>spriteSourceSize</key>
                <string>{51,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{51,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,1350}</string>
                <key>spriteSourceSize</key>
                <string>{900,1350}</string>
                <key>textureRect</key>
                <string>{{640,629},{900,1350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>store.png</string>
            <key>size</key>
            <string>{1843,1979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a905d6eace86b204a95b79103e9d9ff:dcbe0809ef0e90c207faf1a40f37c858:ee0860f12ea04ba9ef83abc23bb8c439$</string>
            <key>textureFileName</key>
            <string>store.png</string>
        </dict>
    </dict>
</plist>
