<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_attack_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,120}</string>
                <key>spriteSourceSize</key>
                <string>{71,120}</string>
                <key>textureRect</key>
                <string>{{0,0},{71,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_attack_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,93}</string>
                <key>spriteSourceSize</key>
                <string>{153,93}</string>
                <key>textureRect</key>
                <string>{{71,0},{153,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_attack_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,102}</string>
                <key>spriteSourceSize</key>
                <string>{127,102}</string>
                <key>textureRect</key>
                <string>{{224,0},{127,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_attack_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,122}</string>
                <key>spriteSourceSize</key>
                <string>{93,122}</string>
                <key>textureRect</key>
                <string>{{351,0},{93,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_attack_right.png</string>
            <key>size</key>
            <string>{444,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:230e0915b30932c6aa9795ff23e5659c:4f46cff1f24b96c249b7e603a5ae6f49:3353a531ab2a7deec248f24fa7c27f9e$</string>
            <key>textureFileName</key>
            <string>ranger_attack_right.png</string>
        </dict>
    </dict>
</plist>
