<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_dead_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,97}</string>
                <key>spriteSourceSize</key>
                <string>{138,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,92}</string>
                <key>spriteSourceSize</key>
                <string>{154,92}</string>
                <key>textureRect</key>
                <string>{{138,0},{154,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{157,86}</string>
                <key>textureRect</key>
                <string>{{292,0},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,84}</string>
                <key>spriteSourceSize</key>
                <string>{159,84}</string>
                <key>textureRect</key>
                <string>{{0,97},{159,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,73}</string>
                <key>spriteSourceSize</key>
                <string>{147,73}</string>
                <key>textureRect</key>
                <string>{{159,97},{147,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,51}</string>
                <key>spriteSourceSize</key>
                <string>{154,51}</string>
                <key>textureRect</key>
                <string>{{306,97},{154,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,47}</string>
                <key>spriteSourceSize</key>
                <string>{156,47}</string>
                <key>textureRect</key>
                <string>{{0,181},{156,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_dead_left.png</string>
            <key>size</key>
            <string>{460,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5cd657ba1ac136d32e6a09f513054a5:9317058c8eab2977b0ae99409e0881e2:dee477a7691f97e3e3a3ce40df109379$</string>
            <key>textureFileName</key>
            <string>ranger_dead_left.png</string>
        </dict>
    </dict>
</plist>
