<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill1_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,89}</string>
                <key>spriteSourceSize</key>
                <string>{147,89}</string>
                <key>textureRect</key>
                <string>{{0,89},{147,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,115}</string>
                <key>spriteSourceSize</key>
                <string>{83,115}</string>
                <key>textureRect</key>
                <string>{{250,276},{83,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{0,181},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,88}</string>
                <key>spriteSourceSize</key>
                <string>{151,88}</string>
                <key>textureRect</key>
                <string>{{145,0},{151,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,88}</string>
                <key>spriteSourceSize</key>
                <string>{145,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{145,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,92}</string>
                <key>spriteSourceSize</key>
                <string>{152,92}</string>
                <key>textureRect</key>
                <string>{{98,181},{152,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,95}</string>
                <key>spriteSourceSize</key>
                <string>{152,95}</string>
                <key>textureRect</key>
                <string>{{0,276},{152,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,92}</string>
                <key>spriteSourceSize</key>
                <string>{136,92}</string>
                <key>textureRect</key>
                <string>{{300,89},{136,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{152,276},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,95}</string>
                <key>spriteSourceSize</key>
                <string>{101,95}</string>
                <key>textureRect</key>
                <string>{{250,181},{101,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,89}</string>
                <key>spriteSourceSize</key>
                <string>{134,89}</string>
                <key>textureRect</key>
                <string>{{296,0},{134,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,89}</string>
                <key>spriteSourceSize</key>
                <string>{153,89}</string>
                <key>textureRect</key>
                <string>{{147,89},{153,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,140}</string>
                <key>spriteSourceSize</key>
                <string>{83,140}</string>
                <key>textureRect</key>
                <string>{{333,276},{83,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill1_leftdown.png</string>
            <key>size</key>
            <string>{436,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:752614e70e84b449c387306756d3bffa:9c8eb062c879a18a2b09f8cfa9577d98:7f26a336ee808e27aed20947bb604475$</string>
            <key>textureFileName</key>
            <string>ranger_skill1_leftdown.png</string>
        </dict>
    </dict>
</plist>
