<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_stand_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{97,105},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,106}</string>
                <key>spriteSourceSize</key>
                <string>{99,106}</string>
                <key>textureRect</key>
                <string>{{0,211},{99,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,106}</string>
                <key>spriteSourceSize</key>
                <string>{99,106}</string>
                <key>textureRect</key>
                <string>{{99,211},{99,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,107}</string>
                <key>spriteSourceSize</key>
                <string>{98,107}</string>
                <key>textureRect</key>
                <string>{{97,317},{98,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,107}</string>
                <key>spriteSourceSize</key>
                <string>{97,107}</string>
                <key>textureRect</key>
                <string>{{0,317},{97,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,106}</string>
                <key>spriteSourceSize</key>
                <string>{97,106}</string>
                <key>textureRect</key>
                <string>{{0,105},{97,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,105}</string>
                <key>spriteSourceSize</key>
                <string>{98,105}</string>
                <key>textureRect</key>
                <string>{{99,0},{98,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,105}</string>
                <key>spriteSourceSize</key>
                <string>{99,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_stand_leftdown.png</string>
            <key>size</key>
            <string>{198,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99414c17f624a735b0e766c9e69c2e97:236a5c1f9f6454341d8101bbef6c5341:16ce3572b88de745aca34778cf5771d4$</string>
            <key>textureFileName</key>
            <string>ranger_stand_leftdown.png</string>
        </dict>
    </dict>
</plist>
