<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill2_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,95}</string>
                <key>spriteSourceSize</key>
                <string>{144,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{144,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,94}</string>
                <key>spriteSourceSize</key>
                <string>{124,94}</string>
                <key>textureRect</key>
                <string>{{144,0},{124,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{109,110}</string>
                <key>textureRect</key>
                <string>{{268,0},{109,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,115}</string>
                <key>spriteSourceSize</key>
                <string>{101,115}</string>
                <key>textureRect</key>
                <string>{{377,0},{101,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,91}</string>
                <key>spriteSourceSize</key>
                <string>{121,91}</string>
                <key>textureRect</key>
                <string>{{478,0},{121,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill2_rightdown.png</string>
            <key>size</key>
            <string>{599,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecd17aab5f331534121bc6fc60da5224:e1fbad17c507061462ad9d2d05466d7d:7c9fbfa4a285af6b1b077626c42d7fd6$</string>
            <key>textureFileName</key>
            <string>ranger_skill2_rightdown.png</string>
        </dict>
    </dict>
</plist>
