<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,145}</string>
                <key>spriteSourceSize</key>
                <string>{71,145}</string>
                <key>textureRect</key>
                <string>{{171,330},{71,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,96}</string>
                <key>spriteSourceSize</key>
                <string>{60,96}</string>
                <key>textureRect</key>
                <string>{{145,94},{60,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,96}</string>
                <key>spriteSourceSize</key>
                <string>{145,96}</string>
                <key>textureRect</key>
                <string>{{0,94},{145,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,94}</string>
                <key>spriteSourceSize</key>
                <string>{151,94}</string>
                <key>textureRect</key>
                <string>{{314,0},{151,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,105}</string>
                <key>spriteSourceSize</key>
                <string>{145,105}</string>
                <key>textureRect</key>
                <string>{{205,94},{145,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,135}</string>
                <key>spriteSourceSize</key>
                <string>{112,135}</string>
                <key>textureRect</key>
                <string>{{59,330},{112,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,158}</string>
                <key>spriteSourceSize</key>
                <string>{56,158}</string>
                <key>textureRect</key>
                <string>{{310,330},{56,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,129}</string>
                <key>spriteSourceSize</key>
                <string>{59,129}</string>
                <key>textureRect</key>
                <string>{{0,330},{59,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,121}</string>
                <key>spriteSourceSize</key>
                <string>{58,121}</string>
                <key>textureRect</key>
                <string>{{267,202},{58,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{350,94},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,117}</string>
                <key>spriteSourceSize</key>
                <string>{147,117}</string>
                <key>textureRect</key>
                <string>{{120,202},{147,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,128}</string>
                <key>spriteSourceSize</key>
                <string>{113,128}</string>
                <key>textureRect</key>
                <string>{{325,202},{113,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,145}</string>
                <key>spriteSourceSize</key>
                <string>{68,145}</string>
                <key>textureRect</key>
                <string>{{242,330},{68,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,91}</string>
                <key>spriteSourceSize</key>
                <string>{160,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,108}</string>
                <key>spriteSourceSize</key>
                <string>{120,108}</string>
                <key>textureRect</key>
                <string>{{0,202},{120,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_up (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,92}</string>
                <key>spriteSourceSize</key>
                <string>{154,92}</string>
                <key>textureRect</key>
                <string>{{160,0},{154,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill_up.png</string>
            <key>size</key>
            <string>{465,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83ec2d2455647936a6c5f60b00c3b601:75e6bc9e5b1d004fede768d02cf30616:e41927e38cfdb9fc2e12bff69a65810a$</string>
            <key>textureFileName</key>
            <string>ranger_skill_up.png</string>
        </dict>
    </dict>
</plist>
