<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill1_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{83,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{83,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,93}</string>
                <key>spriteSourceSize</key>
                <string>{133,93}</string>
                <key>textureRect</key>
                <string>{{0,497},{133,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,96}</string>
                <key>spriteSourceSize</key>
                <string>{73,96}</string>
                <key>textureRect</key>
                <string>{{133,497},{73,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,94}</string>
                <key>spriteSourceSize</key>
                <string>{89,94}</string>
                <key>textureRect</key>
                <string>{{0,593},{89,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{70,95}</string>
                <key>textureRect</key>
                <string>{{89,593},{70,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,96}</string>
                <key>spriteSourceSize</key>
                <string>{60,96}</string>
                <key>textureRect</key>
                <string>{{159,593},{60,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,87}</string>
                <key>spriteSourceSize</key>
                <string>{64,87}</string>
                <key>textureRect</key>
                <string>{{83,0},{64,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,111}</string>
                <key>spriteSourceSize</key>
                <string>{74,111}</string>
                <key>textureRect</key>
                <string>{{147,0},{74,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,118}</string>
                <key>spriteSourceSize</key>
                <string>{123,118}</string>
                <key>textureRect</key>
                <string>{{0,111},{123,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,130}</string>
                <key>spriteSourceSize</key>
                <string>{113,130}</string>
                <key>textureRect</key>
                <string>{{123,111},{113,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,129}</string>
                <key>spriteSourceSize</key>
                <string>{87,129}</string>
                <key>textureRect</key>
                <string>{{0,241},{87,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,129}</string>
                <key>spriteSourceSize</key>
                <string>{64,129}</string>
                <key>textureRect</key>
                <string>{{87,241},{64,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,127}</string>
                <key>spriteSourceSize</key>
                <string>{109,127}</string>
                <key>textureRect</key>
                <string>{{0,370},{109,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,101}</string>
                <key>spriteSourceSize</key>
                <string>{73,101}</string>
                <key>textureRect</key>
                <string>{{109,370},{73,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill1_leftup.png</string>
            <key>size</key>
            <string>{236,689}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02b7b6ccc02f884ce0e56ddacc64d1cc:746e8a59ede00b28b532496cd4b283f1:be194021ceafae7fb3400a1d20068b4e$</string>
            <key>textureFileName</key>
            <string>ranger_skill1_leftup.png</string>
        </dict>
    </dict>
</plist>
