<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_behit_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,87}</string>
                <key>spriteSourceSize</key>
                <string>{120,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_behit_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,96}</string>
                <key>spriteSourceSize</key>
                <string>{99,96}</string>
                <key>textureRect</key>
                <string>{{120,0},{99,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_behit_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,91}</string>
                <key>spriteSourceSize</key>
                <string>{69,91}</string>
                <key>textureRect</key>
                <string>{{219,0},{69,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_behit_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,93}</string>
                <key>spriteSourceSize</key>
                <string>{57,93}</string>
                <key>textureRect</key>
                <string>{{288,0},{57,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_behit_up.png</string>
            <key>size</key>
            <string>{345,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f653909564d5280d36babb51b8c0e7c9:e934617a0b67d37f6bd15db746109f62:4b9d8434877da5cd2035a17bf84c05dd$</string>
            <key>textureFileName</key>
            <string>ranger_behit_up.png</string>
        </dict>
    </dict>
</plist>
