<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill2_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,97}</string>
                <key>spriteSourceSize</key>
                <string>{83,97}</string>
                <key>textureRect</key>
                <string>{{0,0},{83,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,96}</string>
                <key>spriteSourceSize</key>
                <string>{63,96}</string>
                <key>textureRect</key>
                <string>{{83,0},{63,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,97}</string>
                <key>spriteSourceSize</key>
                <string>{58,97}</string>
                <key>textureRect</key>
                <string>{{146,0},{58,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,105}</string>
                <key>spriteSourceSize</key>
                <string>{57,105}</string>
                <key>textureRect</key>
                <string>{{204,0},{57,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,97}</string>
                <key>spriteSourceSize</key>
                <string>{57,97}</string>
                <key>textureRect</key>
                <string>{{261,0},{57,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill2_down.png</string>
            <key>size</key>
            <string>{318,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83a0515b7e14bb51c6e866b641f14c85:f758cdf745428e919b467fd97e1046a6:94db44fda5fe8c514311f6e80c96b079$</string>
            <key>textureFileName</key>
            <string>ranger_skill2_down.png</string>
        </dict>
    </dict>
</plist>
