<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_stand_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,93}</string>
                <key>spriteSourceSize</key>
                <string>{55,93}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,94}</string>
                <key>spriteSourceSize</key>
                <string>{56,94}</string>
                <key>textureRect</key>
                <string>{{55,0},{56,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,93}</string>
                <key>spriteSourceSize</key>
                <string>{56,93}</string>
                <key>textureRect</key>
                <string>{{111,0},{56,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,93}</string>
                <key>spriteSourceSize</key>
                <string>{54,93}</string>
                <key>textureRect</key>
                <string>{{167,0},{54,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,93}</string>
                <key>spriteSourceSize</key>
                <string>{54,93}</string>
                <key>textureRect</key>
                <string>{{221,0},{54,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,93}</string>
                <key>spriteSourceSize</key>
                <string>{54,93}</string>
                <key>textureRect</key>
                <string>{{275,0},{54,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,93}</string>
                <key>spriteSourceSize</key>
                <string>{54,93}</string>
                <key>textureRect</key>
                <string>{{329,0},{54,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,93}</string>
                <key>spriteSourceSize</key>
                <string>{55,93}</string>
                <key>textureRect</key>
                <string>{{383,0},{55,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_stand_up.png</string>
            <key>size</key>
            <string>{438,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b5f96667808827e4eedcd3e5e3f1d14:f2619f3685d8a2d4852d81d71ba7697d:c03bbcaff72dad25ffae0db179b27a5d$</string>
            <key>textureFileName</key>
            <string>ranger_stand_up.png</string>
        </dict>
    </dict>
</plist>
