<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill2_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,94}</string>
                <key>spriteSourceSize</key>
                <string>{142,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{142,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,126}</string>
                <key>spriteSourceSize</key>
                <string>{127,126}</string>
                <key>textureRect</key>
                <string>{{0,94},{127,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,142}</string>
                <key>spriteSourceSize</key>
                <string>{124,142}</string>
                <key>textureRect</key>
                <string>{{127,94},{124,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,144}</string>
                <key>spriteSourceSize</key>
                <string>{110,144}</string>
                <key>textureRect</key>
                <string>{{0,236},{110,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,112}</string>
                <key>spriteSourceSize</key>
                <string>{130,112}</string>
                <key>textureRect</key>
                <string>{{110,236},{130,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill2_right.png</string>
            <key>size</key>
            <string>{251,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b50f06823ace9c95371324c83eb7c830:10ae2745059ede2f82b208196eae4faa:2cc528b66507fba8bfe22fb012a611d4$</string>
            <key>textureFileName</key>
            <string>ranger_skill2_right.png</string>
        </dict>
    </dict>
</plist>
