<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,105}</string>
                <key>spriteSourceSize</key>
                <string>{123,105}</string>
                <key>textureRect</key>
                <string>{{97,456},{123,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,86}</string>
                <key>spriteSourceSize</key>
                <string>{155,86}</string>
                <key>textureRect</key>
                <string>{{0,86},{155,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,102}</string>
                <key>spriteSourceSize</key>
                <string>{97,102}</string>
                <key>textureRect</key>
                <string>{{0,456},{97,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{94,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,86}</string>
                <key>spriteSourceSize</key>
                <string>{68,86}</string>
                <key>textureRect</key>
                <string>{{94,0},{68,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,92}</string>
                <key>spriteSourceSize</key>
                <string>{73,92}</string>
                <key>textureRect</key>
                <string>{{135,172},{73,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,111}</string>
                <key>spriteSourceSize</key>
                <string>{105,111}</string>
                <key>textureRect</key>
                <string>{{111,561},{105,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,94}</string>
                <key>spriteSourceSize</key>
                <string>{148,94}</string>
                <key>textureRect</key>
                <string>{{0,264},{148,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,139}</string>
                <key>spriteSourceSize</key>
                <string>{70,139}</string>
                <key>textureRect</key>
                <string>{{0,672},{70,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,144}</string>
                <key>spriteSourceSize</key>
                <string>{82,144}</string>
                <key>textureRect</key>
                <string>{{70,672},{82,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,146}</string>
                <key>spriteSourceSize</key>
                <string>{66,146}</string>
                <key>textureRect</key>
                <string>{{152,672},{66,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,107}</string>
                <key>spriteSourceSize</key>
                <string>{111,107}</string>
                <key>textureRect</key>
                <string>{{0,561},{111,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,90}</string>
                <key>spriteSourceSize</key>
                <string>{135,90}</string>
                <key>textureRect</key>
                <string>{{0,172},{135,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,96}</string>
                <key>spriteSourceSize</key>
                <string>{79,96}</string>
                <key>textureRect</key>
                <string>{{0,358},{79,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,98}</string>
                <key>spriteSourceSize</key>
                <string>{140,98}</string>
                <key>textureRect</key>
                <string>{{79,358},{140,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{93,94}</string>
                <key>textureRect</key>
                <string>{{148,264},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill_left.png</string>
            <key>size</key>
            <string>{241,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d467078d4b44526e086c22e25e8c3f03:4540ad277d21026c90e644e99be2c4ad:80534e5dcc29f15bc4cbce99d505cd83$</string>
            <key>textureFileName</key>
            <string>ranger_skill_left.png</string>
        </dict>
    </dict>
</plist>
