<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,113}</string>
                <key>spriteSourceSize</key>
                <string>{121,113}</string>
                <key>textureRect</key>
                <string>{{198,192},{121,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,87}</string>
                <key>spriteSourceSize</key>
                <string>{110,87}</string>
                <key>textureRect</key>
                <string>{{150,0},{110,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,107}</string>
                <key>spriteSourceSize</key>
                <string>{86,107}</string>
                <key>textureRect</key>
                <string>{{112,192},{86,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,99}</string>
                <key>spriteSourceSize</key>
                <string>{145,99}</string>
                <key>textureRect</key>
                <string>{{126,93},{145,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,144}</string>
                <key>spriteSourceSize</key>
                <string>{102,144}</string>
                <key>textureRect</key>
                <string>{{156,309},{102,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,157}</string>
                <key>spriteSourceSize</key>
                <string>{65,157}</string>
                <key>textureRect</key>
                <string>{{258,309},{65,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,160}</string>
                <key>spriteSourceSize</key>
                <string>{74,160}</string>
                <key>textureRect</key>
                <string>{{323,309},{74,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,107}</string>
                <key>spriteSourceSize</key>
                <string>{112,107}</string>
                <key>textureRect</key>
                <string>{{0,192},{112,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,117}</string>
                <key>spriteSourceSize</key>
                <string>{64,117}</string>
                <key>textureRect</key>
                <string>{{319,192},{64,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,93}</string>
                <key>spriteSourceSize</key>
                <string>{59,93}</string>
                <key>textureRect</key>
                <string>{{371,0},{59,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,89}</string>
                <key>spriteSourceSize</key>
                <string>{111,89}</string>
                <key>textureRect</key>
                <string>{{260,0},{111,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,99}</string>
                <key>textureRect</key>
                <string>{{271,93},{154,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,135}</string>
                <key>spriteSourceSize</key>
                <string>{83,135}</string>
                <key>textureRect</key>
                <string>{{73,309},{83,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,96}</string>
                <key>spriteSourceSize</key>
                <string>{126,96}</string>
                <key>textureRect</key>
                <string>{{0,93},{126,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,121}</string>
                <key>spriteSourceSize</key>
                <string>{73,121}</string>
                <key>textureRect</key>
                <string>{{0,309},{73,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,85}</string>
                <key>spriteSourceSize</key>
                <string>{150,85}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill_rightup.png</string>
            <key>size</key>
            <string>{430,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78ebf2b9c9e0e228fe33c8048d92c91a:6367d09db66bbf0fc38e85b542f86478:6727855069d2b948bc3d1977508658e5$</string>
            <key>textureFileName</key>
            <string>ranger_skill_rightup.png</string>
        </dict>
    </dict>
</plist>
