<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,93}</string>
                <key>spriteSourceSize</key>
                <string>{72,93}</string>
                <key>textureRect</key>
                <string>{{157,89},{72,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,120}</string>
                <key>spriteSourceSize</key>
                <string>{62,120}</string>
                <key>textureRect</key>
                <string>{{261,282},{62,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,77}</string>
                <key>spriteSourceSize</key>
                <string>{148,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{148,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,98}</string>
                <key>spriteSourceSize</key>
                <string>{149,98}</string>
                <key>textureRect</key>
                <string>{{238,184},{149,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,83}</string>
                <key>spriteSourceSize</key>
                <string>{148,83}</string>
                <key>textureRect</key>
                <string>{{148,0},{148,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,101}</string>
                <key>spriteSourceSize</key>
                <string>{114,101}</string>
                <key>textureRect</key>
                <string>{{147,282},{114,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,95}</string>
                <key>spriteSourceSize</key>
                <string>{56,95}</string>
                <key>textureRect</key>
                <string>{{0,184},{56,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,95}</string>
                <key>spriteSourceSize</key>
                <string>{61,95}</string>
                <key>textureRect</key>
                <string>{{386,89},{61,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,161}</string>
                <key>spriteSourceSize</key>
                <string>{58,161}</string>
                <key>textureRect</key>
                <string>{{413,282},{58,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,136}</string>
                <key>spriteSourceSize</key>
                <string>{90,136}</string>
                <key>textureRect</key>
                <string>{{323,282},{90,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,99}</string>
                <key>spriteSourceSize</key>
                <string>{147,99}</string>
                <key>textureRect</key>
                <string>{{0,282},{147,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,97}</string>
                <key>spriteSourceSize</key>
                <string>{113,97}</string>
                <key>textureRect</key>
                <string>{{125,184},{113,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,97}</string>
                <key>spriteSourceSize</key>
                <string>{69,97}</string>
                <key>textureRect</key>
                <string>{{56,184},{69,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,94}</string>
                <key>spriteSourceSize</key>
                <string>{157,94}</string>
                <key>textureRect</key>
                <string>{{229,89},{157,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,89}</string>
                <key>spriteSourceSize</key>
                <string>{117,89}</string>
                <key>textureRect</key>
                <string>{{296,0},{117,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,91}</string>
                <key>spriteSourceSize</key>
                <string>{157,91}</string>
                <key>textureRect</key>
                <string>{{0,89},{157,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill_down.png</string>
            <key>size</key>
            <string>{471,443}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d3d572c38f6b90b60a5b31bac90f1a:3819c2c8fcb74c7287efc3770502020f:98e81736eb9e9e089f45d8299cb35210$</string>
            <key>textureFileName</key>
            <string>ranger_skill_down.png</string>
        </dict>
    </dict>
</plist>
