<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_dead_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,103}</string>
                <key>spriteSourceSize</key>
                <string>{124,103}</string>
                <key>textureRect</key>
                <string>{{128,0},{124,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,107}</string>
                <key>spriteSourceSize</key>
                <string>{121,107}</string>
                <key>textureRect</key>
                <string>{{252,0},{121,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{128,102}</string>
                <key>textureRect</key>
                <string>{{373,0},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,94}</string>
                <key>spriteSourceSize</key>
                <string>{149,94}</string>
                <key>textureRect</key>
                <string>{{501,0},{149,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,93}</string>
                <key>spriteSourceSize</key>
                <string>{136,93}</string>
                <key>textureRect</key>
                <string>{{650,0},{136,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,83}</string>
                <key>spriteSourceSize</key>
                <string>{131,83}</string>
                <key>textureRect</key>
                <string>{{786,0},{131,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_dead_rightup.png</string>
            <key>size</key>
            <string>{917,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bdfc4fcf76073942c741a25c1531db5:53c5beab17b8f09ea20bf55b81aea52d:47bb57a202fbb630594d8efd177d13f8$</string>
            <key>textureFileName</key>
            <string>ranger_dead_rightup.png</string>
        </dict>
    </dict>
</plist>
