<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill2_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,96}</string>
                <key>spriteSourceSize</key>
                <string>{145,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{145,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,94}</string>
                <key>spriteSourceSize</key>
                <string>{129,94}</string>
                <key>textureRect</key>
                <string>{{0,96},{129,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,129}</string>
                <key>spriteSourceSize</key>
                <string>{124,129}</string>
                <key>textureRect</key>
                <string>{{129,96},{124,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,130}</string>
                <key>spriteSourceSize</key>
                <string>{111,130}</string>
                <key>textureRect</key>
                <string>{{0,225},{111,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,91}</string>
                <key>spriteSourceSize</key>
                <string>{130,91}</string>
                <key>textureRect</key>
                <string>{{111,225},{130,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill2_left.png</string>
            <key>size</key>
            <string>{253,355}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19f3ed4d66beddd46058c073a63a53b0:511695bac85728f1ec186a5d6317d424:f997c0a06ea7a50b91aa1880402433b1$</string>
            <key>textureFileName</key>
            <string>ranger_skill2_left.png</string>
        </dict>
    </dict>
</plist>
