<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,89}</string>
                <key>spriteSourceSize</key>
                <string>{122,89}</string>
                <key>textureRect</key>
                <string>{{0,171},{122,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,111}</string>
                <key>spriteSourceSize</key>
                <string>{114,111}</string>
                <key>textureRect</key>
                <string>{{127,555},{114,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,98}</string>
                <key>spriteSourceSize</key>
                <string>{88,98}</string>
                <key>textureRect</key>
                <string>{{115,359},{88,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{148,78}</string>
                <key>textureRect</key>
                <string>{{0,0},{148,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,84}</string>
                <key>spriteSourceSize</key>
                <string>{105,84}</string>
                <key>textureRect</key>
                <string>{{148,0},{105,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{66,92}</string>
                <key>textureRect</key>
                <string>{{122,171},{66,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{75,95}</string>
                <key>textureRect</key>
                <string>{{0,263},{75,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,97}</string>
                <key>textureRect</key>
                <string>{{0,359},{115,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,156}</string>
                <key>spriteSourceSize</key>
                <string>{64,156}</string>
                <key>textureRect</key>
                <string>{{110,666},{64,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,156}</string>
                <key>spriteSourceSize</key>
                <string>{59,156}</string>
                <key>textureRect</key>
                <string>{{174,666},{59,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,129}</string>
                <key>spriteSourceSize</key>
                <string>{110,129}</string>
                <key>textureRect</key>
                <string>{{0,666},{110,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,98}</string>
                <key>spriteSourceSize</key>
                <string>{155,98}</string>
                <key>textureRect</key>
                <string>{{0,457},{155,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{149,263},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{127,98}</string>
                <key>textureRect</key>
                <string>{{0,555},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{74,95}</string>
                <key>textureRect</key>
                <string>{{75,263},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,87}</string>
                <key>spriteSourceSize</key>
                <string>{148,87}</string>
                <key>textureRect</key>
                <string>{{0,84},{148,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill_leftdown.png</string>
            <key>size</key>
            <string>{253,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:763e37d207db67c78f5f73011151ac09:c2c59e7d8dc0c66e702196a579e441fd:8d8d656065e445caa7da54a6557138d8$</string>
            <key>textureFileName</key>
            <string>ranger_skill_leftdown.png</string>
        </dict>
    </dict>
</plist>
