<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_attack_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,122}</string>
                <key>spriteSourceSize</key>
                <string>{92,122}</string>
                <key>textureRect</key>
                <string>{{0,0},{92,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_attack_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,95}</string>
                <key>spriteSourceSize</key>
                <string>{87,95}</string>
                <key>textureRect</key>
                <string>{{0,122},{87,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_attack_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,136}</string>
                <key>spriteSourceSize</key>
                <string>{71,136}</string>
                <key>textureRect</key>
                <string>{{0,217},{71,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_attack_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,132}</string>
                <key>spriteSourceSize</key>
                <string>{69,132}</string>
                <key>textureRect</key>
                <string>{{0,353},{69,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_attack_rightup.png</string>
            <key>size</key>
            <string>{92,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42d1cf46ce3060721164f77074cd32a2:85b03e55748fc1e2e1d5848a6e958111:95da8e6371679368e447b942b3cf3484$</string>
            <key>textureFileName</key>
            <string>ranger_attack_rightup.png</string>
        </dict>
    </dict>
</plist>
