<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_stand_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{96,190},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,95}</string>
                <key>spriteSourceSize</key>
                <string>{96,95}</string>
                <key>textureRect</key>
                <string>{{0,190},{96,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{95,285},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{0,285},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{97,95},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{97,0},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{0,95},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_stand_rightup.png</string>
            <key>size</key>
            <string>{193,381}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16214d4804166dfe019e250a881266dc:d0bd0b120fc78ba955a1e949796945cc:fa519aaaca835fa5a3c468816a38a8a8$</string>
            <key>textureFileName</key>
            <string>ranger_stand_rightup.png</string>
        </dict>
    </dict>
</plist>
