<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_stand_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,94}</string>
                <key>spriteSourceSize</key>
                <string>{129,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{129,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,94}</string>
                <key>spriteSourceSize</key>
                <string>{129,94}</string>
                <key>textureRect</key>
                <string>{{0,94},{129,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,94}</string>
                <key>textureRect</key>
                <string>{{0,188},{130,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,93}</string>
                <key>spriteSourceSize</key>
                <string>{130,93}</string>
                <key>textureRect</key>
                <string>{{0,282},{130,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,93}</string>
                <key>spriteSourceSize</key>
                <string>{130,93}</string>
                <key>textureRect</key>
                <string>{{0,375},{130,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,93}</string>
                <key>spriteSourceSize</key>
                <string>{130,93}</string>
                <key>textureRect</key>
                <string>{{0,468},{130,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,94}</string>
                <key>spriteSourceSize</key>
                <string>{129,94}</string>
                <key>textureRect</key>
                <string>{{0,561},{129,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_stand_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,93}</string>
                <key>spriteSourceSize</key>
                <string>{129,93}</string>
                <key>textureRect</key>
                <string>{{0,655},{129,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_stand_leftup.png</string>
            <key>size</key>
            <string>{130,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:950736b3991fb3bb18e37e29f4c88e73:182d18e808b0d57bab2ced7a7dd71210:3c5f0a96406e3deae57897e82743b96b$</string>
            <key>textureFileName</key>
            <string>ranger_stand_leftup.png</string>
        </dict>
    </dict>
</plist>
