<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill2_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,109}</string>
                <key>spriteSourceSize</key>
                <string>{62,109}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,153}</string>
                <key>spriteSourceSize</key>
                <string>{78,153}</string>
                <key>textureRect</key>
                <string>{{0,109},{78,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,169}</string>
                <key>spriteSourceSize</key>
                <string>{84,169}</string>
                <key>textureRect</key>
                <string>{{0,262},{84,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,165}</string>
                <key>spriteSourceSize</key>
                <string>{74,165}</string>
                <key>textureRect</key>
                <string>{{0,431},{74,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,144}</string>
                <key>spriteSourceSize</key>
                <string>{80,144}</string>
                <key>textureRect</key>
                <string>{{0,596},{80,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill2_rightup.png</string>
            <key>size</key>
            <string>{84,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9616603dce077c0fe3c938e898299229:2473429e5a08523043b6e074faa4a042:2128bc47e7eb7bff29c3e144914a2dc5$</string>
            <key>textureFileName</key>
            <string>ranger_skill2_rightup.png</string>
        </dict>
    </dict>
</plist>
