<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_dead_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,126}</string>
                <key>spriteSourceSize</key>
                <string>{72,126}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,99}</string>
                <key>spriteSourceSize</key>
                <string>{98,99}</string>
                <key>textureRect</key>
                <string>{{0,126},{98,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,94}</string>
                <key>spriteSourceSize</key>
                <string>{105,94}</string>
                <key>textureRect</key>
                <string>{{0,225},{105,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{0,319},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,92}</string>
                <key>spriteSourceSize</key>
                <string>{89,92}</string>
                <key>textureRect</key>
                <string>{{0,417},{89,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,84}</string>
                <key>spriteSourceSize</key>
                <string>{109,84}</string>
                <key>textureRect</key>
                <string>{{0,509},{109,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,69}</string>
                <key>spriteSourceSize</key>
                <string>{116,69}</string>
                <key>textureRect</key>
                <string>{{0,593},{116,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_dead_leftup.png</string>
            <key>size</key>
            <string>{116,662}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:099f6e82121f5942587481a3f26c4685:8a29d4d8b94e37add94813485a61c5a4:a17c78b7e6acd2397913453d2b6e4ba8$</string>
            <key>textureFileName</key>
            <string>ranger_dead_leftup.png</string>
        </dict>
    </dict>
</plist>
