<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill1_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,118}</string>
                <key>spriteSourceSize</key>
                <string>{84,118}</string>
                <key>textureRect</key>
                <string>{{154,304},{84,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,88}</string>
                <key>spriteSourceSize</key>
                <string>{136,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,120}</string>
                <key>spriteSourceSize</key>
                <string>{72,120}</string>
                <key>textureRect</key>
                <string>{{65,422},{72,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,109}</string>
                <key>spriteSourceSize</key>
                <string>{91,109}</string>
                <key>textureRect</key>
                <string>{{63,304},{91,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,120}</string>
                <key>spriteSourceSize</key>
                <string>{71,120}</string>
                <key>textureRect</key>
                <string>{{137,422},{71,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,123}</string>
                <key>spriteSourceSize</key>
                <string>{60,123}</string>
                <key>textureRect</key>
                <string>{{0,542},{60,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,119}</string>
                <key>spriteSourceSize</key>
                <string>{65,119}</string>
                <key>textureRect</key>
                <string>{{0,422},{65,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,94}</string>
                <key>spriteSourceSize</key>
                <string>{75,94}</string>
                <key>textureRect</key>
                <string>{{136,0},{75,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,101}</string>
                <key>spriteSourceSize</key>
                <string>{125,101}</string>
                <key>textureRect</key>
                <string>{{0,94},{125,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,103}</string>
                <key>spriteSourceSize</key>
                <string>{114,103}</string>
                <key>textureRect</key>
                <string>{{125,94},{114,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,104}</string>
                <key>spriteSourceSize</key>
                <string>{86,104}</string>
                <key>textureRect</key>
                <string>{{0,197},{86,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,109}</string>
                <key>spriteSourceSize</key>
                <string>{63,109}</string>
                <key>textureRect</key>
                <string>{{0,304},{63,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{108,107}</string>
                <key>textureRect</key>
                <string>{{86,197},{108,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,162}</string>
                <key>spriteSourceSize</key>
                <string>{72,162}</string>
                <key>textureRect</key>
                <string>{{60,542},{72,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill1_rightdown.png</string>
            <key>size</key>
            <string>{239,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2414561264e0551fc63a70839b6b866b:5af2a1bf3d14f25265f9fb46f54f59c0:5890162149ff448d21050ede5c7466cb$</string>
            <key>textureFileName</key>
            <string>ranger_skill1_rightdown.png</string>
        </dict>
    </dict>
</plist>
