<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,94}</string>
                <key>spriteSourceSize</key>
                <string>{125,94}</string>
                <key>textureRect</key>
                <string>{{0,178},{125,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,76}</string>
                <key>spriteSourceSize</key>
                <string>{155,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{155,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,102}</string>
                <key>spriteSourceSize</key>
                <string>{93,102}</string>
                <key>textureRect</key>
                <string>{{144,373},{93,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,125}</string>
                <key>spriteSourceSize</key>
                <string>{92,125}</string>
                <key>textureRect</key>
                <string>{{0,593},{92,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,149}</string>
                <key>spriteSourceSize</key>
                <string>{69,149}</string>
                <key>textureRect</key>
                <string>{{104,726},{69,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,157}</string>
                <key>spriteSourceSize</key>
                <string>{71,157}</string>
                <key>textureRect</key>
                <string>{{173,726},{71,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,142}</string>
                <key>spriteSourceSize</key>
                <string>{104,142}</string>
                <key>textureRect</key>
                <string>{{0,726},{104,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,96}</string>
                <key>spriteSourceSize</key>
                <string>{149,96}</string>
                <key>textureRect</key>
                <string>{{0,272},{149,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,133}</string>
                <key>spriteSourceSize</key>
                <string>{70,133}</string>
                <key>textureRect</key>
                <string>{{92,593},{70,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,89}</string>
                <key>spriteSourceSize</key>
                <string>{81,89}</string>
                <key>textureRect</key>
                <string>{{0,87},{81,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,87}</string>
                <key>spriteSourceSize</key>
                <string>{65,87}</string>
                <key>textureRect</key>
                <string>{{155,0},{65,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,91}</string>
                <key>spriteSourceSize</key>
                <string>{113,91}</string>
                <key>textureRect</key>
                <string>{{81,87},{113,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,110}</string>
                <key>spriteSourceSize</key>
                <string>{133,110}</string>
                <key>textureRect</key>
                <string>{{0,475},{133,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,101}</string>
                <key>spriteSourceSize</key>
                <string>{77,101}</string>
                <key>textureRect</key>
                <string>{{149,272},{77,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,101}</string>
                <key>spriteSourceSize</key>
                <string>{144,101}</string>
                <key>textureRect</key>
                <string>{{0,373},{144,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_right (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{96,118}</string>
                <key>textureRect</key>
                <string>{{133,475},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill_right.png</string>
            <key>size</key>
            <string>{244,883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0943c17c55a9d7394409fd241398e8d3:02ee7051e194ef55214ef5a4928faec1:a8522652b4f450bf3f464aabe62978a5$</string>
            <key>textureFileName</key>
            <string>ranger_skill_right.png</string>
        </dict>
    </dict>
</plist>
