<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_attack_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,84}</string>
                <key>spriteSourceSize</key>
                <string>{131,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{131,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_attack_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,86}</string>
                <key>spriteSourceSize</key>
                <string>{142,86}</string>
                <key>textureRect</key>
                <string>{{0,84},{142,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_attack_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,94}</string>
                <key>spriteSourceSize</key>
                <string>{133,94}</string>
                <key>textureRect</key>
                <string>{{0,170},{133,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_attack_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,94}</string>
                <key>spriteSourceSize</key>
                <string>{142,94}</string>
                <key>textureRect</key>
                <string>{{0,264},{142,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_attack_leftup.png</string>
            <key>size</key>
            <string>{142,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e666985dd59c150e881dba6d4ca5325:b7881bf721ace94fde8f298b348f766f:9b85472b27183fd8eafba45b89fdfe5a$</string>
            <key>textureFileName</key>
            <string>ranger_attack_leftup.png</string>
        </dict>
    </dict>
</plist>
