<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill2_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,108}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,154}</string>
                <key>spriteSourceSize</key>
                <string>{61,154}</string>
                <key>textureRect</key>
                <string>{{57,108},{61,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,169}</string>
                <key>spriteSourceSize</key>
                <string>{58,169}</string>
                <key>textureRect</key>
                <string>{{0,262},{58,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,171}</string>
                <key>spriteSourceSize</key>
                <string>{57,171}</string>
                <key>textureRect</key>
                <string>{{58,262},{57,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill2_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,146}</string>
                <key>spriteSourceSize</key>
                <string>{57,146}</string>
                <key>textureRect</key>
                <string>{{0,108},{57,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill2_up.png</string>
            <key>size</key>
            <string>{118,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0c37eb257c322accad2f863e8b1696e:bc3ecea3ddaff81b14725a28658c1966:62e12ca1ea003c5796c843c10f7af5c6$</string>
            <key>textureFileName</key>
            <string>ranger_skill2_up.png</string>
        </dict>
    </dict>
</plist>
