<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_dead_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,132}</string>
                <key>spriteSourceSize</key>
                <string>{77,132}</string>
                <key>textureRect</key>
                <string>{{0,110},{77,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,110}</string>
                <key>spriteSourceSize</key>
                <string>{73,110}</string>
                <key>textureRect</key>
                <string>{{70,0},{73,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,109}</string>
                <key>spriteSourceSize</key>
                <string>{70,109}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,108}</string>
                <key>spriteSourceSize</key>
                <string>{73,108}</string>
                <key>textureRect</key>
                <string>{{143,0},{73,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,100}</string>
                <key>spriteSourceSize</key>
                <string>{101,100}</string>
                <key>textureRect</key>
                <string>{{97,242},{101,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,104}</string>
                <key>spriteSourceSize</key>
                <string>{97,104}</string>
                <key>textureRect</key>
                <string>{{0,242},{97,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,93}</string>
                <key>spriteSourceSize</key>
                <string>{89,93}</string>
                <key>textureRect</key>
                <string>{{77,110},{89,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_dead_up.png</string>
            <key>size</key>
            <string>{216,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51c13f3a6c91fec54f0e3b48a52ab406:5edbbda515bd773bd15424a20c42d096:3fdf7769e231b0e0700abe67c74a0f82$</string>
            <key>textureFileName</key>
            <string>ranger_dead_up.png</string>
        </dict>
    </dict>
</plist>
