<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_dead_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,94}</string>
                <key>spriteSourceSize</key>
                <string>{73,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{73,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,105}</string>
                <key>spriteSourceSize</key>
                <string>{101,105}</string>
                <key>textureRect</key>
                <string>{{73,0},{101,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,109}</string>
                <key>spriteSourceSize</key>
                <string>{107,109}</string>
                <key>textureRect</key>
                <string>{{174,0},{107,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{281,0},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,95}</string>
                <key>spriteSourceSize</key>
                <string>{89,95}</string>
                <key>textureRect</key>
                <string>{{381,0},{89,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,73}</string>
                <key>spriteSourceSize</key>
                <string>{109,73}</string>
                <key>textureRect</key>
                <string>{{470,0},{109,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,75}</string>
                <key>textureRect</key>
                <string>{{579,0},{115,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_dead_rightdown.png</string>
            <key>size</key>
            <string>{694,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3fd7fefd6f87e8eb2cac102528028ef:32ecf2c5fa0b028a351bd57164fd0da8:2c8c060b26e52878e727d8638efac9ef$</string>
            <key>textureFileName</key>
            <string>ranger_dead_rightdown.png</string>
        </dict>
    </dict>
</plist>
