<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill1_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,114}</string>
                <key>spriteSourceSize</key>
                <string>{65,114}</string>
                <key>textureRect</key>
                <string>{{153,402},{65,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,98}</string>
                <key>spriteSourceSize</key>
                <string>{67,98}</string>
                <key>textureRect</key>
                <string>{{136,93},{67,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{0,295},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,85}</string>
                <key>spriteSourceSize</key>
                <string>{147,85}</string>
                <key>textureRect</key>
                <string>{{0,0},{147,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,94}</string>
                <key>spriteSourceSize</key>
                <string>{136,94}</string>
                <key>textureRect</key>
                <string>{{0,93},{136,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,113}</string>
                <key>spriteSourceSize</key>
                <string>{76,113}</string>
                <key>textureRect</key>
                <string>{{77,402},{76,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,112}</string>
                <key>spriteSourceSize</key>
                <string>{77,112}</string>
                <key>textureRect</key>
                <string>{{0,402},{77,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{147,0},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,101}</string>
                <key>spriteSourceSize</key>
                <string>{68,101}</string>
                <key>textureRect</key>
                <string>{{0,191},{68,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,101}</string>
                <key>spriteSourceSize</key>
                <string>{57,101}</string>
                <key>textureRect</key>
                <string>{{68,191},{57,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,107}</string>
                <key>spriteSourceSize</key>
                <string>{78,107}</string>
                <key>textureRect</key>
                <string>{{100,295},{78,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{125,191},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,128}</string>
                <key>spriteSourceSize</key>
                <string>{132,128}</string>
                <key>textureRect</key>
                <string>{{0,516},{132,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill1_down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,147}</string>
                <key>spriteSourceSize</key>
                <string>{81,147}</string>
                <key>textureRect</key>
                <string>{{132,516},{81,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill1_down.png</string>
            <key>size</key>
            <string>{229,663}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ce63cf5175ff6321524e32185873837:e2aaacdb5d8e70a870ae146244b5860d:5e9dbd57e968d34dd127bc0599eb0430$</string>
            <key>textureFileName</key>
            <string>ranger_skill1_down.png</string>
        </dict>
    </dict>
</plist>
