<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_skill_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,94}</string>
                <key>spriteSourceSize</key>
                <string>{61,94}</string>
                <key>textureRect</key>
                <string>{{62,0},{61,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,96}</string>
                <key>spriteSourceSize</key>
                <string>{129,96}</string>
                <key>textureRect</key>
                <string>{{0,245},{129,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,73}</string>
                <key>textureRect</key>
                <string>{{129,245},{153,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,125}</string>
                <key>spriteSourceSize</key>
                <string>{88,125}</string>
                <key>textureRect</key>
                <string>{{346,94},{88,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{270,351},{133,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,134}</string>
                <key>spriteSourceSize</key>
                <string>{116,134}</string>
                <key>textureRect</key>
                <string>{{154,351},{116,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,115}</string>
                <key>spriteSourceSize</key>
                <string>{96,115}</string>
                <key>textureRect</key>
                <string>{{250,94},{96,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,93}</string>
                <key>spriteSourceSize</key>
                <string>{106,93}</string>
                <key>textureRect</key>
                <string>{{332,0},{106,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,151}</string>
                <key>spriteSourceSize</key>
                <string>{54,151}</string>
                <key>textureRect</key>
                <string>{{196,94},{54,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,106}</string>
                <key>spriteSourceSize</key>
                <string>{121,106}</string>
                <key>textureRect</key>
                <string>{{282,245},{121,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,92}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{225,0},{107,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,92}</string>
                <key>spriteSourceSize</key>
                <string>{62,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,95}</string>
                <key>spriteSourceSize</key>
                <string>{109,95}</string>
                <key>textureRect</key>
                <string>{{0,94},{109,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,91}</string>
                <key>spriteSourceSize</key>
                <string>{102,91}</string>
                <key>textureRect</key>
                <string>{{123,0},{102,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,92}</string>
                <key>spriteSourceSize</key>
                <string>{154,92}</string>
                <key>textureRect</key>
                <string>{{0,351},{154,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_skill_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,117}</string>
                <key>spriteSourceSize</key>
                <string>{87,117}</string>
                <key>textureRect</key>
                <string>{{109,94},{87,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_skill_rightdown.png</string>
            <key>size</key>
            <string>{438,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00bb8ba00eb969626c21578bc7d35e60:0483b2b8ee6e6b13acf1aae727aad663:27bdd25f708e2198863d803cd3081c19$</string>
            <key>textureFileName</key>
            <string>ranger_skill_rightdown.png</string>
        </dict>
    </dict>
</plist>
