<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_dead_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,94}</string>
                <key>spriteSourceSize</key>
                <string>{140,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,89}</string>
                <key>spriteSourceSize</key>
                <string>{156,89}</string>
                <key>textureRect</key>
                <string>{{140,0},{156,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,89}</string>
                <key>spriteSourceSize</key>
                <string>{160,89}</string>
                <key>textureRect</key>
                <string>{{296,0},{160,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,89}</string>
                <key>spriteSourceSize</key>
                <string>{160,89}</string>
                <key>textureRect</key>
                <string>{{0,94},{160,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,91}</string>
                <key>spriteSourceSize</key>
                <string>{150,91}</string>
                <key>textureRect</key>
                <string>{{160,94},{150,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,67}</string>
                <key>spriteSourceSize</key>
                <string>{156,67}</string>
                <key>textureRect</key>
                <string>{{310,94},{156,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_dead_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,62}</string>
                <key>spriteSourceSize</key>
                <string>{159,62}</string>
                <key>textureRect</key>
                <string>{{0,185},{159,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_dead_right.png</string>
            <key>size</key>
            <string>{466,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cad38c843f1ad6f0bc1bf9d4f024031:53cd9792a74b72b1eb1316dfff833e5e:95397b5ce85dc384ecc7a8e50381f615$</string>
            <key>textureFileName</key>
            <string>ranger_dead_right.png</string>
        </dict>
    </dict>
</plist>
