<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_move_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,87}</string>
                <key>spriteSourceSize</key>
                <string>{154,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{154,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,87}</string>
                <key>spriteSourceSize</key>
                <string>{156,87}</string>
                <key>textureRect</key>
                <string>{{0,87},{156,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,96}</string>
                <key>spriteSourceSize</key>
                <string>{155,96}</string>
                <key>textureRect</key>
                <string>{{0,174},{155,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,94}</string>
                <key>spriteSourceSize</key>
                <string>{152,94}</string>
                <key>textureRect</key>
                <string>{{0,270},{152,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,90}</string>
                <key>spriteSourceSize</key>
                <string>{153,90}</string>
                <key>textureRect</key>
                <string>{{0,364},{153,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,92}</string>
                <key>spriteSourceSize</key>
                <string>{155,92}</string>
                <key>textureRect</key>
                <string>{{0,454},{155,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,90}</string>
                <key>spriteSourceSize</key>
                <string>{153,90}</string>
                <key>textureRect</key>
                <string>{{0,546},{153,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,93}</string>
                <key>spriteSourceSize</key>
                <string>{151,93}</string>
                <key>textureRect</key>
                <string>{{0,636},{151,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_move_leftdown.png</string>
            <key>size</key>
            <string>{156,729}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecdca959bf77eb88cfed5691ec34367a:6ad9fb4b0a9e7af7a706a665608a8af7:0b60dbc0822bc44e7453808a4b7a1b06$</string>
            <key>textureFileName</key>
            <string>ranger_move_leftdown.png</string>
        </dict>
    </dict>
</plist>
