<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ranger_move_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,83}</string>
                <key>spriteSourceSize</key>
                <string>{133,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{133,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,88}</string>
                <key>spriteSourceSize</key>
                <string>{132,88}</string>
                <key>textureRect</key>
                <string>{{0,83},{132,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,96}</string>
                <key>spriteSourceSize</key>
                <string>{136,96}</string>
                <key>textureRect</key>
                <string>{{0,171},{136,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,91}</string>
                <key>spriteSourceSize</key>
                <string>{138,91}</string>
                <key>textureRect</key>
                <string>{{0,267},{138,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,88}</string>
                <key>spriteSourceSize</key>
                <string>{139,88}</string>
                <key>textureRect</key>
                <string>{{0,358},{139,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,92}</string>
                <key>spriteSourceSize</key>
                <string>{136,92}</string>
                <key>textureRect</key>
                <string>{{0,446},{136,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,98}</string>
                <key>spriteSourceSize</key>
                <string>{135,98}</string>
                <key>textureRect</key>
                <string>{{0,538},{135,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ranger_move_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,98}</string>
                <key>spriteSourceSize</key>
                <string>{139,98}</string>
                <key>textureRect</key>
                <string>{{0,636},{139,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ranger_move_left.png</string>
            <key>size</key>
            <string>{139,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf4549f5ab66bf2f57c287a652ca7671:cf2ddac57d1ad67f8e5898382e195cda:fd89d5199d40a9db17ce7e2ae7b7a9e0$</string>
            <key>textureFileName</key>
            <string>ranger_move_left.png</string>
        </dict>
    </dict>
</plist>
