<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillfenghuangL (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,139}</string>
                <key>spriteSourceSize</key>
                <string>{125,139}</string>
                <key>textureRect</key>
                <string>{{0,0},{125,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,189}</string>
                <key>spriteSourceSize</key>
                <string>{223,189}</string>
                <key>textureRect</key>
                <string>{{238,336},{223,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,164}</string>
                <key>spriteSourceSize</key>
                <string>{226,164}</string>
                <key>textureRect</key>
                <string>{{0,163},{226,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,161}</string>
                <key>spriteSourceSize</key>
                <string>{225,161}</string>
                <key>textureRect</key>
                <string>{{353,0},{225,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,161}</string>
                <key>spriteSourceSize</key>
                <string>{228,161}</string>
                <key>textureRect</key>
                <string>{{125,0},{228,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,163}</string>
                <key>spriteSourceSize</key>
                <string>{232,163}</string>
                <key>textureRect</key>
                <string>{{578,0},{232,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,168}</string>
                <key>spriteSourceSize</key>
                <string>{238,168}</string>
                <key>textureRect</key>
                <string>{{226,163},{238,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,170}</string>
                <key>spriteSourceSize</key>
                <string>{239,170}</string>
                <key>textureRect</key>
                <string>{{464,163},{239,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,173}</string>
                <key>spriteSourceSize</key>
                <string>{237,173}</string>
                <key>textureRect</key>
                <string>{{703,163},{237,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,179}</string>
                <key>spriteSourceSize</key>
                <string>{238,179}</string>
                <key>textureRect</key>
                <string>{{0,336},{238,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,193}</string>
                <key>spriteSourceSize</key>
                <string>{178,193}</string>
                <key>textureRect</key>
                <string>{{461,336},{178,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,199}</string>
                <key>spriteSourceSize</key>
                <string>{173,199}</string>
                <key>textureRect</key>
                <string>{{639,336},{173,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,208}</string>
                <key>spriteSourceSize</key>
                <string>{175,208}</string>
                <key>textureRect</key>
                <string>{{0,535},{175,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,214}</string>
                <key>spriteSourceSize</key>
                <string>{178,214}</string>
                <key>textureRect</key>
                <string>{{389,535},{178,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,215}</string>
                <key>spriteSourceSize</key>
                <string>{182,215}</string>
                <key>textureRect</key>
                <string>{{765,535},{182,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,214}</string>
                <key>spriteSourceSize</key>
                <string>{198,214}</string>
                <key>textureRect</key>
                <string>{{567,535},{198,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangL (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,208}</string>
                <key>spriteSourceSize</key>
                <string>{214,208}</string>
                <key>textureRect</key>
                <string>{{175,535},{214,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillfenghuangL.png</string>
            <key>size</key>
            <string>{947,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1e0d2c028a601f1d287a3367222e4c0:08de055fb900ad8f1446b53773a20b49:5046019bea1c83e2573b0aa6b15ac848$</string>
            <key>textureFileName</key>
            <string>skillfenghuangL.png</string>
        </dict>
    </dict>
</plist>
