<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillrecover (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,159}</string>
                <key>spriteSourceSize</key>
                <string>{246,159}</string>
                <key>textureRect</key>
                <string>{{226,0},{246,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,187}</string>
                <key>spriteSourceSize</key>
                <string>{273,187}</string>
                <key>textureRect</key>
                <string>{{274,728},{273,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,189}</string>
                <key>spriteSourceSize</key>
                <string>{275,189}</string>
                <key>textureRect</key>
                <string>{{0,915},{275,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,189}</string>
                <key>spriteSourceSize</key>
                <string>{276,189}</string>
                <key>textureRect</key>
                <string>{{275,915},{276,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,189}</string>
                <key>spriteSourceSize</key>
                <string>{274,189}</string>
                <key>textureRect</key>
                <string>{{551,915},{274,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,187}</string>
                <key>spriteSourceSize</key>
                <string>{277,187}</string>
                <key>textureRect</key>
                <string>{{547,728},{277,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,185}</string>
                <key>spriteSourceSize</key>
                <string>{275,185}</string>
                <key>textureRect</key>
                <string>{{540,356},{275,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,183}</string>
                <key>spriteSourceSize</key>
                <string>{267,183}</string>
                <key>textureRect</key>
                <string>{{273,356},{267,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,173}</string>
                <key>spriteSourceSize</key>
                <string>{257,173}</string>
                <key>textureRect</key>
                <string>{{472,0},{257,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,137}</string>
                <key>spriteSourceSize</key>
                <string>{226,137}</string>
                <key>textureRect</key>
                <string>{{0,0},{226,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,175}</string>
                <key>spriteSourceSize</key>
                <string>{259,175}</string>
                <key>textureRect</key>
                <string>{{0,173},{259,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,181}</string>
                <key>spriteSourceSize</key>
                <string>{270,181}</string>
                <key>textureRect</key>
                <string>{{259,173},{270,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,183}</string>
                <key>spriteSourceSize</key>
                <string>{273,183}</string>
                <key>textureRect</key>
                <string>{{0,356},{273,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,183}</string>
                <key>spriteSourceSize</key>
                <string>{275,183}</string>
                <key>textureRect</key>
                <string>{{529,173},{275,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,187}</string>
                <key>spriteSourceSize</key>
                <string>{274,187}</string>
                <key>textureRect</key>
                <string>{{0,728},{274,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,187}</string>
                <key>spriteSourceSize</key>
                <string>{276,187}</string>
                <key>textureRect</key>
                <string>{{545,541},{276,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,187}</string>
                <key>spriteSourceSize</key>
                <string>{272,187}</string>
                <key>textureRect</key>
                <string>{{273,541},{272,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillrecover (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,185}</string>
                <key>spriteSourceSize</key>
                <string>{273,185}</string>
                <key>textureRect</key>
                <string>{{0,541},{273,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillrecover.png</string>
            <key>size</key>
            <string>{825,1104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe6bae8a37d2c8b84124dc6e9d7df3b1:0456f948552c3994ad4f351fb7cf9312:444afea03efe4d9638a94d8ea078e13d$</string>
            <key>textureFileName</key>
            <string>skillrecover.png</string>
        </dict>
    </dict>
</plist>
