<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillwaterdragon1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,124}</string>
                <key>spriteSourceSize</key>
                <string>{86,124}</string>
                <key>textureRect</key>
                <string>{{0,0},{86,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,231}</string>
                <key>spriteSourceSize</key>
                <string>{319,231}</string>
                <key>textureRect</key>
                <string>{{0,601},{319,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,298}</string>
                <key>spriteSourceSize</key>
                <string>{280,298}</string>
                <key>textureRect</key>
                <string>{{632,1119},{280,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,262}</string>
                <key>spriteSourceSize</key>
                <string>{343,262}</string>
                <key>textureRect</key>
                <string>{{387,847},{343,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,273}</string>
                <key>spriteSourceSize</key>
                <string>{362,273}</string>
                <key>textureRect</key>
                <string>{{0,1119},{362,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,272}</string>
                <key>spriteSourceSize</key>
                <string>{283,272}</string>
                <key>textureRect</key>
                <string>{{730,847},{283,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,284}</string>
                <key>spriteSourceSize</key>
                <string>{270,284}</string>
                <key>textureRect</key>
                <string>{{362,1119},{270,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,219}</string>
                <key>spriteSourceSize</key>
                <string>{217,219}</string>
                <key>textureRect</key>
                <string>{{592,382},{217,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,203}</string>
                <key>spriteSourceSize</key>
                <string>{248,203}</string>
                <key>textureRect</key>
                <string>{{0,176},{248,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,155}</string>
                <key>spriteSourceSize</key>
                <string>{223,155}</string>
                <key>textureRect</key>
                <string>{{293,0},{223,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,128}</string>
                <key>spriteSourceSize</key>
                <string>{207,128}</string>
                <key>textureRect</key>
                <string>{{86,0},{207,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,163}</string>
                <key>spriteSourceSize</key>
                <string>{177,163}</string>
                <key>textureRect</key>
                <string>{{516,0},{177,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,176}</string>
                <key>spriteSourceSize</key>
                <string>{239,176}</string>
                <key>textureRect</key>
                <string>{{693,0},{239,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,217}</string>
                <key>spriteSourceSize</key>
                <string>{238,217}</string>
                <key>textureRect</key>
                <string>{{354,382},{238,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,206}</string>
                <key>spriteSourceSize</key>
                <string>{276,206}</string>
                <key>textureRect</key>
                <string>{{593,176},{276,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,205}</string>
                <key>spriteSourceSize</key>
                <string>{345,205}</string>
                <key>textureRect</key>
                <string>{{248,176},{345,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,246}</string>
                <key>spriteSourceSize</key>
                <string>{310,246}</string>
                <key>textureRect</key>
                <string>{{319,601},{310,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,213}</string>
                <key>spriteSourceSize</key>
                <string>{354,213}</string>
                <key>textureRect</key>
                <string>{{0,382},{354,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragon1 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,252}</string>
                <key>spriteSourceSize</key>
                <string>{387,252}</string>
                <key>textureRect</key>
                <string>{{0,847},{387,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillwaterdragon1.png</string>
            <key>size</key>
            <string>{1013,1417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8d62a20fa56d3e38c9f7de03523417f:f8afe8466f8e33058f5109a455b402ef:88168c42d00c8cac3b14aa686ae474e1$</string>
            <key>textureFileName</key>
            <string>skillwaterdragon1.png</string>
        </dict>
    </dict>
</plist>
