<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillbone (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,233}</string>
                <key>spriteSourceSize</key>
                <string>{392,233}</string>
                <key>textureRect</key>
                <string>{{0,0},{392,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,354}</string>
                <key>spriteSourceSize</key>
                <string>{492,354}</string>
                <key>textureRect</key>
                <string>{{985,1533},{492,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,360}</string>
                <key>spriteSourceSize</key>
                <string>{504,360}</string>
                <key>textureRect</key>
                <string>{{1477,1533},{504,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,337}</string>
                <key>spriteSourceSize</key>
                <string>{502,337}</string>
                <key>textureRect</key>
                <string>{{0,1189},{502,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{501,344}</string>
                <key>spriteSourceSize</key>
                <string>{501,344}</string>
                <key>textureRect</key>
                <string>{{1459,1189},{501,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,313}</string>
                <key>spriteSourceSize</key>
                <string>{487,313}</string>
                <key>textureRect</key>
                <string>{{0,856},{487,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,322}</string>
                <key>spriteSourceSize</key>
                <string>{489,322}</string>
                <key>textureRect</key>
                <string>{{487,856},{489,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,280}</string>
                <key>spriteSourceSize</key>
                <string>{486,280}</string>
                <key>textureRect</key>
                <string>{{415,264},{486,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,283}</string>
                <key>spriteSourceSize</key>
                <string>{486,283}</string>
                <key>textureRect</key>
                <string>{{1281,264},{486,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,288}</string>
                <key>spriteSourceSize</key>
                <string>{484,288}</string>
                <key>textureRect</key>
                <string>{{392,547},{484,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,263}</string>
                <key>spriteSourceSize</key>
                <string>{478,263}</string>
                <key>textureRect</key>
                <string>{{864,0},{478,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,299}</string>
                <key>spriteSourceSize</key>
                <string>{429,299}</string>
                <key>textureRect</key>
                <string>{{876,547},{429,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,257}</string>
                <key>spriteSourceSize</key>
                <string>{472,257}</string>
                <key>textureRect</key>
                <string>{{392,0},{472,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,264}</string>
                <key>spriteSourceSize</key>
                <string>{447,264}</string>
                <key>textureRect</key>
                <string>{{1342,0},{447,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,278}</string>
                <key>spriteSourceSize</key>
                <string>{415,278}</string>
                <key>textureRect</key>
                <string>{{0,264},{415,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,284}</string>
                <key>spriteSourceSize</key>
                <string>{392,284}</string>
                <key>textureRect</key>
                <string>{{0,547},{392,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,283}</string>
                <key>spriteSourceSize</key>
                <string>{380,283}</string>
                <key>textureRect</key>
                <string>{{901,264},{380,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{440,309}</string>
                <key>spriteSourceSize</key>
                <string>{440,309}</string>
                <key>textureRect</key>
                <string>{{1305,547},{440,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,326}</string>
                <key>spriteSourceSize</key>
                <string>{451,326}</string>
                <key>textureRect</key>
                <string>{{976,856},{451,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,333}</string>
                <key>spriteSourceSize</key>
                <string>{466,333}</string>
                <key>textureRect</key>
                <string>{{1427,856},{466,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,338}</string>
                <key>spriteSourceSize</key>
                <string>{474,338}</string>
                <key>textureRect</key>
                <string>{{502,1189},{474,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,341}</string>
                <key>spriteSourceSize</key>
                <string>{483,341}</string>
                <key>textureRect</key>
                <string>{{976,1189},{483,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,348}</string>
                <key>spriteSourceSize</key>
                <string>{492,348}</string>
                <key>textureRect</key>
                <string>{{0,1533},{492,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillbone (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,350}</string>
                <key>spriteSourceSize</key>
                <string>{493,350}</string>
                <key>textureRect</key>
                <string>{{492,1533},{493,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillbone.png</string>
            <key>size</key>
            <string>{1981,1893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:003c7b7f646080dc8eaf7c910eecfaa6:d59e6d568c207603b3907894846cd87e:4d15ed5405f62972f1e18ba3e3c26ec1$</string>
            <key>textureFileName</key>
            <string>skillbone.png</string>
        </dict>
    </dict>
</plist>
