<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skilllight (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,168}</string>
                <key>spriteSourceSize</key>
                <string>{215,168}</string>
                <key>textureRect</key>
                <string>{{215,0},{215,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,234}</string>
                <key>spriteSourceSize</key>
                <string>{216,234}</string>
                <key>textureRect</key>
                <string>{{431,202},{216,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,234}</string>
                <key>spriteSourceSize</key>
                <string>{217,234}</string>
                <key>textureRect</key>
                <string>{{647,202},{217,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,234}</string>
                <key>spriteSourceSize</key>
                <string>{217,234}</string>
                <key>textureRect</key>
                <string>{{0,436},{217,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,274}</string>
                <key>spriteSourceSize</key>
                <string>{234,274}</string>
                <key>textureRect</key>
                <string>{{0,672},{234,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,277}</string>
                <key>spriteSourceSize</key>
                <string>{236,277}</string>
                <key>textureRect</key>
                <string>{{234,672},{236,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,281}</string>
                <key>spriteSourceSize</key>
                <string>{267,281}</string>
                <key>textureRect</key>
                <string>{{470,672},{267,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,287}</string>
                <key>spriteSourceSize</key>
                <string>{271,287}</string>
                <key>textureRect</key>
                <string>{{737,672},{271,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,288}</string>
                <key>spriteSourceSize</key>
                <string>{274,288}</string>
                <key>textureRect</key>
                <string>{{0,959},{274,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,289}</string>
                <key>spriteSourceSize</key>
                <string>{277,289}</string>
                <key>textureRect</key>
                <string>{{274,959},{277,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,289}</string>
                <key>spriteSourceSize</key>
                <string>{278,289}</string>
                <key>textureRect</key>
                <string>{{551,959},{278,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,166}</string>
                <key>spriteSourceSize</key>
                <string>{215,166}</string>
                <key>textureRect</key>
                <string>{{0,0},{215,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,183}</string>
                <key>spriteSourceSize</key>
                <string>{215,183}</string>
                <key>textureRect</key>
                <string>{{430,0},{215,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,202}</string>
                <key>spriteSourceSize</key>
                <string>{216,202}</string>
                <key>textureRect</key>
                <string>{{645,0},{216,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,225}</string>
                <key>spriteSourceSize</key>
                <string>{215,225}</string>
                <key>textureRect</key>
                <string>{{0,202},{215,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,235}</string>
                <key>spriteSourceSize</key>
                <string>{216,235}</string>
                <key>textureRect</key>
                <string>{{433,436},{216,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,233}</string>
                <key>spriteSourceSize</key>
                <string>{216,233}</string>
                <key>textureRect</key>
                <string>{{215,202},{216,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,235}</string>
                <key>spriteSourceSize</key>
                <string>{216,235}</string>
                <key>textureRect</key>
                <string>{{217,436},{216,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilllight (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,236}</string>
                <key>spriteSourceSize</key>
                <string>{216,236}</string>
                <key>textureRect</key>
                <string>{{649,436},{216,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skilllight.png</string>
            <key>size</key>
            <string>{1008,1248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d18bf8eabd93604c71eae3925066572a:aa906f62b25bce08d5bee58f88734be0:409601f56d93258f21d41e0453a4863e$</string>
            <key>textureFileName</key>
            <string>skilllight.png</string>
        </dict>
    </dict>
</plist>
