<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillstrike (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,286}</string>
                <key>spriteSourceSize</key>
                <string>{210,286}</string>
                <key>textureRect</key>
                <string>{{528,240},{210,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,255}</string>
                <key>spriteSourceSize</key>
                <string>{277,255}</string>
                <key>textureRect</key>
                <string>{{0,240},{277,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,240}</string>
                <key>spriteSourceSize</key>
                <string>{269,240}</string>
                <key>textureRect</key>
                <string>{{601,0},{269,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,219}</string>
                <key>spriteSourceSize</key>
                <string>{210,219}</string>
                <key>textureRect</key>
                <string>{{222,0},{210,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,416}</string>
                <key>spriteSourceSize</key>
                <string>{352,416}</string>
                <key>textureRect</key>
                <string>{{315,1558},{352,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,347}</string>
                <key>spriteSourceSize</key>
                <string>{317,347}</string>
                <key>textureRect</key>
                <string>{{498,843},{317,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,333}</string>
                <key>spriteSourceSize</key>
                <string>{299,333}</string>
                <key>textureRect</key>
                <string>{{199,843},{299,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,352}</string>
                <key>spriteSourceSize</key>
                <string>{352,352}</string>
                <key>textureRect</key>
                <string>{{0,1190},{352,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,381}</string>
                <key>spriteSourceSize</key>
                <string>{315,381}</string>
                <key>textureRect</key>
                <string>{{0,1558},{315,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,368}</string>
                <key>spriteSourceSize</key>
                <string>{324,368}</string>
                <key>textureRect</key>
                <string>{{352,1190},{324,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,308}</string>
                <key>spriteSourceSize</key>
                <string>{202,308}</string>
                <key>textureRect</key>
                <string>{{419,530},{202,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,304}</string>
                <key>spriteSourceSize</key>
                <string>{188,304}</string>
                <key>textureRect</key>
                <string>{{231,530},{188,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,318}</string>
                <key>spriteSourceSize</key>
                <string>{199,318}</string>
                <key>textureRect</key>
                <string>{{0,843},{199,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,313}</string>
                <key>spriteSourceSize</key>
                <string>{193,313}</string>
                <key>textureRect</key>
                <string>{{774,530},{193,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,300}</string>
                <key>spriteSourceSize</key>
                <string>{231,300}</string>
                <key>textureRect</key>
                <string>{{0,530},{231,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,290}</string>
                <key>spriteSourceSize</key>
                <string>{226,290}</string>
                <key>textureRect</key>
                <string>{{738,240},{226,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,308}</string>
                <key>spriteSourceSize</key>
                <string>{153,308}</string>
                <key>textureRect</key>
                <string>{{621,530},{153,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,238}</string>
                <key>spriteSourceSize</key>
                <string>{169,238}</string>
                <key>textureRect</key>
                <string>{{432,0},{169,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,198}</string>
                <key>spriteSourceSize</key>
                <string>{222,198}</string>
                <key>textureRect</key>
                <string>{{0,0},{222,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstrike (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,270}</string>
                <key>spriteSourceSize</key>
                <string>{251,270}</string>
                <key>textureRect</key>
                <string>{{277,240},{251,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillstrike.png</string>
            <key>size</key>
            <string>{967,1974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a6f8e7590acc3da223be5ddb649d3af:74a4d2d7320526899cbad3ac805ad0fa:1600c0fd5c3ba908e690edcdea4332eb$</string>
            <key>textureFileName</key>
            <string>skillstrike.png</string>
        </dict>
    </dict>
</plist>
