<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillfenghuangR (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,140}</string>
                <key>spriteSourceSize</key>
                <string>{124,140}</string>
                <key>textureRect</key>
                <string>{{241,0},{124,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,188}</string>
                <key>spriteSourceSize</key>
                <string>{224,188}</string>
                <key>textureRect</key>
                <string>{{0,322},{224,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,172}</string>
                <key>spriteSourceSize</key>
                <string>{227,172}</string>
                <key>textureRect</key>
                <string>{{684,150},{227,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,171}</string>
                <key>spriteSourceSize</key>
                <string>{225,171}</string>
                <key>textureRect</key>
                <string>{{459,150},{225,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,167}</string>
                <key>spriteSourceSize</key>
                <string>{227,167}</string>
                <key>textureRect</key>
                <string>{{232,150},{227,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,155}</string>
                <key>spriteSourceSize</key>
                <string>{232,155}</string>
                <key>textureRect</key>
                <string>{{0,150},{232,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,150}</string>
                <key>spriteSourceSize</key>
                <string>{237,150}</string>
                <key>textureRect</key>
                <string>{{602,0},{237,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,139}</string>
                <key>spriteSourceSize</key>
                <string>{241,139}</string>
                <key>textureRect</key>
                <string>{{0,0},{241,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,145}</string>
                <key>spriteSourceSize</key>
                <string>{237,145}</string>
                <key>textureRect</key>
                <string>{{365,0},{237,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,196}</string>
                <key>spriteSourceSize</key>
                <string>{238,196}</string>
                <key>textureRect</key>
                <string>{{437,322},{238,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,218}</string>
                <key>spriteSourceSize</key>
                <string>{176,218}</string>
                <key>textureRect</key>
                <string>{{706,521},{176,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,218}</string>
                <key>spriteSourceSize</key>
                <string>{171,218}</string>
                <key>textureRect</key>
                <string>{{535,521},{171,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,210}</string>
                <key>spriteSourceSize</key>
                <string>{176,210}</string>
                <key>textureRect</key>
                <string>{{359,521},{176,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,204}</string>
                <key>spriteSourceSize</key>
                <string>{177,204}</string>
                <key>textureRect</key>
                <string>{{182,521},{177,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,204}</string>
                <key>spriteSourceSize</key>
                <string>{182,204}</string>
                <key>textureRect</key>
                <string>{{0,521},{182,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,199}</string>
                <key>spriteSourceSize</key>
                <string>{198,199}</string>
                <key>textureRect</key>
                <string>{{675,322},{198,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfenghuangR (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,196}</string>
                <key>spriteSourceSize</key>
                <string>{213,196}</string>
                <key>textureRect</key>
                <string>{{224,322},{213,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillfenghuangR.png</string>
            <key>size</key>
            <string>{911,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44fa3f7460bea3bbd4d57bc4a751ea11:7c48ff08c21b9fe8c78121fb6dae4043:59902a313e747d06373a88d53d81e66e$</string>
            <key>textureFileName</key>
            <string>skillfenghuangR.png</string>
        </dict>
    </dict>
</plist>
