<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillknife (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,180}</string>
                <key>spriteSourceSize</key>
                <string>{44,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{44,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,139}</string>
                <key>spriteSourceSize</key>
                <string>{171,139}</string>
                <key>textureRect</key>
                <string>{{973,0},{171,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,104}</string>
                <key>spriteSourceSize</key>
                <string>{174,104}</string>
                <key>textureRect</key>
                <string>{{1144,0},{174,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,92}</string>
                <key>spriteSourceSize</key>
                <string>{181,92}</string>
                <key>textureRect</key>
                <string>{{1318,0},{181,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,193}</string>
                <key>spriteSourceSize</key>
                <string>{211,193}</string>
                <key>textureRect</key>
                <string>{{1499,0},{211,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,260}</string>
                <key>spriteSourceSize</key>
                <string>{339,260}</string>
                <key>textureRect</key>
                <string>{{0,213},{339,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,283}</string>
                <key>spriteSourceSize</key>
                <string>{347,283}</string>
                <key>textureRect</key>
                <string>{{339,213},{347,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,238}</string>
                <key>spriteSourceSize</key>
                <string>{329,238}</string>
                <key>textureRect</key>
                <string>{{686,213},{329,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,241}</string>
                <key>spriteSourceSize</key>
                <string>{309,241}</string>
                <key>textureRect</key>
                <string>{{1015,213},{309,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,232}</string>
                <key>spriteSourceSize</key>
                <string>{312,232}</string>
                <key>textureRect</key>
                <string>{{1324,213},{312,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,212}</string>
                <key>spriteSourceSize</key>
                <string>{307,212}</string>
                <key>textureRect</key>
                <string>{{1636,213},{307,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,189}</string>
                <key>spriteSourceSize</key>
                <string>{138,189}</string>
                <key>textureRect</key>
                <string>{{44,0},{138,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,211}</string>
                <key>spriteSourceSize</key>
                <string>{298,211}</string>
                <key>textureRect</key>
                <string>{{0,496},{298,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,207}</string>
                <key>spriteSourceSize</key>
                <string>{297,207}</string>
                <key>textureRect</key>
                <string>{{298,496},{297,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,199}</string>
                <key>spriteSourceSize</key>
                <string>{145,199}</string>
                <key>textureRect</key>
                <string>{{182,0},{145,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,213}</string>
                <key>spriteSourceSize</key>
                <string>{134,213}</string>
                <key>textureRect</key>
                <string>{{327,0},{134,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,197}</string>
                <key>spriteSourceSize</key>
                <string>{125,197}</string>
                <key>textureRect</key>
                <string>{{461,0},{125,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,191}</string>
                <key>spriteSourceSize</key>
                <string>{91,191}</string>
                <key>textureRect</key>
                <string>{{586,0},{91,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,192}</string>
                <key>spriteSourceSize</key>
                <string>{72,192}</string>
                <key>textureRect</key>
                <string>{{677,0},{72,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,183}</string>
                <key>spriteSourceSize</key>
                <string>{89,183}</string>
                <key>textureRect</key>
                <string>{{749,0},{89,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillknife (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,179}</string>
                <key>spriteSourceSize</key>
                <string>{135,179}</string>
                <key>textureRect</key>
                <string>{{838,0},{135,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillknife.png</string>
            <key>size</key>
            <string>{1943,707}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4439c905057ffc277389957efe677865:385384bd03e47a48a37c6bacbeb657ab:71251829d875b4e2fb1b3b403e325d3a$</string>
            <key>textureFileName</key>
            <string>skillknife.png</string>
        </dict>
    </dict>
</plist>
