<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillwaterdragonL (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,34}</string>
                <key>spriteSourceSize</key>
                <string>{43,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,243}</string>
                <key>spriteSourceSize</key>
                <string>{145,243}</string>
                <key>textureRect</key>
                <string>{{752,0},{145,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,353}</string>
                <key>spriteSourceSize</key>
                <string>{150,353}</string>
                <key>textureRect</key>
                <string>{{842,502},{150,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,361}</string>
                <key>spriteSourceSize</key>
                <string>{202,361}</string>
                <key>textureRect</key>
                <string>{{0,855},{202,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,373}</string>
                <key>spriteSourceSize</key>
                <string>{300,373}</string>
                <key>textureRect</key>
                <string>{{202,855},{300,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,348}</string>
                <key>spriteSourceSize</key>
                <string>{320,348}</string>
                <key>textureRect</key>
                <string>{{522,502},{320,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,326}</string>
                <key>spriteSourceSize</key>
                <string>{241,326}</string>
                <key>textureRect</key>
                <string>{{281,502},{241,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,257}</string>
                <key>spriteSourceSize</key>
                <string>{155,257}</string>
                <key>textureRect</key>
                <string>{{412,243},{155,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,300}</string>
                <key>spriteSourceSize</key>
                <string>{281,300}</string>
                <key>textureRect</key>
                <string>{{0,502},{281,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,387}</string>
                <key>spriteSourceSize</key>
                <string>{368,387}</string>
                <key>textureRect</key>
                <string>{{502,855},{368,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,396}</string>
                <key>spriteSourceSize</key>
                <string>{393,396}</string>
                <key>textureRect</key>
                <string>{{347,1242},{393,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,91}</string>
                <key>spriteSourceSize</key>
                <string>{109,91}</string>
                <key>textureRect</key>
                <string>{{43,0},{109,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,390}</string>
                <key>spriteSourceSize</key>
                <string>{347,390}</string>
                <key>textureRect</key>
                <string>{{0,1242},{347,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,259}</string>
                <key>spriteSourceSize</key>
                <string>{353,259}</string>
                <key>textureRect</key>
                <string>{{567,243},{353,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,200}</string>
                <key>spriteSourceSize</key>
                <string>{137,200}</string>
                <key>textureRect</key>
                <string>{{310,0},{137,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,185}</string>
                <key>spriteSourceSize</key>
                <string>{158,185}</string>
                <key>textureRect</key>
                <string>{{152,0},{158,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,206}</string>
                <key>spriteSourceSize</key>
                <string>{149,206}</string>
                <key>textureRect</key>
                <string>{{447,0},{149,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,229}</string>
                <key>spriteSourceSize</key>
                <string>{156,229}</string>
                <key>textureRect</key>
                <string>{{596,0},{156,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,253}</string>
                <key>spriteSourceSize</key>
                <string>{134,253}</string>
                <key>textureRect</key>
                <string>{{141,243},{134,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,254}</string>
                <key>spriteSourceSize</key>
                <string>{137,254}</string>
                <key>textureRect</key>
                <string>{{275,243},{137,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonL (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,251}</string>
                <key>spriteSourceSize</key>
                <string>{141,251}</string>
                <key>textureRect</key>
                <string>{{0,243},{141,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillwaterdragonL.png</string>
            <key>size</key>
            <string>{992,1638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:246e917299e8c26e2a68277bbf605106:6f80fb2cabc60198726ee8da469a8acf:70f1c376a328d790b8bcaccc1c9d4557$</string>
            <key>textureFileName</key>
            <string>skillwaterdragonL.png</string>
        </dict>
    </dict>
</plist>
