<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skilldragonflower (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,88}</string>
                <key>spriteSourceSize</key>
                <string>{72,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,248}</string>
                <key>spriteSourceSize</key>
                <string>{242,248}</string>
                <key>textureRect</key>
                <string>{{1315,0},{242,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,227}</string>
                <key>spriteSourceSize</key>
                <string>{220,227}</string>
                <key>textureRect</key>
                <string>{{1095,0},{220,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,252}</string>
                <key>spriteSourceSize</key>
                <string>{283,252}</string>
                <key>textureRect</key>
                <string>{{275,248},{283,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,352}</string>
                <key>spriteSourceSize</key>
                <string>{408,352}</string>
                <key>textureRect</key>
                <string>{{450,900},{408,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,344}</string>
                <key>spriteSourceSize</key>
                <string>{445,344}</string>
                <key>textureRect</key>
                <string>{{1333,556},{445,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,368}</string>
                <key>spriteSourceSize</key>
                <string>{448,368}</string>
                <key>textureRect</key>
                <string>{{1114,900},{448,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,346}</string>
                <key>spriteSourceSize</key>
                <string>{450,346}</string>
                <key>textureRect</key>
                <string>{{0,900},{450,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,328}</string>
                <key>spriteSourceSize</key>
                <string>{450,328}</string>
                <key>textureRect</key>
                <string>{{0,556},{450,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,336}</string>
                <key>spriteSourceSize</key>
                <string>{450,336}</string>
                <key>textureRect</key>
                <string>{{450,556},{450,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,343}</string>
                <key>spriteSourceSize</key>
                <string>{433,343}</string>
                <key>textureRect</key>
                <string>{{900,556},{433,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,197}</string>
                <key>spriteSourceSize</key>
                <string>{233,197}</string>
                <key>textureRect</key>
                <string>{{72,0},{233,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,204}</string>
                <key>spriteSourceSize</key>
                <string>{263,204}</string>
                <key>textureRect</key>
                <string>{{305,0},{263,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,208}</string>
                <key>spriteSourceSize</key>
                <string>{255,208}</string>
                <key>textureRect</key>
                <string>{{568,0},{255,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,214}</string>
                <key>spriteSourceSize</key>
                <string>{272,214}</string>
                <key>textureRect</key>
                <string>{{823,0},{272,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,252}</string>
                <key>spriteSourceSize</key>
                <string>{275,252}</string>
                <key>textureRect</key>
                <string>{{0,248},{275,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,292}</string>
                <key>spriteSourceSize</key>
                <string>{272,292}</string>
                <key>textureRect</key>
                <string>{{558,248},{272,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,308}</string>
                <key>spriteSourceSize</key>
                <string>{263,308}</string>
                <key>textureRect</key>
                <string>{{1078,248},{263,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,368}</string>
                <key>spriteSourceSize</key>
                <string>{256,368}</string>
                <key>textureRect</key>
                <string>{{858,900},{256,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skilldragonflower (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,305}</string>
                <key>spriteSourceSize</key>
                <string>{248,305}</string>
                <key>textureRect</key>
                <string>{{830,248},{248,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skilldragonflower.png</string>
            <key>size</key>
            <string>{1778,1268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a63f2b16aa93f6c6b3bbee6c7476322:a4e27b4c0e55a5be65b09dfc83cf8ec3:387b8505c4467b759880e67b9c321faa$</string>
            <key>textureFileName</key>
            <string>skilldragonflower.png</string>
        </dict>
    </dict>
</plist>
