<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillstab (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,104}</string>
                <key>spriteSourceSize</key>
                <string>{158,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{158,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,266}</string>
                <key>spriteSourceSize</key>
                <string>{246,266}</string>
                <key>textureRect</key>
                <string>{{227,1068},{246,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,279}</string>
                <key>spriteSourceSize</key>
                <string>{235,279}</string>
                <key>textureRect</key>
                <string>{{215,1604},{235,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,270}</string>
                <key>spriteSourceSize</key>
                <string>{253,270}</string>
                <key>textureRect</key>
                <string>{{231,1334},{253,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,270}</string>
                <key>spriteSourceSize</key>
                <string>{231,270}</string>
                <key>textureRect</key>
                <string>{{0,1334},{231,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,271}</string>
                <key>spriteSourceSize</key>
                <string>{215,271}</string>
                <key>textureRect</key>
                <string>{{0,1604},{215,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,250}</string>
                <key>spriteSourceSize</key>
                <string>{243,250}</string>
                <key>textureRect</key>
                <string>{{185,561},{243,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,230}</string>
                <key>spriteSourceSize</key>
                <string>{270,230}</string>
                <key>textureRect</key>
                <string>{{191,331},{270,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,256}</string>
                <key>spriteSourceSize</key>
                <string>{217,256}</string>
                <key>textureRect</key>
                <string>{{0,811},{217,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{158,0},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,149}</string>
                <key>spriteSourceSize</key>
                <string>{166,149}</string>
                <key>textureRect</key>
                <string>{{321,0},{166,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,161}</string>
                <key>spriteSourceSize</key>
                <string>{186,161}</string>
                <key>textureRect</key>
                <string>{{0,149},{186,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,182}</string>
                <key>spriteSourceSize</key>
                <string>{197,182}</string>
                <key>textureRect</key>
                <string>{{186,149},{197,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,229}</string>
                <key>spriteSourceSize</key>
                <string>{191,229}</string>
                <key>textureRect</key>
                <string>{{0,331},{191,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,244}</string>
                <key>spriteSourceSize</key>
                <string>{185,244}</string>
                <key>textureRect</key>
                <string>{{0,561},{185,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,257}</string>
                <key>spriteSourceSize</key>
                <string>{186,257}</string>
                <key>textureRect</key>
                <string>{{217,811},{186,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillstab (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,264}</string>
                <key>spriteSourceSize</key>
                <string>{227,264}</string>
                <key>textureRect</key>
                <string>{{0,1068},{227,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillstab.png</string>
            <key>size</key>
            <string>{487,1883}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06b986aa34e324d69a533797f815bba7:c59a22f4fb7d40b67d7bce85dddcca0a:0f19195d15e4c8b8d170ecd36aa51677$</string>
            <key>textureFileName</key>
            <string>skillstab.png</string>
        </dict>
    </dict>
</plist>
