<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillwater (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,70}</string>
                <key>textureRect</key>
                <string>{{122,0},{138,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,73}</string>
                <key>spriteSourceSize</key>
                <string>{145,73}</string>
                <key>textureRect</key>
                <string>{{0,143},{145,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,78}</string>
                <key>spriteSourceSize</key>
                <string>{146,78}</string>
                <key>textureRect</key>
                <string>{{0,219},{146,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,80}</string>
                <key>spriteSourceSize</key>
                <string>{138,80}</string>
                <key>textureRect</key>
                <string>{{0,299},{138,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,81}</string>
                <key>spriteSourceSize</key>
                <string>{139,81}</string>
                <key>textureRect</key>
                <string>{{138,299},{139,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,84}</string>
                <key>spriteSourceSize</key>
                <string>{135,84}</string>
                <key>textureRect</key>
                <string>{{277,299},{135,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,70}</string>
                <key>spriteSourceSize</key>
                <string>{122,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{122,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,71}</string>
                <key>spriteSourceSize</key>
                <string>{145,71}</string>
                <key>textureRect</key>
                <string>{{140,71},{145,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,71}</string>
                <key>spriteSourceSize</key>
                <string>{145,71}</string>
                <key>textureRect</key>
                <string>{{260,0},{145,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,71}</string>
                <key>spriteSourceSize</key>
                <string>{140,71}</string>
                <key>textureRect</key>
                <string>{{0,71},{140,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,72}</string>
                <key>spriteSourceSize</key>
                <string>{145,72}</string>
                <key>textureRect</key>
                <string>{{285,71},{145,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,76}</string>
                <key>spriteSourceSize</key>
                <string>{145,76}</string>
                <key>textureRect</key>
                <string>{{145,143},{145,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,76}</string>
                <key>spriteSourceSize</key>
                <string>{145,76}</string>
                <key>textureRect</key>
                <string>{{290,143},{145,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,80}</string>
                <key>spriteSourceSize</key>
                <string>{147,80}</string>
                <key>textureRect</key>
                <string>{{146,219},{147,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwater (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,80}</string>
                <key>spriteSourceSize</key>
                <string>{146,80}</string>
                <key>textureRect</key>
                <string>{{293,219},{146,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillwater.png</string>
            <key>size</key>
            <string>{439,383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35cd4624ba58cef42608e5876449cf15:41266e20b2c9e3e0e08bc3b8f548f44b:10f545c35afd973f56757b6f44be39bc$</string>
            <key>textureFileName</key>
            <string>skillwater.png</string>
        </dict>
    </dict>
</plist>
