<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillblackdragon (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,87}</string>
                <key>spriteSourceSize</key>
                <string>{81,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,327}</string>
                <key>spriteSourceSize</key>
                <string>{248,327}</string>
                <key>textureRect</key>
                <string>{{514,898},{248,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,334}</string>
                <key>spriteSourceSize</key>
                <string>{295,334}</string>
                <key>textureRect</key>
                <string>{{460,1225},{295,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,341}</string>
                <key>spriteSourceSize</key>
                <string>{298,341}</string>
                <key>textureRect</key>
                <string>{{549,1559},{298,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,335}</string>
                <key>spriteSourceSize</key>
                <string>{282,335}</string>
                <key>textureRect</key>
                <string>{{0,1559},{282,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,305}</string>
                <key>spriteSourceSize</key>
                <string>{289,305}</string>
                <key>textureRect</key>
                <string>{{0,584},{289,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,279}</string>
                <key>spriteSourceSize</key>
                <string>{301,279}</string>
                <key>textureRect</key>
                <string>{{442,0},{301,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,298}</string>
                <key>spriteSourceSize</key>
                <string>{268,298}</string>
                <key>textureRect</key>
                <string>{{173,279},{268,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,327}</string>
                <key>spriteSourceSize</key>
                <string>{248,327}</string>
                <key>textureRect</key>
                <string>{{0,1225},{248,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,312}</string>
                <key>spriteSourceSize</key>
                <string>{252,312}</string>
                <key>textureRect</key>
                <string>{{289,584},{252,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,305}</string>
                <key>spriteSourceSize</key>
                <string>{254,305}</string>
                <key>textureRect</key>
                <string>{{660,279},{254,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,186}</string>
                <key>spriteSourceSize</key>
                <string>{100,186}</string>
                <key>textureRect</key>
                <string>{{81,0},{100,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,314}</string>
                <key>spriteSourceSize</key>
                <string>{267,314}</string>
                <key>textureRect</key>
                <string>{{541,584},{267,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,320}</string>
                <key>spriteSourceSize</key>
                <string>{299,320}</string>
                <key>textureRect</key>
                <string>{{215,898},{299,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,206}</string>
                <key>spriteSourceSize</key>
                <string>{127,206}</string>
                <key>textureRect</key>
                <string>{{181,0},{127,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,241}</string>
                <key>spriteSourceSize</key>
                <string>{134,241}</string>
                <key>textureRect</key>
                <string>{{308,0},{134,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,291}</string>
                <key>spriteSourceSize</key>
                <string>{173,291}</string>
                <key>textureRect</key>
                <string>{{0,279},{173,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,318}</string>
                <key>spriteSourceSize</key>
                <string>{215,318}</string>
                <key>textureRect</key>
                <string>{{0,898},{215,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,334}</string>
                <key>spriteSourceSize</key>
                <string>{212,334}</string>
                <key>textureRect</key>
                <string>{{248,1225},{212,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,299}</string>
                <key>spriteSourceSize</key>
                <string>{219,299}</string>
                <key>textureRect</key>
                <string>{{441,279},{219,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillblackdragon (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,336}</string>
                <key>spriteSourceSize</key>
                <string>{267,336}</string>
                <key>textureRect</key>
                <string>{{282,1559},{267,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillblackdragon.png</string>
            <key>size</key>
            <string>{914,1900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09d794eb99083383c25b0c3f2e73edf4:6380ab193ec7c19cefb9716c4cc8e5b3:b68a73bc48cd988b62167e347a528a3c$</string>
            <key>textureFileName</key>
            <string>skillblackdragon.png</string>
        </dict>
    </dict>
</plist>
