<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillwaterdragonR (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,314}</string>
                <key>spriteSourceSize</key>
                <string>{202,314}</string>
                <key>textureRect</key>
                <string>{{196,556},{202,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,318}</string>
                <key>spriteSourceSize</key>
                <string>{300,318}</string>
                <key>textureRect</key>
                <string>{{717,556},{300,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,319}</string>
                <key>spriteSourceSize</key>
                <string>{300,319}</string>
                <key>textureRect</key>
                <string>{{0,874},{300,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,301}</string>
                <key>spriteSourceSize</key>
                <string>{317,301}</string>
                <key>textureRect</key>
                <string>{{570,255},{317,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,315}</string>
                <key>spriteSourceSize</key>
                <string>{319,315}</string>
                <key>textureRect</key>
                <string>{{398,556},{319,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,306}</string>
                <key>spriteSourceSize</key>
                <string>{196,306}</string>
                <key>textureRect</key>
                <string>{{0,556},{196,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,359}</string>
                <key>spriteSourceSize</key>
                <string>{239,359}</string>
                <key>textureRect</key>
                <string>{{0,1221},{239,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,347}</string>
                <key>spriteSourceSize</key>
                <string>{321,347}</string>
                <key>textureRect</key>
                <string>{{647,874},{321,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,393}</string>
                <key>spriteSourceSize</key>
                <string>{396,393}</string>
                <key>textureRect</key>
                <string>{{601,1221},{396,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,381}</string>
                <key>spriteSourceSize</key>
                <string>{362,381}</string>
                <key>textureRect</key>
                <string>{{239,1221},{362,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,103}</string>
                <key>spriteSourceSize</key>
                <string>{109,103}</string>
                <key>textureRect</key>
                <string>{{42,0},{109,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,341}</string>
                <key>spriteSourceSize</key>
                <string>{347,341}</string>
                <key>textureRect</key>
                <string>{{300,874},{347,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,285}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{135,255},{285,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,218}</string>
                <key>spriteSourceSize</key>
                <string>{137,218}</string>
                <key>textureRect</key>
                <string>{{308,0},{137,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,203}</string>
                <key>spriteSourceSize</key>
                <string>{157,203}</string>
                <key>textureRect</key>
                <string>{{151,0},{157,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,232}</string>
                <key>spriteSourceSize</key>
                <string>{150,232}</string>
                <key>textureRect</key>
                <string>{{445,0},{150,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,255}</string>
                <key>spriteSourceSize</key>
                <string>{156,255}</string>
                <key>textureRect</key>
                <string>{{737,0},{156,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,276}</string>
                <key>spriteSourceSize</key>
                <string>{135,276}</string>
                <key>textureRect</key>
                <string>{{0,255},{135,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,249}</string>
                <key>spriteSourceSize</key>
                <string>{142,249}</string>
                <key>textureRect</key>
                <string>{{595,0},{142,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillwaterdragonR (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,288}</string>
                <key>spriteSourceSize</key>
                <string>{150,288}</string>
                <key>textureRect</key>
                <string>{{420,255},{150,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillwaterdragonR.png</string>
            <key>size</key>
            <string>{1017,1614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48694d27464c8d99e5d385cbae07da18:60138e3d2b2f211a0ffb8c2cdf4831a6:e53506f235ec033838e384f2a4e51091$</string>
            <key>textureFileName</key>
            <string>skillwaterdragonR.png</string>
        </dict>
    </dict>
</plist>
