<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillring (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,44}</string>
                <key>spriteSourceSize</key>
                <string>{96,44}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillring (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,52}</string>
                <key>spriteSourceSize</key>
                <string>{102,52}</string>
                <key>textureRect</key>
                <string>{{0,44},{102,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillring (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,62}</string>
                <key>spriteSourceSize</key>
                <string>{113,62}</string>
                <key>textureRect</key>
                <string>{{0,96},{113,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillring (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,66}</string>
                <key>spriteSourceSize</key>
                <string>{119,66}</string>
                <key>textureRect</key>
                <string>{{0,158},{119,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillring (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,63}</string>
                <key>spriteSourceSize</key>
                <string>{118,63}</string>
                <key>textureRect</key>
                <string>{{0,224},{118,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillring.png</string>
            <key>size</key>
            <string>{119,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de44a69e6742e75caccfdb7082f5bf56:f40199993a039d402660dd483c5fb5fe:414c542b0be405a3ae9d772f5d135b32$</string>
            <key>textureFileName</key>
            <string>skillring.png</string>
        </dict>
    </dict>
</plist>
