<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_attack_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{72,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,106}</string>
                <key>spriteSourceSize</key>
                <string>{71,106}</string>
                <key>textureRect</key>
                <string>{{0,104},{71,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,106}</string>
                <key>spriteSourceSize</key>
                <string>{69,106}</string>
                <key>textureRect</key>
                <string>{{0,210},{69,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,130}</string>
                <key>spriteSourceSize</key>
                <string>{106,130}</string>
                <key>textureRect</key>
                <string>{{0,316},{106,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,147}</string>
                <key>spriteSourceSize</key>
                <string>{109,147}</string>
                <key>textureRect</key>
                <string>{{0,446},{109,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,162}</string>
                <key>spriteSourceSize</key>
                <string>{109,162}</string>
                <key>textureRect</key>
                <string>{{0,593},{109,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,157}</string>
                <key>spriteSourceSize</key>
                <string>{110,157}</string>
                <key>textureRect</key>
                <string>{{0,755},{110,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,151}</string>
                <key>spriteSourceSize</key>
                <string>{106,151}</string>
                <key>textureRect</key>
                <string>{{0,912},{106,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_attack_rightup.png</string>
            <key>size</key>
            <string>{110,1063}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e57de85744c6d7dc69a421b2322892d:df7747f73278c00619321642a4e18e9a:fa359a3d53380c2f802ec06dca10ad2e$</string>
            <key>textureFileName</key>
            <string>mage_attack_rightup.png</string>
        </dict>
    </dict>
</plist>
