<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_move_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,113}</string>
                <key>spriteSourceSize</key>
                <string>{72,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,101}</string>
                <key>spriteSourceSize</key>
                <string>{64,101}</string>
                <key>textureRect</key>
                <string>{{72,0},{64,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,106}</string>
                <key>spriteSourceSize</key>
                <string>{67,106}</string>
                <key>textureRect</key>
                <string>{{136,0},{67,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,110}</string>
                <key>spriteSourceSize</key>
                <string>{64,110}</string>
                <key>textureRect</key>
                <string>{{203,0},{64,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,111}</string>
                <key>spriteSourceSize</key>
                <string>{67,111}</string>
                <key>textureRect</key>
                <string>{{267,0},{67,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,103}</string>
                <key>spriteSourceSize</key>
                <string>{60,103}</string>
                <key>textureRect</key>
                <string>{{334,0},{60,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,106}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{394,0},{66,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,109}</string>
                <key>spriteSourceSize</key>
                <string>{73,109}</string>
                <key>textureRect</key>
                <string>{{460,0},{73,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_move_down.png</string>
            <key>size</key>
            <string>{533,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73f53c318389b79371be023a46426cf3:6bd803cd57bfb7bdca3410190c8f4122:7ec229b1e6feac4869b0ecaac069dc8d$</string>
            <key>textureFileName</key>
            <string>mage_move_down.png</string>
        </dict>
    </dict>
</plist>
