<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_skill1_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,105}</string>
                <key>spriteSourceSize</key>
                <string>{65,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,132}</string>
                <key>spriteSourceSize</key>
                <string>{96,132}</string>
                <key>textureRect</key>
                <string>{{0,990},{96,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,135}</string>
                <key>spriteSourceSize</key>
                <string>{98,135}</string>
                <key>textureRect</key>
                <string>{{0,1122},{98,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,129}</string>
                <key>spriteSourceSize</key>
                <string>{100,129}</string>
                <key>textureRect</key>
                <string>{{0,1257},{100,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,130}</string>
                <key>spriteSourceSize</key>
                <string>{101,130}</string>
                <key>textureRect</key>
                <string>{{0,1386},{101,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,133}</string>
                <key>spriteSourceSize</key>
                <string>{99,133}</string>
                <key>textureRect</key>
                <string>{{0,1516},{99,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,133}</string>
                <key>spriteSourceSize</key>
                <string>{98,133}</string>
                <key>textureRect</key>
                <string>{{0,1649},{98,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,124}</string>
                <key>spriteSourceSize</key>
                <string>{94,124}</string>
                <key>textureRect</key>
                <string>{{0,1782},{94,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,118}</string>
                <key>spriteSourceSize</key>
                <string>{92,118}</string>
                <key>textureRect</key>
                <string>{{0,1906},{92,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,106}</string>
                <key>spriteSourceSize</key>
                <string>{67,106}</string>
                <key>textureRect</key>
                <string>{{0,105},{67,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,106}</string>
                <key>spriteSourceSize</key>
                <string>{68,106}</string>
                <key>textureRect</key>
                <string>{{0,211},{68,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,106}</string>
                <key>spriteSourceSize</key>
                <string>{74,106}</string>
                <key>textureRect</key>
                <string>{{0,317},{74,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,106}</string>
                <key>spriteSourceSize</key>
                <string>{78,106}</string>
                <key>textureRect</key>
                <string>{{0,423},{78,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,106}</string>
                <key>spriteSourceSize</key>
                <string>{81,106}</string>
                <key>textureRect</key>
                <string>{{0,529},{81,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{0,635},{84,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,119}</string>
                <key>spriteSourceSize</key>
                <string>{89,119}</string>
                <key>textureRect</key>
                <string>{{0,743},{89,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,128}</string>
                <key>spriteSourceSize</key>
                <string>{93,128}</string>
                <key>textureRect</key>
                <string>{{0,862},{93,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_skill1_rightup.png</string>
            <key>size</key>
            <string>{101,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7dd39c3df1a89afe4b70684e6f34597:f20d4678dbc6b4c735ca828b20b2f7d5:03712f2635bb2c669b18bc6374b20c7a$</string>
            <key>textureFileName</key>
            <string>mage_skill1_rightup.png</string>
        </dict>
    </dict>
</plist>
