<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_stand_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,113}</string>
                <key>spriteSourceSize</key>
                <string>{79,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,113}</string>
                <key>spriteSourceSize</key>
                <string>{77,113}</string>
                <key>textureRect</key>
                <string>{{702,0},{77,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,113}</string>
                <key>spriteSourceSize</key>
                <string>{77,113}</string>
                <key>textureRect</key>
                <string>{{779,0},{77,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,113}</string>
                <key>spriteSourceSize</key>
                <string>{78,113}</string>
                <key>textureRect</key>
                <string>{{856,0},{78,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,112}</string>
                <key>spriteSourceSize</key>
                <string>{79,112}</string>
                <key>textureRect</key>
                <string>{{79,0},{79,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,112}</string>
                <key>spriteSourceSize</key>
                <string>{80,112}</string>
                <key>textureRect</key>
                <string>{{158,0},{80,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,112}</string>
                <key>spriteSourceSize</key>
                <string>{78,112}</string>
                <key>textureRect</key>
                <string>{{238,0},{78,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,112}</string>
                <key>spriteSourceSize</key>
                <string>{79,112}</string>
                <key>textureRect</key>
                <string>{{316,0},{79,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,112}</string>
                <key>spriteSourceSize</key>
                <string>{77,112}</string>
                <key>textureRect</key>
                <string>{{395,0},{77,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,113}</string>
                <key>spriteSourceSize</key>
                <string>{77,113}</string>
                <key>textureRect</key>
                <string>{{472,0},{77,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,113}</string>
                <key>spriteSourceSize</key>
                <string>{76,113}</string>
                <key>textureRect</key>
                <string>{{549,0},{76,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,113}</string>
                <key>spriteSourceSize</key>
                <string>{77,113}</string>
                <key>textureRect</key>
                <string>{{625,0},{77,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_stand_rightdown.png</string>
            <key>size</key>
            <string>{934,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4362626438b68a5f51a859627f13cafc:834fbdfab2e20d187a17a0ad2efb93aa:240f00bda4714315e8b1c9d47d42a8e4$</string>
            <key>textureFileName</key>
            <string>mage_stand_rightdown.png</string>
        </dict>
    </dict>
</plist>
