<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_skill1_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,110}</string>
                <key>spriteSourceSize</key>
                <string>{61,110}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,109}</string>
                <key>spriteSourceSize</key>
                <string>{95,109}</string>
                <key>textureRect</key>
                <string>{{691,0},{95,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,115}</string>
                <key>spriteSourceSize</key>
                <string>{97,115}</string>
                <key>textureRect</key>
                <string>{{786,0},{97,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,116}</string>
                <key>spriteSourceSize</key>
                <string>{95,116}</string>
                <key>textureRect</key>
                <string>{{883,0},{95,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,118}</string>
                <key>spriteSourceSize</key>
                <string>{93,118}</string>
                <key>textureRect</key>
                <string>{{978,0},{93,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,116}</string>
                <key>spriteSourceSize</key>
                <string>{95,116}</string>
                <key>textureRect</key>
                <string>{{1071,0},{95,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,119}</string>
                <key>spriteSourceSize</key>
                <string>{93,119}</string>
                <key>textureRect</key>
                <string>{{1166,0},{93,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,114}</string>
                <key>spriteSourceSize</key>
                <string>{77,114}</string>
                <key>textureRect</key>
                <string>{{1259,0},{77,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,121}</string>
                <key>spriteSourceSize</key>
                <string>{71,121}</string>
                <key>textureRect</key>
                <string>{{1336,0},{71,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,109}</string>
                <key>spriteSourceSize</key>
                <string>{65,109}</string>
                <key>textureRect</key>
                <string>{{61,0},{65,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,109}</string>
                <key>spriteSourceSize</key>
                <string>{66,109}</string>
                <key>textureRect</key>
                <string>{{126,0},{66,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,108}</string>
                <key>spriteSourceSize</key>
                <string>{71,108}</string>
                <key>textureRect</key>
                <string>{{192,0},{71,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,110}</string>
                <key>spriteSourceSize</key>
                <string>{77,110}</string>
                <key>textureRect</key>
                <string>{{263,0},{77,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{82,110}</string>
                <key>textureRect</key>
                <string>{{340,0},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,110}</string>
                <key>spriteSourceSize</key>
                <string>{86,110}</string>
                <key>textureRect</key>
                <string>{{422,0},{86,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,110}</string>
                <key>spriteSourceSize</key>
                <string>{89,110}</string>
                <key>textureRect</key>
                <string>{{508,0},{89,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,110}</string>
                <key>spriteSourceSize</key>
                <string>{94,110}</string>
                <key>textureRect</key>
                <string>{{597,0},{94,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_skill1_leftdown.png</string>
            <key>size</key>
            <string>{1407,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:404955f73ba5a1154775d6aed691dced:29ac5045bf7fb823d1b21b02798cb5cd:0ff58adc8655ec2edcb2d38cc5fd295e$</string>
            <key>textureFileName</key>
            <string>mage_skill1_leftdown.png</string>
        </dict>
    </dict>
</plist>
