<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_skill1_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,102}</string>
                <key>spriteSourceSize</key>
                <string>{57,102}</string>
                <key>textureRect</key>
                <string>{{61,102},{57,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,131}</string>
                <key>spriteSourceSize</key>
                <string>{57,131}</string>
                <key>textureRect</key>
                <string>{{166,212},{57,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,130}</string>
                <key>spriteSourceSize</key>
                <string>{61,130}</string>
                <key>textureRect</key>
                <string>{{105,212},{61,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,134}</string>
                <key>spriteSourceSize</key>
                <string>{66,134}</string>
                <key>textureRect</key>
                <string>{{0,343},{66,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,136}</string>
                <key>spriteSourceSize</key>
                <string>{67,136}</string>
                <key>textureRect</key>
                <string>{{66,343},{67,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,142}</string>
                <key>spriteSourceSize</key>
                <string>{67,142}</string>
                <key>textureRect</key>
                <string>{{133,343},{67,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,143}</string>
                <key>spriteSourceSize</key>
                <string>{65,143}</string>
                <key>textureRect</key>
                <string>{{62,485},{65,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,146}</string>
                <key>spriteSourceSize</key>
                <string>{65,146}</string>
                <key>textureRect</key>
                <string>{{127,485},{65,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,143}</string>
                <key>spriteSourceSize</key>
                <string>{62,143}</string>
                <key>textureRect</key>
                <string>{{0,485},{62,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,102}</string>
                <key>spriteSourceSize</key>
                <string>{57,102}</string>
                <key>textureRect</key>
                <string>{{120,0},{57,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,101}</string>
                <key>spriteSourceSize</key>
                <string>{59,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,102}</string>
                <key>spriteSourceSize</key>
                <string>{61,102}</string>
                <key>textureRect</key>
                <string>{{59,0},{61,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,102}</string>
                <key>spriteSourceSize</key>
                <string>{61,102}</string>
                <key>textureRect</key>
                <string>{{0,102},{61,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,102}</string>
                <key>spriteSourceSize</key>
                <string>{60,102}</string>
                <key>textureRect</key>
                <string>{{118,102},{60,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,110}</string>
                <key>spriteSourceSize</key>
                <string>{55,110}</string>
                <key>textureRect</key>
                <string>{{178,102},{55,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,116}</string>
                <key>spriteSourceSize</key>
                <string>{52,116}</string>
                <key>textureRect</key>
                <string>{{0,212},{52,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,129}</string>
                <key>spriteSourceSize</key>
                <string>{53,129}</string>
                <key>textureRect</key>
                <string>{{52,212},{53,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_skill1_leftup.png</string>
            <key>size</key>
            <string>{233,631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b78d95f4be2fe36bd10daf41493fc29:792de8a6bbcb151bce1cf3f824262d02:e00866a87221f30f72b35ee9da5d67d5$</string>
            <key>textureFileName</key>
            <string>mage_skill1_leftup.png</string>
        </dict>
    </dict>
</plist>
