<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_move_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,115}</string>
                <key>spriteSourceSize</key>
                <string>{75,115}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,109}</string>
                <key>spriteSourceSize</key>
                <string>{72,109}</string>
                <key>textureRect</key>
                <string>{{75,0},{72,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,109}</string>
                <key>spriteSourceSize</key>
                <string>{73,109}</string>
                <key>textureRect</key>
                <string>{{147,0},{73,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{84,112}</string>
                <key>textureRect</key>
                <string>{{220,0},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,110}</string>
                <key>spriteSourceSize</key>
                <string>{85,110}</string>
                <key>textureRect</key>
                <string>{{304,0},{85,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,102}</string>
                <key>spriteSourceSize</key>
                <string>{77,102}</string>
                <key>textureRect</key>
                <string>{{389,0},{77,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,108}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{466,0},{78,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,113}</string>
                <key>spriteSourceSize</key>
                <string>{78,113}</string>
                <key>textureRect</key>
                <string>{{544,0},{78,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_move_leftup.png</string>
            <key>size</key>
            <string>{622,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:479607e83f9640b5ccffc5440eac621a:d9e8e1a8afa1b39fa348b0ba00896633:0db1a9cc28059e8e96e3a57f604c2992$</string>
            <key>textureFileName</key>
            <string>mage_move_leftup.png</string>
        </dict>
    </dict>
</plist>
