<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_skill1_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,105}</string>
                <key>spriteSourceSize</key>
                <string>{60,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,115}</string>
                <key>spriteSourceSize</key>
                <string>{78,115}</string>
                <key>textureRect</key>
                <string>{{251,106},{78,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,126}</string>
                <key>spriteSourceSize</key>
                <string>{72,126}</string>
                <key>textureRect</key>
                <string>{{329,106},{72,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,129}</string>
                <key>spriteSourceSize</key>
                <string>{70,129}</string>
                <key>textureRect</key>
                <string>{{0,232},{70,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,131}</string>
                <key>spriteSourceSize</key>
                <string>{65,131}</string>
                <key>textureRect</key>
                <string>{{70,232},{65,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,132}</string>
                <key>spriteSourceSize</key>
                <string>{63,132}</string>
                <key>textureRect</key>
                <string>{{135,232},{63,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,137}</string>
                <key>spriteSourceSize</key>
                <string>{73,137}</string>
                <key>textureRect</key>
                <string>{{198,232},{73,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,135}</string>
                <key>spriteSourceSize</key>
                <string>{74,135}</string>
                <key>textureRect</key>
                <string>{{271,232},{74,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,138}</string>
                <key>spriteSourceSize</key>
                <string>{60,138}</string>
                <key>textureRect</key>
                <string>{{345,232},{60,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,104}</string>
                <key>spriteSourceSize</key>
                <string>{68,104}</string>
                <key>textureRect</key>
                <string>{{60,0},{68,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,105}</string>
                <key>spriteSourceSize</key>
                <string>{72,105}</string>
                <key>textureRect</key>
                <string>{{128,0},{72,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,105}</string>
                <key>spriteSourceSize</key>
                <string>{74,105}</string>
                <key>textureRect</key>
                <string>{{200,0},{74,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,106}</string>
                <key>spriteSourceSize</key>
                <string>{77,106}</string>
                <key>textureRect</key>
                <string>{{274,0},{77,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,106}</string>
                <key>spriteSourceSize</key>
                <string>{79,106}</string>
                <key>textureRect</key>
                <string>{{351,0},{79,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,106}</string>
                <key>spriteSourceSize</key>
                <string>{83,106}</string>
                <key>textureRect</key>
                <string>{{0,106},{83,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,105}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{83,106},{85,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,108}</string>
                <key>spriteSourceSize</key>
                <string>{83,108}</string>
                <key>textureRect</key>
                <string>{{168,106},{83,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_skill1_left.png</string>
            <key>size</key>
            <string>{430,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caea0daf52af6e84bdd4cced79367a01:ca2cf0533c5a49c4cfb6184937fea827:f5f6fc474916028ab150c5a510e9c498$</string>
            <key>textureFileName</key>
            <string>mage_skill1_left.png</string>
        </dict>
    </dict>
</plist>
