<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_stand_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{79,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,102}</string>
                <key>spriteSourceSize</key>
                <string>{78,102}</string>
                <key>textureRect</key>
                <string>{{702,0},{78,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{79,102}</string>
                <key>textureRect</key>
                <string>{{780,0},{79,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{79,102}</string>
                <key>textureRect</key>
                <string>{{859,0},{79,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{79,102}</string>
                <key>textureRect</key>
                <string>{{79,0},{79,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{79,102}</string>
                <key>textureRect</key>
                <string>{{158,0},{79,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{78,101}</string>
                <key>textureRect</key>
                <string>{{237,0},{78,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{78,101}</string>
                <key>textureRect</key>
                <string>{{315,0},{78,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,101}</string>
                <key>spriteSourceSize</key>
                <string>{77,101}</string>
                <key>textureRect</key>
                <string>{{393,0},{77,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,102}</string>
                <key>spriteSourceSize</key>
                <string>{77,102}</string>
                <key>textureRect</key>
                <string>{{470,0},{77,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,102}</string>
                <key>spriteSourceSize</key>
                <string>{77,102}</string>
                <key>textureRect</key>
                <string>{{547,0},{77,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,102}</string>
                <key>spriteSourceSize</key>
                <string>{78,102}</string>
                <key>textureRect</key>
                <string>{{624,0},{78,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_stand_leftup.png</string>
            <key>size</key>
            <string>{938,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d709bd50f3b65f00487090dfe8d799f3:d70728ed7651b86db08bb2a453214098:c1db161efab08725a4fc41e4b5770a35$</string>
            <key>textureFileName</key>
            <string>mage_stand_leftup.png</string>
        </dict>
    </dict>
</plist>
