<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_dead_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,113}</string>
                <key>spriteSourceSize</key>
                <string>{79,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,57}</string>
                <key>spriteSourceSize</key>
                <string>{115,57}</string>
                <key>textureRect</key>
                <string>{{823,0},{115,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,108}</string>
                <key>spriteSourceSize</key>
                <string>{74,108}</string>
                <key>textureRect</key>
                <string>{{79,0},{74,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,102}</string>
                <key>spriteSourceSize</key>
                <string>{91,102}</string>
                <key>textureRect</key>
                <string>{{153,0},{91,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,101}</string>
                <key>spriteSourceSize</key>
                <string>{89,101}</string>
                <key>textureRect</key>
                <string>{{244,0},{89,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,104}</string>
                <key>spriteSourceSize</key>
                <string>{93,104}</string>
                <key>textureRect</key>
                <string>{{333,0},{93,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,109}</string>
                <key>spriteSourceSize</key>
                <string>{95,109}</string>
                <key>textureRect</key>
                <string>{{426,0},{95,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,91}</string>
                <key>spriteSourceSize</key>
                <string>{90,91}</string>
                <key>textureRect</key>
                <string>{{521,0},{90,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,72}</string>
                <key>textureRect</key>
                <string>{{611,0},{96,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,65}</string>
                <key>spriteSourceSize</key>
                <string>{116,65}</string>
                <key>textureRect</key>
                <string>{{707,0},{116,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_dead_rightdown.png</string>
            <key>size</key>
            <string>{938,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7137faebdadf1a7203f3be0f71abaea3:a326e78118b7f508b126f7dda3f11b99:d3f9b4adf02a89235fb35ec40195f9cd$</string>
            <key>textureFileName</key>
            <string>mage_dead_rightdown.png</string>
        </dict>
    </dict>
</plist>
