<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_attack_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,113}</string>
                <key>spriteSourceSize</key>
                <string>{64,113}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,111}</string>
                <key>spriteSourceSize</key>
                <string>{66,111}</string>
                <key>textureRect</key>
                <string>{{64,0},{66,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,113}</string>
                <key>spriteSourceSize</key>
                <string>{63,113}</string>
                <key>textureRect</key>
                <string>{{130,0},{63,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,114}</string>
                <key>spriteSourceSize</key>
                <string>{83,114}</string>
                <key>textureRect</key>
                <string>{{193,0},{83,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,112}</string>
                <key>spriteSourceSize</key>
                <string>{88,112}</string>
                <key>textureRect</key>
                <string>{{276,0},{88,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,122}</string>
                <key>spriteSourceSize</key>
                <string>{88,122}</string>
                <key>textureRect</key>
                <string>{{364,0},{88,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,114}</string>
                <key>spriteSourceSize</key>
                <string>{89,114}</string>
                <key>textureRect</key>
                <string>{{452,0},{89,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_attack_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,115}</string>
                <key>spriteSourceSize</key>
                <string>{83,115}</string>
                <key>textureRect</key>
                <string>{{541,0},{83,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_attack_leftdown.png</string>
            <key>size</key>
            <string>{624,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f9ad50abb0357db6cc3717b3ca62b89:fb95be0f97bf2c06467e1dd268f3142b:625176fa71448c5f2c5efe46cd4ebfe3$</string>
            <key>textureFileName</key>
            <string>mage_attack_leftdown.png</string>
        </dict>
    </dict>
</plist>
