<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_move_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,107}</string>
                <key>spriteSourceSize</key>
                <string>{93,107}</string>
                <key>textureRect</key>
                <string>{{0,0},{93,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,101}</string>
                <key>spriteSourceSize</key>
                <string>{85,101}</string>
                <key>textureRect</key>
                <string>{{93,0},{85,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,104}</string>
                <key>spriteSourceSize</key>
                <string>{85,104}</string>
                <key>textureRect</key>
                <string>{{0,107},{85,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,104}</string>
                <key>spriteSourceSize</key>
                <string>{93,104}</string>
                <key>textureRect</key>
                <string>{{85,107},{93,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,105}</string>
                <key>spriteSourceSize</key>
                <string>{89,105}</string>
                <key>textureRect</key>
                <string>{{0,211},{89,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,99}</string>
                <key>spriteSourceSize</key>
                <string>{84,99}</string>
                <key>textureRect</key>
                <string>{{89,211},{84,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{0,316},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,109}</string>
                <key>spriteSourceSize</key>
                <string>{90,109}</string>
                <key>textureRect</key>
                <string>{{86,316},{90,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_move_left.png</string>
            <key>size</key>
            <string>{178,425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da1fc17012d058416ab30a0616eb91e8:f1d06289b1e6fc4c9df4f2bc3a534189:b2964118ff3ce4161f5a4365623986dc$</string>
            <key>textureFileName</key>
            <string>mage_move_left.png</string>
        </dict>
    </dict>
</plist>
