<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_stand_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{72,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{72,104}</string>
                <key>textureRect</key>
                <string>{{0,311},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{72,104}</string>
                <key>textureRect</key>
                <string>{{72,311},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{72,104}</string>
                <key>textureRect</key>
                <string>{{144,311},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{72,0},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{144,0},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{0,104},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{72,104},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,103}</string>
                <key>spriteSourceSize</key>
                <string>{72,103}</string>
                <key>textureRect</key>
                <string>{{144,104},{72,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{72,104}</string>
                <key>textureRect</key>
                <string>{{0,207},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{72,104}</string>
                <key>textureRect</key>
                <string>{{72,207},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_stand_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{72,104}</string>
                <key>textureRect</key>
                <string>{{144,207},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_stand_rightup.png</string>
            <key>size</key>
            <string>{216,415}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6604f14f90bcfbff76a63a64485b4069:711025bf96a539a4eee3d1db64eb13f0:3f87c02c6f5a11c1a6dbeaf65e258566$</string>
            <key>textureFileName</key>
            <string>mage_stand_rightup.png</string>
        </dict>
    </dict>
</plist>
