<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_move_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,106}</string>
                <key>spriteSourceSize</key>
                <string>{75,106}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,99}</string>
                <key>spriteSourceSize</key>
                <string>{65,99}</string>
                <key>textureRect</key>
                <string>{{75,0},{65,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,107}</string>
                <key>spriteSourceSize</key>
                <string>{66,107}</string>
                <key>textureRect</key>
                <string>{{140,0},{66,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,110}</string>
                <key>spriteSourceSize</key>
                <string>{83,110}</string>
                <key>textureRect</key>
                <string>{{206,0},{83,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,110}</string>
                <key>spriteSourceSize</key>
                <string>{84,110}</string>
                <key>textureRect</key>
                <string>{{289,0},{84,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,103}</string>
                <key>spriteSourceSize</key>
                <string>{74,103}</string>
                <key>textureRect</key>
                <string>{{373,0},{74,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,102}</string>
                <key>spriteSourceSize</key>
                <string>{71,102}</string>
                <key>textureRect</key>
                <string>{{447,0},{71,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,106}</string>
                <key>spriteSourceSize</key>
                <string>{74,106}</string>
                <key>textureRect</key>
                <string>{{518,0},{74,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_move_rightdown.png</string>
            <key>size</key>
            <string>{592,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b4d3efc57608768b9ebf81cf49a44b7:cea4a9f6b8cd184fcabf21b5d37090a9:5853a11852a799b0b4d0e0b1590d8a0a$</string>
            <key>textureFileName</key>
            <string>mage_move_rightdown.png</string>
        </dict>
    </dict>
</plist>
