<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_skill_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,113}</string>
                <key>spriteSourceSize</key>
                <string>{64,113}</string>
                <key>textureRect</key>
                <string>{{67,332},{64,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,107}</string>
                <key>spriteSourceSize</key>
                <string>{74,107}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,108}</string>
                <key>spriteSourceSize</key>
                <string>{82,108}</string>
                <key>textureRect</key>
                <string>{{74,0},{82,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,200}</string>
                <key>spriteSourceSize</key>
                <string>{112,200}</string>
                <key>textureRect</key>
                <string>{{114,699},{112,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,180}</string>
                <key>spriteSourceSize</key>
                <string>{110,180}</string>
                <key>textureRect</key>
                <string>{{131,332},{110,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,183}</string>
                <key>spriteSourceSize</key>
                <string>{114,183}</string>
                <key>textureRect</key>
                <string>{{0,512},{114,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,188}</string>
                <key>spriteSourceSize</key>
                <string>{114,188}</string>
                <key>textureRect</key>
                <string>{{0,699},{114,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,187}</string>
                <key>spriteSourceSize</key>
                <string>{107,187}</string>
                <key>textureRect</key>
                <string>{{114,512},{107,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,112}</string>
                <key>spriteSourceSize</key>
                <string>{67,112}</string>
                <key>textureRect</key>
                <string>{{0,332},{67,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,111}</string>
                <key>spriteSourceSize</key>
                <string>{75,111}</string>
                <key>textureRect</key>
                <string>{{161,221},{75,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{82,110}</string>
                <key>textureRect</key>
                <string>{{0,110},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,111}</string>
                <key>spriteSourceSize</key>
                <string>{78,111}</string>
                <key>textureRect</key>
                <string>{{172,110},{78,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,110}</string>
                <key>spriteSourceSize</key>
                <string>{84,110}</string>
                <key>textureRect</key>
                <string>{{156,0},{84,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,110}</string>
                <key>textureRect</key>
                <string>{{82,110},{90,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,111}</string>
                <key>spriteSourceSize</key>
                <string>{85,111}</string>
                <key>textureRect</key>
                <string>{{76,221},{85,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,111}</string>
                <key>spriteSourceSize</key>
                <string>{76,111}</string>
                <key>textureRect</key>
                <string>{{0,221},{76,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_skill_leftdown.png</string>
            <key>size</key>
            <string>{250,899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:200b7b0d844798a7bf7e10a93466147f:bdd8d05650f3f0b3404376fc71fba282:20d6ad2399eed6806d23af3a59f77f88$</string>
            <key>textureFileName</key>
            <string>mage_skill_leftdown.png</string>
        </dict>
    </dict>
</plist>
