<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_dead_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,102}</string>
                <key>spriteSourceSize</key>
                <string>{80,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,65}</string>
                <key>spriteSourceSize</key>
                <string>{120,65}</string>
                <key>textureRect</key>
                <string>{{116,285},{120,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,96}</string>
                <key>spriteSourceSize</key>
                <string>{61,96}</string>
                <key>textureRect</key>
                <string>{{80,0},{61,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,98}</string>
                <key>textureRect</key>
                <string>{{141,0},{86,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,100}</string>
                <key>spriteSourceSize</key>
                <string>{88,100}</string>
                <key>textureRect</key>
                <string>{{0,102},{88,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{78,101}</string>
                <key>textureRect</key>
                <string>{{88,102},{78,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,101}</string>
                <key>spriteSourceSize</key>
                <string>{84,101}</string>
                <key>textureRect</key>
                <string>{{166,102},{84,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,82}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{0,203},{81,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,81}</string>
                <key>spriteSourceSize</key>
                <string>{88,81}</string>
                <key>textureRect</key>
                <string>{{81,203},{88,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_dead_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,61}</string>
                <key>spriteSourceSize</key>
                <string>{116,61}</string>
                <key>textureRect</key>
                <string>{{0,285},{116,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_dead_leftup.png</string>
            <key>size</key>
            <string>{250,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b11b5d4a0fdceea3db936b168b01352d:508ab0fbf7089d3f2836553684586135:4e095ca68f17255c5299ade2414c4691$</string>
            <key>textureFileName</key>
            <string>mage_dead_leftup.png</string>
        </dict>
    </dict>
</plist>
