<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_behit_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{79,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_behit_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,108}</string>
                <key>spriteSourceSize</key>
                <string>{80,108}</string>
                <key>textureRect</key>
                <string>{{79,0},{80,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_behit_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,107}</string>
                <key>spriteSourceSize</key>
                <string>{77,107}</string>
                <key>textureRect</key>
                <string>{{159,0},{77,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_behit_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,107}</string>
                <key>spriteSourceSize</key>
                <string>{71,107}</string>
                <key>textureRect</key>
                <string>{{236,0},{71,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_behit_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,107}</string>
                <key>spriteSourceSize</key>
                <string>{69,107}</string>
                <key>textureRect</key>
                <string>{{307,0},{69,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_behit_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,106}</string>
                <key>spriteSourceSize</key>
                <string>{72,106}</string>
                <key>textureRect</key>
                <string>{{376,0},{72,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_behit_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,104}</string>
                <key>spriteSourceSize</key>
                <string>{76,104}</string>
                <key>textureRect</key>
                <string>{{448,0},{76,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_behit_left.png</string>
            <key>size</key>
            <string>{524,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57d1e31d9853e063118d935f2121e0a8:6be49d549ae66222a2f66da656102ef5:3b6bc6f9659556598c0415ec3e852add$</string>
            <key>textureFileName</key>
            <string>mage_behit_left.png</string>
        </dict>
    </dict>
</plist>
