<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_skill_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,113}</string>
                <key>spriteSourceSize</key>
                <string>{78,113}</string>
                <key>textureRect</key>
                <string>{{180,0},{78,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,111}</string>
                <key>spriteSourceSize</key>
                <string>{92,111}</string>
                <key>textureRect</key>
                <string>{{0,0},{92,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{258,0},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,207}</string>
                <key>spriteSourceSize</key>
                <string>{139,207}</string>
                <key>textureRect</key>
                <string>{{263,406},{139,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,170}</string>
                <key>spriteSourceSize</key>
                <string>{135,170}</string>
                <key>textureRect</key>
                <string>{{164,228},{135,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,178}</string>
                <key>spriteSourceSize</key>
                <string>{136,178}</string>
                <key>textureRect</key>
                <string>{{299,228},{136,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,190}</string>
                <key>spriteSourceSize</key>
                <string>{136,190}</string>
                <key>textureRect</key>
                <string>{{0,406},{136,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,198}</string>
                <key>spriteSourceSize</key>
                <string>{127,198}</string>
                <key>textureRect</key>
                <string>{{136,406},{127,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,115}</string>
                <key>spriteSourceSize</key>
                <string>{82,115}</string>
                <key>textureRect</key>
                <string>{{82,228},{82,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,115}</string>
                <key>spriteSourceSize</key>
                <string>{82,115}</string>
                <key>textureRect</key>
                <string>{{0,228},{82,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,114}</string>
                <key>spriteSourceSize</key>
                <string>{84,114}</string>
                <key>textureRect</key>
                <string>{{0,113},{84,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,115}</string>
                <key>spriteSourceSize</key>
                <string>{88,115}</string>
                <key>textureRect</key>
                <string>{{173,113},{88,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,115}</string>
                <key>spriteSourceSize</key>
                <string>{89,115}</string>
                <key>textureRect</key>
                <string>{{350,113},{89,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,115}</string>
                <key>spriteSourceSize</key>
                <string>{89,115}</string>
                <key>textureRect</key>
                <string>{{261,113},{89,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,115}</string>
                <key>spriteSourceSize</key>
                <string>{89,115}</string>
                <key>textureRect</key>
                <string>{{84,113},{89,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,112}</string>
                <key>spriteSourceSize</key>
                <string>{88,112}</string>
                <key>textureRect</key>
                <string>{{92,0},{88,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_skill_rightdown.png</string>
            <key>size</key>
            <string>{439,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e650bfbb41d65e23874e69285d7eb0fa:a2256e0eabe7fe1ff9e88bc2ab8ea753:2de353ba7492e91e75b777be859eeb6c$</string>
            <key>textureFileName</key>
            <string>mage_skill_rightdown.png</string>
        </dict>
    </dict>
</plist>
