<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_move_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,114}</string>
                <key>spriteSourceSize</key>
                <string>{64,114}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,109}</string>
                <key>spriteSourceSize</key>
                <string>{63,109}</string>
                <key>textureRect</key>
                <string>{{64,0},{63,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,112}</string>
                <key>spriteSourceSize</key>
                <string>{69,112}</string>
                <key>textureRect</key>
                <string>{{127,0},{69,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,115}</string>
                <key>spriteSourceSize</key>
                <string>{67,115}</string>
                <key>textureRect</key>
                <string>{{196,0},{67,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,114}</string>
                <key>spriteSourceSize</key>
                <string>{71,114}</string>
                <key>textureRect</key>
                <string>{{263,0},{71,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,108}</string>
                <key>spriteSourceSize</key>
                <string>{66,108}</string>
                <key>textureRect</key>
                <string>{{334,0},{66,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,114}</string>
                <key>spriteSourceSize</key>
                <string>{70,114}</string>
                <key>textureRect</key>
                <string>{{400,0},{70,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_move_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,116}</string>
                <key>spriteSourceSize</key>
                <string>{68,116}</string>
                <key>textureRect</key>
                <string>{{470,0},{68,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_move_up.png</string>
            <key>size</key>
            <string>{538,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd037f54597be7834f7321186e8f4f4e:ffeef57666408ec891836166174b757b:61e5b26b5847d69046e6661e6ac1c79f$</string>
            <key>textureFileName</key>
            <string>mage_move_up.png</string>
        </dict>
    </dict>
</plist>
