<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_skill_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,102}</string>
                <key>spriteSourceSize</key>
                <string>{79,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,112}</string>
                <key>spriteSourceSize</key>
                <string>{79,112}</string>
                <key>textureRect</key>
                <string>{{0,223},{79,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,119}</string>
                <key>spriteSourceSize</key>
                <string>{86,119}</string>
                <key>textureRect</key>
                <string>{{76,336},{86,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,204}</string>
                <key>spriteSourceSize</key>
                <string>{125,204}</string>
                <key>textureRect</key>
                <string>{{122,835},{125,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,185}</string>
                <key>spriteSourceSize</key>
                <string>{124,185}</string>
                <key>textureRect</key>
                <string>{{0,455},{124,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,192}</string>
                <key>spriteSourceSize</key>
                <string>{126,192}</string>
                <key>textureRect</key>
                <string>{{0,643},{126,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,194}</string>
                <key>spriteSourceSize</key>
                <string>{122,194}</string>
                <key>textureRect</key>
                <string>{{0,835},{122,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,188}</string>
                <key>spriteSourceSize</key>
                <string>{111,188}</string>
                <key>textureRect</key>
                <string>{{124,455},{111,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,110}</string>
                <key>spriteSourceSize</key>
                <string>{76,110}</string>
                <key>textureRect</key>
                <string>{{79,0},{76,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,111}</string>
                <key>spriteSourceSize</key>
                <string>{84,111}</string>
                <key>textureRect</key>
                <string>{{0,111},{84,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,112}</string>
                <key>spriteSourceSize</key>
                <string>{74,112}</string>
                <key>textureRect</key>
                <string>{{84,111},{74,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,113}</string>
                <key>spriteSourceSize</key>
                <string>{76,113}</string>
                <key>textureRect</key>
                <string>{{0,336},{76,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,113}</string>
                <key>spriteSourceSize</key>
                <string>{77,113}</string>
                <key>textureRect</key>
                <string>{{157,223},{77,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,113}</string>
                <key>spriteSourceSize</key>
                <string>{78,113}</string>
                <key>textureRect</key>
                <string>{{79,223},{78,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,112}</string>
                <key>spriteSourceSize</key>
                <string>{81,112}</string>
                <key>textureRect</key>
                <string>{{158,111},{81,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,111}</string>
                <key>spriteSourceSize</key>
                <string>{77,111}</string>
                <key>textureRect</key>
                <string>{{155,0},{77,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_skill_leftup.png</string>
            <key>size</key>
            <string>{247,1039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a63cd7b3962c45c96cf04b657da5064:18d1060b4ac97d88d3a7fd0c8f74d5ee:96cb755395f44cab7bc924178780a6c3$</string>
            <key>textureFileName</key>
            <string>mage_skill_leftup.png</string>
        </dict>
    </dict>
</plist>
