<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_skill2_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,113}</string>
                <key>spriteSourceSize</key>
                <string>{87,113}</string>
                <key>textureRect</key>
                <string>{{170,0},{87,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,113}</string>
                <key>spriteSourceSize</key>
                <string>{101,113}</string>
                <key>textureRect</key>
                <string>{{349,0},{101,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,114}</string>
                <key>spriteSourceSize</key>
                <string>{109,114}</string>
                <key>textureRect</key>
                <string>{{106,225},{109,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,139}</string>
                <key>spriteSourceSize</key>
                <string>{199,139}</string>
                <key>textureRect</key>
                <string>{{215,225},{199,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,177}</string>
                <key>spriteSourceSize</key>
                <string>{219,177}</string>
                <key>textureRect</key>
                <string>{{0,546},{219,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,182}</string>
                <key>spriteSourceSize</key>
                <string>{217,182}</string>
                <key>textureRect</key>
                <string>{{219,546},{217,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,180}</string>
                <key>spriteSourceSize</key>
                <string>{206,180}</string>
                <key>textureRect</key>
                <string>{{0,364},{206,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,182}</string>
                <key>spriteSourceSize</key>
                <string>{208,182}</string>
                <key>textureRect</key>
                <string>{{206,364},{208,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,114}</string>
                <key>spriteSourceSize</key>
                <string>{86,114}</string>
                <key>textureRect</key>
                <string>{{84,0},{86,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,109}</string>
                <key>spriteSourceSize</key>
                <string>{84,109}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,110}</string>
                <key>spriteSourceSize</key>
                <string>{92,110}</string>
                <key>textureRect</key>
                <string>{{257,0},{92,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{109,110}</string>
                <key>textureRect</key>
                <string>{{218,114},{109,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{107,114},{111,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{111,110}</string>
                <key>textureRect</key>
                <string>{{327,114},{111,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,111}</string>
                <key>spriteSourceSize</key>
                <string>{107,111}</string>
                <key>textureRect</key>
                <string>{{0,114},{107,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill2_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,117}</string>
                <key>spriteSourceSize</key>
                <string>{106,117}</string>
                <key>textureRect</key>
                <string>{{0,225},{106,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_skill2_rightdown.png</string>
            <key>size</key>
            <string>{450,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f79f1de2c0eed8e88705298e645af821:bbd532703d268d9f1d19aa373cb783b6:dfe998eec0bdd69990fa9367f9410a8b$</string>
            <key>textureFileName</key>
            <string>mage_skill2_rightdown.png</string>
        </dict>
    </dict>
</plist>
