<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage_skill1_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,110}</string>
                <key>spriteSourceSize</key>
                <string>{63,110}</string>
                <key>textureRect</key>
                <string>{{0,0},{63,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,110}</string>
                <key>spriteSourceSize</key>
                <string>{84,110}</string>
                <key>textureRect</key>
                <string>{{613,0},{84,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,110}</string>
                <key>textureRect</key>
                <string>{{697,0},{90,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,110}</string>
                <key>spriteSourceSize</key>
                <string>{94,110}</string>
                <key>textureRect</key>
                <string>{{787,0},{94,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,110}</string>
                <key>spriteSourceSize</key>
                <string>{93,110}</string>
                <key>textureRect</key>
                <string>{{881,0},{93,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,110}</string>
                <key>spriteSourceSize</key>
                <string>{93,110}</string>
                <key>textureRect</key>
                <string>{{974,0},{93,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{82,110}</string>
                <key>textureRect</key>
                <string>{{1067,0},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,110}</string>
                <key>spriteSourceSize</key>
                <string>{71,110}</string>
                <key>textureRect</key>
                <string>{{1149,0},{71,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,110}</string>
                <key>spriteSourceSize</key>
                <string>{68,110}</string>
                <key>textureRect</key>
                <string>{{1220,0},{68,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,110}</string>
                <key>spriteSourceSize</key>
                <string>{62,110}</string>
                <key>textureRect</key>
                <string>{{63,0},{62,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,110}</string>
                <key>spriteSourceSize</key>
                <string>{62,110}</string>
                <key>textureRect</key>
                <string>{{125,0},{62,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,111}</string>
                <key>spriteSourceSize</key>
                <string>{63,111}</string>
                <key>textureRect</key>
                <string>{{187,0},{63,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,112}</string>
                <key>spriteSourceSize</key>
                <string>{64,112}</string>
                <key>textureRect</key>
                <string>{{250,0},{64,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,111}</string>
                <key>spriteSourceSize</key>
                <string>{67,111}</string>
                <key>textureRect</key>
                <string>{{314,0},{67,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,111}</string>
                <key>spriteSourceSize</key>
                <string>{72,111}</string>
                <key>textureRect</key>
                <string>{{381,0},{72,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,111}</string>
                <key>spriteSourceSize</key>
                <string>{78,111}</string>
                <key>textureRect</key>
                <string>{{453,0},{78,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage_skill1_down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{82,110}</string>
                <key>textureRect</key>
                <string>{{531,0},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mage_skill1_down.png</string>
            <key>size</key>
            <string>{1288,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9dd8c5ff15baa2be865a5c78d2c08a9:3a9db12b2d4a51bf485cd50983dfe8ba:a12796383ba0322a6f4139b0b552a862$</string>
            <key>textureFileName</key>
            <string>mage_skill1_down.png</string>
        </dict>
    </dict>
</plist>
