<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guntruck_move_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,331}</string>
                <key>spriteSourceSize</key>
                <string>{432,331}</string>
                <key>textureRect</key>
                <string>{{0,0},{432,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,335}</string>
                <key>spriteSourceSize</key>
                <string>{441,335}</string>
                <key>textureRect</key>
                <string>{{432,0},{441,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,364}</string>
                <key>spriteSourceSize</key>
                <string>{445,364}</string>
                <key>textureRect</key>
                <string>{{0,335},{445,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,337}</string>
                <key>spriteSourceSize</key>
                <string>{432,337}</string>
                <key>textureRect</key>
                <string>{{445,335},{432,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,322}</string>
                <key>spriteSourceSize</key>
                <string>{417,322}</string>
                <key>textureRect</key>
                <string>{{0,699},{417,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,313}</string>
                <key>spriteSourceSize</key>
                <string>{423,313}</string>
                <key>textureRect</key>
                <string>{{417,699},{423,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,309}</string>
                <key>spriteSourceSize</key>
                <string>{414,309}</string>
                <key>textureRect</key>
                <string>{{0,1021},{414,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,308}</string>
                <key>spriteSourceSize</key>
                <string>{421,308}</string>
                <key>textureRect</key>
                <string>{{414,1021},{421,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guntruck_move_rightdown.png</string>
            <key>size</key>
            <string>{877,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:833ccfadb5c0ca389ef70172177ab5c8:2bda71b00acfeea418a8dfb79712461b:92e1357952b4f480142615f6339ddb39$</string>
            <key>textureFileName</key>
            <string>guntruck_move_rightdown.png</string>
        </dict>
    </dict>
</plist>
