<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guntruck_attack_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,324}</string>
                <key>spriteSourceSize</key>
                <string>{432,324}</string>
                <key>textureRect</key>
                <string>{{849,0},{432,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_attack_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,423}</string>
                <key>spriteSourceSize</key>
                <string>{695,423}</string>
                <key>textureRect</key>
                <string>{{0,1266},{695,423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_attack_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,433}</string>
                <key>spriteSourceSize</key>
                <string>{720,433}</string>
                <key>textureRect</key>
                <string>{{695,1266},{720,433}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_attack_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,312}</string>
                <key>spriteSourceSize</key>
                <string>{426,312}</string>
                <key>textureRect</key>
                <string>{{423,0},{426,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_attack_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{423,290}</string>
                <key>spriteSourceSize</key>
                <string>{423,290}</string>
                <key>textureRect</key>
                <string>{{0,0},{423,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_attack_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{609,386}</string>
                <key>spriteSourceSize</key>
                <string>{609,386}</string>
                <key>textureRect</key>
                <string>{{1281,0},{609,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_attack_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,430}</string>
                <key>spriteSourceSize</key>
                <string>{632,430}</string>
                <key>textureRect</key>
                <string>{{0,386},{632,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_attack_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,403}</string>
                <key>spriteSourceSize</key>
                <string>{655,403}</string>
                <key>textureRect</key>
                <string>{{632,386},{655,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_attack_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{687,417}</string>
                <key>spriteSourceSize</key>
                <string>{687,417}</string>
                <key>textureRect</key>
                <string>{{682,830},{687,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_attack_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,436}</string>
                <key>spriteSourceSize</key>
                <string>{682,436}</string>
                <key>textureRect</key>
                <string>{{0,830},{682,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_attack_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{680,444}</string>
                <key>spriteSourceSize</key>
                <string>{680,444}</string>
                <key>textureRect</key>
                <string>{{1287,386},{680,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guntruck_attack_rightdown.png</string>
            <key>size</key>
            <string>{1967,1699}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd33469e3b14b9381f94c95de75245a:71b0bb11aa1648ced54337834e62ae75:2c1c9bc40343489d5e3f89146d670652$</string>
            <key>textureFileName</key>
            <string>guntruck_attack_rightdown.png</string>
        </dict>
    </dict>
</plist>
