<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guntruck_move_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{0,61},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,65}</string>
                <key>spriteSourceSize</key>
                <string>{80,65}</string>
                <key>textureRect</key>
                <string>{{0,121},{80,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{0,186},{80,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{0,248},{80,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,59}</string>
                <key>textureRect</key>
                <string>{{0,309},{80,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,59}</string>
                <key>textureRect</key>
                <string>{{0,368},{80,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guntruck_move_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,58}</string>
                <key>textureRect</key>
                <string>{{0,427},{80,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guntruck_move_rightdown.png</string>
            <key>size</key>
            <string>{80,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f676c2fa40de15dd873c88f9845ffa9:39d9df50e1d6827dddc01cc97e51e961:92e1357952b4f480142615f6339ddb39$</string>
            <key>textureFileName</key>
            <string>guntruck_move_rightdown.png</string>
        </dict>
    </dict>
</plist>
