<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldierAttack (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{74,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,89}</string>
                <key>spriteSourceSize</key>
                <string>{67,89}</string>
                <key>textureRect</key>
                <string>{{74,0},{67,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,80}</string>
                <key>spriteSourceSize</key>
                <string>{55,80}</string>
                <key>textureRect</key>
                <string>{{141,0},{55,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,77}</string>
                <key>spriteSourceSize</key>
                <string>{74,77}</string>
                <key>textureRect</key>
                <string>{{0,89},{74,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{64,75}</string>
                <key>textureRect</key>
                <string>{{74,89},{64,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,77}</string>
                <key>spriteSourceSize</key>
                <string>{65,77}</string>
                <key>textureRect</key>
                <string>{{0,166},{65,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,79}</string>
                <key>spriteSourceSize</key>
                <string>{65,79}</string>
                <key>textureRect</key>
                <string>{{65,166},{65,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierAttack (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{130,166},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soldierAttack.png</string>
            <key>size</key>
            <string>{196,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa11e8b7e67c636772d961a4d3a409f:f7f691a5cc4998f5b127d9e5b9211d94:a0a206f9c78e2f1b8cec051e66b5ba18$</string>
            <key>textureFileName</key>
            <string>soldierAttack.png</string>
        </dict>
    </dict>
</plist>

