<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldierMove (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,95}</string>
                <key>spriteSourceSize</key>
                <string>{56,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierMove (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{42,94}</string>
                <key>textureRect</key>
                <string>{{56,0},{42,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierMove (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,88}</string>
                <key>spriteSourceSize</key>
                <string>{47,88}</string>
                <key>textureRect</key>
                <string>{{98,0},{47,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierMove (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,84}</string>
                <key>spriteSourceSize</key>
                <string>{63,84}</string>
                <key>textureRect</key>
                <string>{{145,0},{63,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierMove (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,80}</string>
                <key>textureRect</key>
                <string>{{208,0},{73,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierMove (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,81}</string>
                <key>spriteSourceSize</key>
                <string>{59,81}</string>
                <key>textureRect</key>
                <string>{{281,0},{59,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierMove (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,88}</string>
                <key>spriteSourceSize</key>
                <string>{47,88}</string>
                <key>textureRect</key>
                <string>{{340,0},{47,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soldierMove (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,93}</string>
                <key>spriteSourceSize</key>
                <string>{50,93}</string>
                <key>textureRect</key>
                <string>{{387,0},{50,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soldierMove.png</string>
            <key>size</key>
            <string>{437,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec1ea7956947c60213e5d1e1e4a14e8c:b2d31fa7873d269a24734bda0b07dc94:8b3e0cf3f5a97fd785d5412192e62774$</string>
            <key>textureFileName</key>
            <string>soldierMove.png</string>
        </dict>
    </dict>
</plist>

