<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_strikefly_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{76,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{56,82}</string>
                <key>textureRect</key>
                <string>{{783,0},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,79}</string>
                <key>spriteSourceSize</key>
                <string>{74,79}</string>
                <key>textureRect</key>
                <string>{{87,0},{74,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,50}</string>
                <key>spriteSourceSize</key>
                <string>{67,50}</string>
                <key>textureRect</key>
                <string>{{174,0},{67,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,54}</string>
                <key>spriteSourceSize</key>
                <string>{86,54}</string>
                <key>textureRect</key>
                <string>{{261,0},{86,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,56}</string>
                <key>spriteSourceSize</key>
                <string>{87,56}</string>
                <key>textureRect</key>
                <string>{{348,0},{87,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,69}</string>
                <key>spriteSourceSize</key>
                <string>{70,69}</string>
                <key>textureRect</key>
                <string>{{435,0},{70,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{63,74}</string>
                <key>textureRect</key>
                <string>{{522,0},{63,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,68}</string>
                <key>spriteSourceSize</key>
                <string>{44,68}</string>
                <key>textureRect</key>
                <string>{{609,0},{44,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,77}</string>
                <key>spriteSourceSize</key>
                <string>{44,77}</string>
                <key>textureRect</key>
                <string>{{696,0},{44,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_strikefly_rightdown.png</string>
            <key>size</key>
            <string>{870,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f43b3535e470c2cc139802571975fa08:f342513416598bbb01c4eeecfffb149c:8353771ca3c2fc548efd08a71862f79a$</string>
            <key>textureFileName</key>
            <string>warrior_strikefly_rightdown.png</string>
        </dict>
    </dict>
</plist>
