<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_strikefly_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{74,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_up (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,84}</string>
                <key>textureRect</key>
                <string>{{810,0},{62,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,66}</string>
                <key>spriteSourceSize</key>
                <string>{78,66}</string>
                <key>textureRect</key>
                <string>{{90,0},{78,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,72}</string>
                <key>spriteSourceSize</key>
                <string>{79,72}</string>
                <key>textureRect</key>
                <string>{{180,0},{79,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,66}</string>
                <key>spriteSourceSize</key>
                <string>{83,66}</string>
                <key>textureRect</key>
                <string>{{270,0},{83,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,64}</string>
                <key>spriteSourceSize</key>
                <string>{90,64}</string>
                <key>textureRect</key>
                <string>{{360,0},{90,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,48}</string>
                <key>spriteSourceSize</key>
                <string>{78,48}</string>
                <key>textureRect</key>
                <string>{{450,0},{78,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,69}</string>
                <key>spriteSourceSize</key>
                <string>{77,69}</string>
                <key>textureRect</key>
                <string>{{540,0},{77,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{630,0},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_up (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,76}</string>
                <key>spriteSourceSize</key>
                <string>{55,76}</string>
                <key>textureRect</key>
                <string>{{720,0},{55,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_strikefly_up.png</string>
            <key>size</key>
            <string>{900,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5076dad9a09f5a0114ed484333887902:f0d6f165f151bc52941f7b708f7ddc47:0c71f9427f3a9344245d39e831e12912$</string>
            <key>textureFileName</key>
            <string>warrior_strikefly_up.png</string>
        </dict>
    </dict>
</plist>
