<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill2_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,86}</string>
                <key>spriteSourceSize</key>
                <string>{49,86}</string>
                <key>textureRect</key>
                <string>{{299,0},{49,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,103}</string>
                <key>spriteSourceSize</key>
                <string>{67,103}</string>
                <key>textureRect</key>
                <string>{{230,89},{67,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,99}</string>
                <key>spriteSourceSize</key>
                <string>{76,99}</string>
                <key>textureRect</key>
                <string>{{154,89},{76,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,79}</string>
                <key>spriteSourceSize</key>
                <string>{84,79}</string>
                <key>textureRect</key>
                <string>{{57,0},{84,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,79}</string>
                <key>textureRect</key>
                <string>{{141,0},{56,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,82}</string>
                <key>spriteSourceSize</key>
                <string>{53,82}</string>
                <key>textureRect</key>
                <string>{{197,0},{53,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,83}</string>
                <key>spriteSourceSize</key>
                <string>{49,83}</string>
                <key>textureRect</key>
                <string>{{250,0},{49,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,72}</string>
                <key>spriteSourceSize</key>
                <string>{57,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{57,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,88}</string>
                <key>spriteSourceSize</key>
                <string>{53,88}</string>
                <key>textureRect</key>
                <string>{{348,0},{53,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,89}</string>
                <key>spriteSourceSize</key>
                <string>{59,89}</string>
                <key>textureRect</key>
                <string>{{401,0},{59,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,93}</string>
                <key>spriteSourceSize</key>
                <string>{55,93}</string>
                <key>textureRect</key>
                <string>{{99,89},{55,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,89}</string>
                <key>spriteSourceSize</key>
                <string>{99,89}</string>
                <key>textureRect</key>
                <string>{{0,89},{99,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{363,89},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,105}</string>
                <key>spriteSourceSize</key>
                <string>{66,105}</string>
                <key>textureRect</key>
                <string>{{297,89},{66,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill2_leftup.png</string>
            <key>size</key>
            <string>{460,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:842684eccae3e3868eb396d5cbb375b5:f3ea3be13419fd6dadea44cd9e5152b2:941b2fee0818d9ed948cf61111352cc7$</string>
            <key>textureFileName</key>
            <string>warrior_skill2_leftup.png</string>
        </dict>
    </dict>
</plist>
