<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_stand_up_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{61,83}</string>
                <key>textureRect</key>
                <string>{{61,0},{61,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{62,83}</string>
                <key>textureRect</key>
                <string>{{184,0},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{62,83}</string>
                <key>textureRect</key>
                <string>{{62,83},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{62,83}</string>
                <key>textureRect</key>
                <string>{{0,83},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,83}</string>
                <key>spriteSourceSize</key>
                <string>{63,83}</string>
                <key>textureRect</key>
                <string>{{124,83},{63,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,83}</string>
                <key>spriteSourceSize</key>
                <string>{63,83}</string>
                <key>textureRect</key>
                <string>{{63,166},{63,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,83}</string>
                <key>spriteSourceSize</key>
                <string>{63,83}</string>
                <key>textureRect</key>
                <string>{{126,166},{63,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,83}</string>
                <key>spriteSourceSize</key>
                <string>{63,83}</string>
                <key>textureRect</key>
                <string>{{0,166},{63,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{62,83}</string>
                <key>textureRect</key>
                <string>{{122,0},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{61,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_stand_up.png</string>
            <key>size</key>
            <string>{246,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:774c408fb3411d901fb1426a398e252b:86191b88370d938c86a7c93b4ee7eab2:4d9282e9631ad0d51a9bd7df11fb862b$</string>
            <key>textureFileName</key>
            <string>warrior_stand_up.png</string>
        </dict>
    </dict>
</plist>
