<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill2_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{50,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,84}</string>
                <key>spriteSourceSize</key>
                <string>{67,84}</string>
                <key>textureRect</key>
                <string>{{873,0},{67,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{970,0},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{1067,0},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,86}</string>
                <key>spriteSourceSize</key>
                <string>{57,86}</string>
                <key>textureRect</key>
                <string>{{1164,0},{57,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,85}</string>
                <key>spriteSourceSize</key>
                <string>{53,85}</string>
                <key>textureRect</key>
                <string>{{1261,0},{53,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,80}</string>
                <key>spriteSourceSize</key>
                <string>{49,80}</string>
                <key>textureRect</key>
                <string>{{97,0},{49,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,77}</string>
                <key>spriteSourceSize</key>
                <string>{57,77}</string>
                <key>textureRect</key>
                <string>{{194,0},{57,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,86}</string>
                <key>spriteSourceSize</key>
                <string>{54,86}</string>
                <key>textureRect</key>
                <string>{{291,0},{54,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,84}</string>
                <key>spriteSourceSize</key>
                <string>{59,84}</string>
                <key>textureRect</key>
                <string>{{388,0},{59,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,92}</string>
                <key>spriteSourceSize</key>
                <string>{54,92}</string>
                <key>textureRect</key>
                <string>{{485,0},{54,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,91}</string>
                <key>spriteSourceSize</key>
                <string>{97,91}</string>
                <key>textureRect</key>
                <string>{{582,0},{97,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,99}</string>
                <key>spriteSourceSize</key>
                <string>{40,99}</string>
                <key>textureRect</key>
                <string>{{679,0},{40,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,92}</string>
                <key>spriteSourceSize</key>
                <string>{64,92}</string>
                <key>textureRect</key>
                <string>{{776,0},{64,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill2_rightdown.png</string>
            <key>size</key>
            <string>{1358,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbbbd5ca3fcb1e64cc268083648f8be4:37735ef7950f0f0ae318d700b067b1b3:492e47a15cebf61212356922acef5093$</string>
            <key>textureFileName</key>
            <string>warrior_skill2_rightdown.png</string>
        </dict>
    </dict>
</plist>
