<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack1_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,73}</string>
                <key>spriteSourceSize</key>
                <string>{60,73}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,73}</string>
                <key>spriteSourceSize</key>
                <string>{59,73}</string>
                <key>textureRect</key>
                <string>{{104,0},{59,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,65}</string>
                <key>spriteSourceSize</key>
                <string>{58,65}</string>
                <key>textureRect</key>
                <string>{{208,0},{58,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,61}</string>
                <key>spriteSourceSize</key>
                <string>{48,61}</string>
                <key>textureRect</key>
                <string>{{312,0},{48,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{416,0},{69,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,73}</string>
                <key>textureRect</key>
                <string>{{520,0},{104,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,75}</string>
                <key>spriteSourceSize</key>
                <string>{98,75}</string>
                <key>textureRect</key>
                <string>{{624,0},{98,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,77}</string>
                <key>spriteSourceSize</key>
                <string>{84,77}</string>
                <key>textureRect</key>
                <string>{{728,0},{84,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack1_down.png</string>
            <key>size</key>
            <string>{832,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ea7a56174abc0269edcbc606521862a:c76ff4977cdf9a5941c1dd01e2f754f0:b366cb7bb29c66452a5bd04dd55ca064$</string>
            <key>textureFileName</key>
            <string>warrior_attack1_down.png</string>
        </dict>
    </dict>
</plist>
