<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_dead_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,82}</string>
                <key>spriteSourceSize</key>
                <string>{51,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{51,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,79}</string>
                <key>spriteSourceSize</key>
                <string>{56,79}</string>
                <key>textureRect</key>
                <string>{{87,0},{56,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,79}</string>
                <key>spriteSourceSize</key>
                <string>{53,79}</string>
                <key>textureRect</key>
                <string>{{174,0},{53,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,82}</string>
                <key>spriteSourceSize</key>
                <string>{55,82}</string>
                <key>textureRect</key>
                <string>{{261,0},{55,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,71}</string>
                <key>spriteSourceSize</key>
                <string>{75,71}</string>
                <key>textureRect</key>
                <string>{{348,0},{75,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,63}</string>
                <key>spriteSourceSize</key>
                <string>{87,63}</string>
                <key>textureRect</key>
                <string>{{435,0},{87,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,61}</string>
                <key>spriteSourceSize</key>
                <string>{87,61}</string>
                <key>textureRect</key>
                <string>{{522,0},{87,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_dead_rightdown.png</string>
            <key>size</key>
            <string>{609,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d64b746dfc4ac511a2abfe8fe3424ee:19098ccbb0d50c7fe67526579bdb4f0d:2204cff41881901cffba4ebfb51b0a6f$</string>
            <key>textureFileName</key>
            <string>warrior_dead_rightdown.png</string>
        </dict>
    </dict>
</plist>
