<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack1_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{52,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{84,0},{61,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{168,0},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,78}</string>
                <key>spriteSourceSize</key>
                <string>{55,78}</string>
                <key>textureRect</key>
                <string>{{252,0},{55,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,81}</string>
                <key>spriteSourceSize</key>
                <string>{61,81}</string>
                <key>textureRect</key>
                <string>{{336,0},{61,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,88}</string>
                <key>spriteSourceSize</key>
                <string>{67,88}</string>
                <key>textureRect</key>
                <string>{{420,0},{67,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,91}</string>
                <key>spriteSourceSize</key>
                <string>{84,91}</string>
                <key>textureRect</key>
                <string>{{504,0},{84,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{76,88}</string>
                <key>textureRect</key>
                <string>{{588,0},{76,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack1_leftup.png</string>
            <key>size</key>
            <string>{672,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a30326434ab5d125863601f50d5dfe9e:f4c0efdea00ac5800ba7e093b3b28a3c:7da82e690edd29cd27b2473ff08782ab$</string>
            <key>textureFileName</key>
            <string>warrior_attack1_leftup.png</string>
        </dict>
    </dict>
</plist>
