<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill1_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,84}</string>
                <key>spriteSourceSize</key>
                <string>{77,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,86}</string>
                <key>spriteSourceSize</key>
                <string>{44,86}</string>
                <key>textureRect</key>
                <string>{{77,0},{44,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,82}</string>
                <key>spriteSourceSize</key>
                <string>{46,82}</string>
                <key>textureRect</key>
                <string>{{154,0},{46,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,80}</string>
                <key>spriteSourceSize</key>
                <string>{51,80}</string>
                <key>textureRect</key>
                <string>{{231,0},{51,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,69}</string>
                <key>spriteSourceSize</key>
                <string>{50,69}</string>
                <key>textureRect</key>
                <string>{{308,0},{50,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,85}</string>
                <key>spriteSourceSize</key>
                <string>{43,85}</string>
                <key>textureRect</key>
                <string>{{385,0},{43,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,79}</string>
                <key>spriteSourceSize</key>
                <string>{46,79}</string>
                <key>textureRect</key>
                <string>{{462,0},{46,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill1_down.png</string>
            <key>size</key>
            <string>{539,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:921b31a45ff583b54094d10052066804:ce409041ef2a2685a104b5c90684f730:17f5376291dfd29363e30f988a9f5efb$</string>
            <key>textureFileName</key>
            <string>warrior_skill1_down.png</string>
        </dict>
    </dict>
</plist>
