<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack3_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,86}</string>
                <key>spriteSourceSize</key>
                <string>{63,86}</string>
                <key>textureRect</key>
                <string>{{99,0},{63,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,81}</string>
                <key>textureRect</key>
                <string>{{198,0},{58,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,75}</string>
                <key>spriteSourceSize</key>
                <string>{99,75}</string>
                <key>textureRect</key>
                <string>{{297,0},{99,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,69}</string>
                <key>spriteSourceSize</key>
                <string>{62,69}</string>
                <key>textureRect</key>
                <string>{{396,0},{62,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{495,0},{66,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,74}</string>
                <key>spriteSourceSize</key>
                <string>{55,74}</string>
                <key>textureRect</key>
                <string>{{594,0},{55,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,77}</string>
                <key>spriteSourceSize</key>
                <string>{76,77}</string>
                <key>textureRect</key>
                <string>{{693,0},{76,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack3_leftdown.png</string>
            <key>size</key>
            <string>{792,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e7a11fbb6db8b0b6647b9943ca0c869:1cb8a049ef0d60789eca5af75f890503:e83c8f537c6f34002fcdac077bf594e7$</string>
            <key>textureFileName</key>
            <string>warrior_attack3_leftdown.png</string>
        </dict>
    </dict>
</plist>
