<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,81}</string>
                <key>spriteSourceSize</key>
                <string>{61,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{70,86}</string>
                <key>textureRect</key>
                <string>{{972,0},{70,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{108,88}</string>
                <key>textureRect</key>
                <string>{{1080,0},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,98}</string>
                <key>spriteSourceSize</key>
                <string>{59,98}</string>
                <key>textureRect</key>
                <string>{{1188,0},{59,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,94}</string>
                <key>spriteSourceSize</key>
                <string>{61,94}</string>
                <key>textureRect</key>
                <string>{{1296,0},{61,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,80}</string>
                <key>spriteSourceSize</key>
                <string>{57,80}</string>
                <key>textureRect</key>
                <string>{{1404,0},{57,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,82}</string>
                <key>spriteSourceSize</key>
                <string>{49,82}</string>
                <key>textureRect</key>
                <string>{{108,0},{49,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,85}</string>
                <key>spriteSourceSize</key>
                <string>{55,85}</string>
                <key>textureRect</key>
                <string>{{216,0},{55,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,80}</string>
                <key>textureRect</key>
                <string>{{324,0},{54,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,80}</string>
                <key>spriteSourceSize</key>
                <string>{72,80}</string>
                <key>textureRect</key>
                <string>{{432,0},{72,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,84}</string>
                <key>spriteSourceSize</key>
                <string>{71,84}</string>
                <key>textureRect</key>
                <string>{{540,0},{71,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,84}</string>
                <key>spriteSourceSize</key>
                <string>{52,84}</string>
                <key>textureRect</key>
                <string>{{648,0},{52,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{108,82}</string>
                <key>textureRect</key>
                <string>{{756,0},{108,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,84}</string>
                <key>spriteSourceSize</key>
                <string>{74,84}</string>
                <key>textureRect</key>
                <string>{{864,0},{74,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill_left.png</string>
            <key>size</key>
            <string>{1512,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25c3dfddf718a2aa1c14726fea9da378:6e546011e8b21154d0ad47750b9ea435:ad25abe199265a9da25d76a0412c5e34$</string>
            <key>textureFileName</key>
            <string>warrior_skill_left.png</string>
        </dict>
    </dict>
</plist>
