<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_stand_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,84}</string>
                <key>spriteSourceSize</key>
                <string>{41,84}</string>
                <key>textureRect</key>
                <string>{{41,83},{41,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,84}</string>
                <key>spriteSourceSize</key>
                <string>{41,84}</string>
                <key>textureRect</key>
                <string>{{123,83},{41,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,84}</string>
                <key>spriteSourceSize</key>
                <string>{41,84}</string>
                <key>textureRect</key>
                <string>{{82,83},{41,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{41,83}</string>
                <key>textureRect</key>
                <string>{{82,0},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{41,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{41,83}</string>
                <key>textureRect</key>
                <string>{{164,0},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{41,83}</string>
                <key>textureRect</key>
                <string>{{41,0},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,83}</string>
                <key>spriteSourceSize</key>
                <string>{41,83}</string>
                <key>textureRect</key>
                <string>{{123,0},{41,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,84}</string>
                <key>spriteSourceSize</key>
                <string>{41,84}</string>
                <key>textureRect</key>
                <string>{{0,83},{41,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_up (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,84}</string>
                <key>spriteSourceSize</key>
                <string>{41,84}</string>
                <key>textureRect</key>
                <string>{{164,83},{41,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_stand_up.png</string>
            <key>size</key>
            <string>{205,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9c032f859dc0ad0e17cad5f9d5e5db7:2cd883d6814aadbe4889773a66dc36fb:4d9282e9631ad0d51a9bd7df11fb862b$</string>
            <key>textureFileName</key>
            <string>warrior_stand_up.png</string>
        </dict>
    </dict>
</plist>
