<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_behit_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_behit_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,82}</string>
                <key>spriteSourceSize</key>
                <string>{61,82}</string>
                <key>textureRect</key>
                <string>{{70,0},{61,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_behit_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,77}</string>
                <key>spriteSourceSize</key>
                <string>{69,77}</string>
                <key>textureRect</key>
                <string>{{140,0},{69,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_behit_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,86}</string>
                <key>spriteSourceSize</key>
                <string>{70,86}</string>
                <key>textureRect</key>
                <string>{{210,0},{70,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_behit_right.png</string>
            <key>size</key>
            <string>{280,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:637a9c96591e4c7cc8b3e6ac04cba2bd:8e596795a7b15782b718ebe947b9e2fa:3a974c40f497dcb54ba7c0736fab5ecf$</string>
            <key>textureFileName</key>
            <string>warrior_behit_right.png</string>
        </dict>
    </dict>
</plist>
