<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_move_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{603,0},{67,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{67,0},{67,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{63,74}</string>
                <key>textureRect</key>
                <string>{{134,0},{63,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{63,74}</string>
                <key>textureRect</key>
                <string>{{201,0},{63,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{268,0},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,72}</string>
                <key>spriteSourceSize</key>
                <string>{65,72}</string>
                <key>textureRect</key>
                <string>{{335,0},{65,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{402,0},{63,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{469,0},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{536,0},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_move_rightdown.png</string>
            <key>size</key>
            <string>{670,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d08c75f46cc51950b79df1b93310ff5:2f580f9a90ad8629db290662ef736715:db3508421d93a9451c5cadd833d53cad$</string>
            <key>textureFileName</key>
            <string>warrior_move_rightdown.png</string>
        </dict>
    </dict>
</plist>
