<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_dead_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,79}</string>
                <key>spriteSourceSize</key>
                <string>{67,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{67,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{73,0},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,72}</string>
                <key>spriteSourceSize</key>
                <string>{59,72}</string>
                <key>textureRect</key>
                <string>{{146,0},{59,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,72}</string>
                <key>spriteSourceSize</key>
                <string>{65,72}</string>
                <key>textureRect</key>
                <string>{{219,0},{65,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,57}</string>
                <key>spriteSourceSize</key>
                <string>{72,57}</string>
                <key>textureRect</key>
                <string>{{292,0},{72,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,56}</string>
                <key>spriteSourceSize</key>
                <string>{71,56}</string>
                <key>textureRect</key>
                <string>{{365,0},{71,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,58}</string>
                <key>spriteSourceSize</key>
                <string>{71,58}</string>
                <key>textureRect</key>
                <string>{{438,0},{71,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_dead_down.png</string>
            <key>size</key>
            <string>{511,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:001d67b5c8418f5f9006ca78ea76910d:25100b9f8377545e3b2bc04eb4232e79:a3d79a5734285db7e4915446bd6c4b36$</string>
            <key>textureFileName</key>
            <string>warrior_dead_down.png</string>
        </dict>
    </dict>
</plist>
