<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill2_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{56,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,110}</string>
                <key>spriteSourceSize</key>
                <string>{52,110}</string>
                <key>textureRect</key>
                <string>{{819,0},{52,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,99}</string>
                <key>spriteSourceSize</key>
                <string>{82,99}</string>
                <key>textureRect</key>
                <string>{{910,0},{82,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{1001,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,80}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{1092,0},{69,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,82}</string>
                <key>textureRect</key>
                <string>{{1183,0},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{50,72}</string>
                <key>textureRect</key>
                <string>{{91,0},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,61}</string>
                <key>spriteSourceSize</key>
                <string>{58,61}</string>
                <key>textureRect</key>
                <string>{{182,0},{58,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,73}</string>
                <key>spriteSourceSize</key>
                <string>{54,73}</string>
                <key>textureRect</key>
                <string>{{273,0},{54,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,88}</string>
                <key>spriteSourceSize</key>
                <string>{73,88}</string>
                <key>textureRect</key>
                <string>{{364,0},{73,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,90}</string>
                <key>spriteSourceSize</key>
                <string>{91,90}</string>
                <key>textureRect</key>
                <string>{{455,0},{91,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{546,0},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,103}</string>
                <key>spriteSourceSize</key>
                <string>{74,103}</string>
                <key>textureRect</key>
                <string>{{637,0},{74,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,107}</string>
                <key>spriteSourceSize</key>
                <string>{60,107}</string>
                <key>textureRect</key>
                <string>{{728,0},{60,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill2_leftdown.png</string>
            <key>size</key>
            <string>{1274,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b910d928d645e56f616ddb5fdc40752:a5adacf19d51980c0fcd8079ab02531c:52c303aea3f3576c669a3c64a2283aaf$</string>
            <key>textureFileName</key>
            <string>warrior_skill2_leftdown.png</string>
        </dict>
    </dict>
</plist>
