<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill1_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,96}</string>
                <key>spriteSourceSize</key>
                <string>{74,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,89}</string>
                <key>spriteSourceSize</key>
                <string>{44,89}</string>
                <key>textureRect</key>
                <string>{{74,0},{44,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,89}</string>
                <key>spriteSourceSize</key>
                <string>{45,89}</string>
                <key>textureRect</key>
                <string>{{148,0},{45,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,81}</string>
                <key>spriteSourceSize</key>
                <string>{50,81}</string>
                <key>textureRect</key>
                <string>{{222,0},{50,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{296,0},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,81}</string>
                <key>spriteSourceSize</key>
                <string>{43,81}</string>
                <key>textureRect</key>
                <string>{{370,0},{43,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,86}</string>
                <key>spriteSourceSize</key>
                <string>{45,86}</string>
                <key>textureRect</key>
                <string>{{444,0},{45,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill1_up.png</string>
            <key>size</key>
            <string>{518,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa2ef0875f781a7a780cb13599a4f07c:2ca54be26684c4ac354fb77ca6627ce7:0f031c7c9f0e0297fd17a36c60d4767f$</string>
            <key>textureFileName</key>
            <string>warrior_skill1_up.png</string>
        </dict>
    </dict>
</plist>
