<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack2_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,85}</string>
                <key>spriteSourceSize</key>
                <string>{80,85}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{103,0},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,91}</string>
                <key>spriteSourceSize</key>
                <string>{49,91}</string>
                <key>textureRect</key>
                <string>{{206,0},{49,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,86}</string>
                <key>spriteSourceSize</key>
                <string>{78,86}</string>
                <key>textureRect</key>
                <string>{{309,0},{78,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,82}</string>
                <key>spriteSourceSize</key>
                <string>{76,82}</string>
                <key>textureRect</key>
                <string>{{412,0},{76,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,81}</string>
                <key>spriteSourceSize</key>
                <string>{68,81}</string>
                <key>textureRect</key>
                <string>{{515,0},{68,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,83}</string>
                <key>spriteSourceSize</key>
                <string>{54,83}</string>
                <key>textureRect</key>
                <string>{{618,0},{54,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,85}</string>
                <key>spriteSourceSize</key>
                <string>{56,85}</string>
                <key>textureRect</key>
                <string>{{721,0},{56,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack2_leftup.png</string>
            <key>size</key>
            <string>{824,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33db0b4244ba44bd46b5c5bc14065296:1d32e37910c917b0232c8478fb3cbbf1:aa67c47fc7e76c5a4f8f573ad14f2dae$</string>
            <key>textureFileName</key>
            <string>warrior_attack2_leftup.png</string>
        </dict>
    </dict>
</plist>
