<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack3_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,84}</string>
                <key>spriteSourceSize</key>
                <string>{75,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,86}</string>
                <key>textureRect</key>
                <string>{{90,0},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,83}</string>
                <key>spriteSourceSize</key>
                <string>{63,83}</string>
                <key>textureRect</key>
                <string>{{180,0},{63,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,78}</string>
                <key>spriteSourceSize</key>
                <string>{77,78}</string>
                <key>textureRect</key>
                <string>{{270,0},{77,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{70,73}</string>
                <key>textureRect</key>
                <string>{{360,0},{70,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,78}</string>
                <key>spriteSourceSize</key>
                <string>{67,78}</string>
                <key>textureRect</key>
                <string>{{450,0},{67,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,81}</string>
                <key>spriteSourceSize</key>
                <string>{61,81}</string>
                <key>textureRect</key>
                <string>{{540,0},{61,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,83}</string>
                <key>spriteSourceSize</key>
                <string>{58,83}</string>
                <key>textureRect</key>
                <string>{{630,0},{58,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack3_right.png</string>
            <key>size</key>
            <string>{720,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92f9513bb100c38825c63d7331ed7d5b:88159f3d00d26dcc4c9462ea4c0bdbed:c1bb61c3651ecdeac8903216295553ae$</string>
            <key>textureFileName</key>
            <string>warrior_attack3_right.png</string>
        </dict>
    </dict>
</plist>
