<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,87}</string>
                <key>spriteSourceSize</key>
                <string>{89,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{89,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,89}</string>
                <key>spriteSourceSize</key>
                <string>{88,89}</string>
                <key>textureRect</key>
                <string>{{89,0},{88,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{70,80}</string>
                <key>textureRect</key>
                <string>{{178,0},{70,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,81}</string>
                <key>spriteSourceSize</key>
                <string>{66,81}</string>
                <key>textureRect</key>
                <string>{{267,0},{66,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,75}</string>
                <key>spriteSourceSize</key>
                <string>{88,75}</string>
                <key>textureRect</key>
                <string>{{356,0},{88,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,77}</string>
                <key>textureRect</key>
                <string>{{445,0},{81,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,84}</string>
                <key>spriteSourceSize</key>
                <string>{61,84}</string>
                <key>textureRect</key>
                <string>{{534,0},{61,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,88}</string>
                <key>spriteSourceSize</key>
                <string>{57,88}</string>
                <key>textureRect</key>
                <string>{{623,0},{57,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack_leftup.png</string>
            <key>size</key>
            <string>{712,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c1c4652e6779325aa7abed0f53519c4:07a92769ecdbed42f8202e098b9a451a:5d2de046ac47500d0dd6fed7e2df1bb6$</string>
            <key>textureFileName</key>
            <string>warrior_attack_leftup.png</string>
        </dict>
    </dict>
</plist>
