<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_stand_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,88}</string>
                <key>spriteSourceSize</key>
                <string>{39,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{39,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,88}</string>
                <key>spriteSourceSize</key>
                <string>{39,88}</string>
                <key>textureRect</key>
                <string>{{156,88},{39,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,88}</string>
                <key>spriteSourceSize</key>
                <string>{39,88}</string>
                <key>textureRect</key>
                <string>{{39,0},{39,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,88}</string>
                <key>spriteSourceSize</key>
                <string>{39,88}</string>
                <key>textureRect</key>
                <string>{{78,0},{39,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,88}</string>
                <key>spriteSourceSize</key>
                <string>{39,88}</string>
                <key>textureRect</key>
                <string>{{117,0},{39,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,88}</string>
                <key>spriteSourceSize</key>
                <string>{40,88}</string>
                <key>textureRect</key>
                <string>{{156,0},{40,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,88}</string>
                <key>spriteSourceSize</key>
                <string>{39,88}</string>
                <key>textureRect</key>
                <string>{{0,88},{39,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,88}</string>
                <key>spriteSourceSize</key>
                <string>{39,88}</string>
                <key>textureRect</key>
                <string>{{39,88},{39,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,88}</string>
                <key>spriteSourceSize</key>
                <string>{39,88}</string>
                <key>textureRect</key>
                <string>{{78,88},{39,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,88}</string>
                <key>spriteSourceSize</key>
                <string>{39,88}</string>
                <key>textureRect</key>
                <string>{{117,88},{39,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_stand_leftdown.png</string>
            <key>size</key>
            <string>{196,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b348b30dbec639c15c72996f61b95c2:46421592336ece61e4fc7c82593a1382:dc13aa166112ded3f942a7b35fbdd868$</string>
            <key>textureFileName</key>
            <string>warrior_stand_leftdown.png</string>
        </dict>
    </dict>
</plist>
