<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_strikefly_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,83}</string>
                <key>spriteSourceSize</key>
                <string>{74,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_down (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,77}</string>
                <key>spriteSourceSize</key>
                <string>{62,77}</string>
                <key>textureRect</key>
                <string>{{801,0},{62,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,75}</string>
                <key>spriteSourceSize</key>
                <string>{79,75}</string>
                <key>textureRect</key>
                <string>{{89,0},{79,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,49}</string>
                <key>spriteSourceSize</key>
                <string>{78,49}</string>
                <key>textureRect</key>
                <string>{{178,0},{78,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,58}</string>
                <key>spriteSourceSize</key>
                <string>{82,58}</string>
                <key>textureRect</key>
                <string>{{267,0},{82,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,62}</string>
                <key>spriteSourceSize</key>
                <string>{89,62}</string>
                <key>textureRect</key>
                <string>{{356,0},{89,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,72}</string>
                <key>textureRect</key>
                <string>{{445,0},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,75}</string>
                <key>spriteSourceSize</key>
                <string>{79,75}</string>
                <key>textureRect</key>
                <string>{{534,0},{79,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{623,0},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{56,73}</string>
                <key>textureRect</key>
                <string>{{712,0},{56,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_strikefly_down.png</string>
            <key>size</key>
            <string>{890,83}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8fe1fd4ec356ac01fa63b2b8c938207:3854cf0fb4a6fca46c03d1c410609075:8d600bfc08ed8b1ef7b071c9d9d7e387$</string>
            <key>textureFileName</key>
            <string>warrior_strikefly_down.png</string>
        </dict>
    </dict>
</plist>
