<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,91}</string>
                <key>spriteSourceSize</key>
                <string>{54,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,103}</string>
                <key>spriteSourceSize</key>
                <string>{43,103}</string>
                <key>textureRect</key>
                <string>{{81,0},{43,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,84}</string>
                <key>spriteSourceSize</key>
                <string>{60,84}</string>
                <key>textureRect</key>
                <string>{{162,0},{60,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,76}</string>
                <key>spriteSourceSize</key>
                <string>{81,76}</string>
                <key>textureRect</key>
                <string>{{243,0},{81,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{324,0},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,78}</string>
                <key>spriteSourceSize</key>
                <string>{71,78}</string>
                <key>textureRect</key>
                <string>{{405,0},{71,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{486,0},{61,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,82}</string>
                <key>spriteSourceSize</key>
                <string>{63,82}</string>
                <key>textureRect</key>
                <string>{{567,0},{63,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack_leftdown.png</string>
            <key>size</key>
            <string>{648,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5f18b4c6f74570076ab0a1be8e8921e:76278820e91eb4be375ca69cb0810016:10198cc240abaece7fc6f488db71e56a$</string>
            <key>textureFileName</key>
            <string>warrior_attack_leftdown.png</string>
        </dict>
    </dict>
</plist>
