<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_strikefly_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,69}</string>
                <key>spriteSourceSize</key>
                <string>{81,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,81}</string>
                <key>spriteSourceSize</key>
                <string>{69,81}</string>
                <key>textureRect</key>
                <string>{{936,0},{69,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,56}</string>
                <key>spriteSourceSize</key>
                <string>{86,56}</string>
                <key>textureRect</key>
                <string>{{104,0},{86,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,52}</string>
                <key>spriteSourceSize</key>
                <string>{83,52}</string>
                <key>textureRect</key>
                <string>{{208,0},{83,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,51}</string>
                <key>spriteSourceSize</key>
                <string>{87,51}</string>
                <key>textureRect</key>
                <string>{{312,0},{87,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,59}</string>
                <key>spriteSourceSize</key>
                <string>{104,59}</string>
                <key>textureRect</key>
                <string>{{416,0},{104,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{76,74}</string>
                <key>textureRect</key>
                <string>{{520,0},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,72}</string>
                <key>spriteSourceSize</key>
                <string>{75,72}</string>
                <key>textureRect</key>
                <string>{{624,0},{75,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{76,72}</string>
                <key>textureRect</key>
                <string>{{728,0},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,73}</string>
                <key>textureRect</key>
                <string>{{832,0},{68,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_strikefly_leftdown.png</string>
            <key>size</key>
            <string>{1040,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a449a2adad2c03611b1a0a55ecccff8d:1c15ac9773f29b1a4d23b3dd2dc33a01:ff487fc4092e8cec6e09191e2479aada$</string>
            <key>textureFileName</key>
            <string>warrior_strikefly_leftdown.png</string>
        </dict>
    </dict>
</plist>
