<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill2_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,79}</string>
                <key>spriteSourceSize</key>
                <string>{57,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{57,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,100}</string>
                <key>spriteSourceSize</key>
                <string>{67,100}</string>
                <key>textureRect</key>
                <string>{{936,0},{67,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,82}</string>
                <key>spriteSourceSize</key>
                <string>{102,82}</string>
                <key>textureRect</key>
                <string>{{1040,0},{102,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,81}</string>
                <key>spriteSourceSize</key>
                <string>{104,81}</string>
                <key>textureRect</key>
                <string>{{1144,0},{104,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,78}</string>
                <key>textureRect</key>
                <string>{{1248,0},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,80}</string>
                <key>spriteSourceSize</key>
                <string>{75,80}</string>
                <key>textureRect</key>
                <string>{{1352,0},{75,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,76}</string>
                <key>spriteSourceSize</key>
                <string>{45,76}</string>
                <key>textureRect</key>
                <string>{{104,0},{45,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{48,70}</string>
                <key>textureRect</key>
                <string>{{208,0},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,76}</string>
                <key>textureRect</key>
                <string>{{312,0},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,85}</string>
                <key>spriteSourceSize</key>
                <string>{77,85}</string>
                <key>textureRect</key>
                <string>{{416,0},{77,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,92}</string>
                <key>spriteSourceSize</key>
                <string>{59,92}</string>
                <key>textureRect</key>
                <string>{{520,0},{59,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,93}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{624,0},{70,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,98}</string>
                <key>spriteSourceSize</key>
                <string>{65,98}</string>
                <key>textureRect</key>
                <string>{{728,0},{65,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,98}</string>
                <key>spriteSourceSize</key>
                <string>{73,98}</string>
                <key>textureRect</key>
                <string>{{832,0},{73,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill2_down.png</string>
            <key>size</key>
            <string>{1456,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30f1e4efa9721dfe04c3c5adaac7a148:a7279cb656b958e38ffb44d720363a79:d685a6d7a14c903e42f619a7efaf3909$</string>
            <key>textureFileName</key>
            <string>warrior_skill2_down.png</string>
        </dict>
    </dict>
</plist>
