<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_walk_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{70,0},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_left_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,79}</string>
                <key>spriteSourceSize</key>
                <string>{57,79}</string>
                <key>textureRect</key>
                <string>{{0,153},{57,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,79}</string>
                <key>spriteSourceSize</key>
                <string>{57,79}</string>
                <key>textureRect</key>
                <string>{{120,74},{57,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_left_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{59,78}</string>
                <key>textureRect</key>
                <string>{{61,74},{59,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_left_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,75}</string>
                <key>spriteSourceSize</key>
                <string>{61,75}</string>
                <key>textureRect</key>
                <string>{{0,74},{61,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_left_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_left_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,79}</string>
                <key>spriteSourceSize</key>
                <string>{57,79}</string>
                <key>textureRect</key>
                <string>{{177,74},{57,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_left_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{56,82}</string>
                <key>textureRect</key>
                <string>{{121,153},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_left_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{57,153},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_left_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_walk_left.png</string>
            <key>size</key>
            <string>{234,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4b203fd394baa445833ede67c69fe55:a830c02cec411ba8c73e5e3df105ab7d:2e51364bf0954f8e91062b7770b79dee$</string>
            <key>textureFileName</key>
            <string>warrior_walk_left.png</string>
        </dict>
    </dict>
</plist>
