<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack2_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{84,0},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{168,0},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,101}</string>
                <key>spriteSourceSize</key>
                <string>{58,101}</string>
                <key>textureRect</key>
                <string>{{252,0},{58,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,91}</string>
                <key>spriteSourceSize</key>
                <string>{61,91}</string>
                <key>textureRect</key>
                <string>{{336,0},{61,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,84}</string>
                <key>spriteSourceSize</key>
                <string>{50,84}</string>
                <key>textureRect</key>
                <string>{{420,0},{50,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,84}</string>
                <key>spriteSourceSize</key>
                <string>{56,84}</string>
                <key>textureRect</key>
                <string>{{504,0},{56,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,84}</string>
                <key>textureRect</key>
                <string>{{588,0},{62,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack2_rightup.png</string>
            <key>size</key>
            <string>{672,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fea7ab6ff16fc0480c691eea4648ff07:a4eccc7575327fd9f486e2095f40c3b8:dee00e68210c4d4d95eea819c4416e46$</string>
            <key>textureFileName</key>
            <string>warrior_attack2_rightup.png</string>
        </dict>
    </dict>
</plist>
