<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_move_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,75}</string>
                <key>spriteSourceSize</key>
                <string>{70,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_right (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{630,0},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{70,0},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{140,0},{59,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{210,0},{61,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{280,0},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,75}</string>
                <key>spriteSourceSize</key>
                <string>{56,75}</string>
                <key>textureRect</key>
                <string>{{350,0},{56,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{56,76}</string>
                <key>textureRect</key>
                <string>{{420,0},{56,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{490,0},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_right (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,75}</string>
                <key>spriteSourceSize</key>
                <string>{70,75}</string>
                <key>textureRect</key>
                <string>{{560,0},{70,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_move_right.png</string>
            <key>size</key>
            <string>{700,79}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aec3ab4927267614a5d5b3a348aac112:755d305b7acc3afbdfe9db44909fd064:c4285bfadcc9fb0cd7fd66d291ae22d2$</string>
            <key>textureFileName</key>
            <string>warrior_move_right.png</string>
        </dict>
    </dict>
</plist>
