<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_walk_right_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,75}</string>
                <key>spriteSourceSize</key>
                <string>{70,75}</string>
                <key>textureRect</key>
                <string>{{70,155},{70,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_right_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{169,0},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_right_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{112,0},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_right_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{0,76},{59,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_right_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{59,76},{61,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_right_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{0,155},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_right_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,75}</string>
                <key>spriteSourceSize</key>
                <string>{56,75}</string>
                <key>textureRect</key>
                <string>{{56,0},{56,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_right_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{56,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_right_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{120,76},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_right_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,75}</string>
                <key>spriteSourceSize</key>
                <string>{70,75}</string>
                <key>textureRect</key>
                <string>{{140,155},{70,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_walk_right.png</string>
            <key>size</key>
            <string>{226,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e99c5e9d0f1cbd12e424508867b03cc:755d305b7acc3afbdfe9db44909fd064:6848358153a77e6b2ef76fd9942b0fa2$</string>
            <key>textureFileName</key>
            <string>warrior_walk_right.png</string>
        </dict>
    </dict>
</plist>
