<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill1_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,92}</string>
                <key>spriteSourceSize</key>
                <string>{73,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{73,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,91}</string>
                <key>spriteSourceSize</key>
                <string>{52,91}</string>
                <key>textureRect</key>
                <string>{{73,0},{52,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,90}</string>
                <key>spriteSourceSize</key>
                <string>{59,90}</string>
                <key>textureRect</key>
                <string>{{146,0},{59,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,76}</string>
                <key>spriteSourceSize</key>
                <string>{63,76}</string>
                <key>textureRect</key>
                <string>{{219,0},{63,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{292,0},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,79}</string>
                <key>spriteSourceSize</key>
                <string>{58,79}</string>
                <key>textureRect</key>
                <string>{{365,0},{58,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,84}</string>
                <key>spriteSourceSize</key>
                <string>{53,84}</string>
                <key>textureRect</key>
                <string>{{438,0},{53,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill1_leftup.png</string>
            <key>size</key>
            <string>{511,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:514fb9181760e34d67702190e5ddbc73:5bb503fb1f54c2f427b677170dd0de85:1b7e7a54b13f486eb87e252e055bc7b7$</string>
            <key>textureFileName</key>
            <string>warrior_skill1_leftup.png</string>
        </dict>
    </dict>
</plist>
