<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack3_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{58,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,89}</string>
                <key>spriteSourceSize</key>
                <string>{61,89}</string>
                <key>textureRect</key>
                <string>{{96,0},{61,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,85}</string>
                <key>spriteSourceSize</key>
                <string>{58,85}</string>
                <key>textureRect</key>
                <string>{{192,0},{58,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,84}</string>
                <key>textureRect</key>
                <string>{{288,0},{96,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,81}</string>
                <key>spriteSourceSize</key>
                <string>{60,81}</string>
                <key>textureRect</key>
                <string>{{384,0},{60,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,84}</string>
                <key>spriteSourceSize</key>
                <string>{64,84}</string>
                <key>textureRect</key>
                <string>{{480,0},{64,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,86}</string>
                <key>spriteSourceSize</key>
                <string>{54,86}</string>
                <key>textureRect</key>
                <string>{{576,0},{54,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,81}</string>
                <key>spriteSourceSize</key>
                <string>{76,81}</string>
                <key>textureRect</key>
                <string>{{672,0},{76,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack3_rightup.png</string>
            <key>size</key>
            <string>{768,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0c20ade9595e1b8d398e5d3ff7b5d45:2cda62ea9894ce7d800b10b26535c728:249b4a7544e8e35b4206b5dc238f4565$</string>
            <key>textureFileName</key>
            <string>warrior_attack3_rightup.png</string>
        </dict>
    </dict>
</plist>
