<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,83}</string>
                <key>spriteSourceSize</key>
                <string>{59,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,104}</string>
                <key>spriteSourceSize</key>
                <string>{49,104}</string>
                <key>textureRect</key>
                <string>{{999,0},{49,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{90,92}</string>
                <key>textureRect</key>
                <string>{{1110,0},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,85}</string>
                <key>spriteSourceSize</key>
                <string>{105,85}</string>
                <key>textureRect</key>
                <string>{{1221,0},{105,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,78}</string>
                <key>spriteSourceSize</key>
                <string>{62,78}</string>
                <key>textureRect</key>
                <string>{{1332,0},{62,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,79}</string>
                <key>spriteSourceSize</key>
                <string>{70,79}</string>
                <key>textureRect</key>
                <string>{{1443,0},{70,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,87}</string>
                <key>spriteSourceSize</key>
                <string>{56,87}</string>
                <key>textureRect</key>
                <string>{{111,0},{56,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,87}</string>
                <key>spriteSourceSize</key>
                <string>{43,87}</string>
                <key>textureRect</key>
                <string>{{222,0},{43,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,85}</string>
                <key>spriteSourceSize</key>
                <string>{50,85}</string>
                <key>textureRect</key>
                <string>{{333,0},{50,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{444,0},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,81}</string>
                <key>spriteSourceSize</key>
                <string>{90,81}</string>
                <key>textureRect</key>
                <string>{{555,0},{90,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{71,83}</string>
                <key>textureRect</key>
                <string>{{666,0},{71,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{71,83}</string>
                <key>textureRect</key>
                <string>{{777,0},{71,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,79}</string>
                <key>spriteSourceSize</key>
                <string>{111,79}</string>
                <key>textureRect</key>
                <string>{{888,0},{111,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill_rightup.png</string>
            <key>size</key>
            <string>{1554,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69b1b9990ea6c1347237ef3f1b1b377b:5296e162cca15a9de6ddb50f28e8960b:c9b6e0523635dc67c55dbe60326be89e$</string>
            <key>textureFileName</key>
            <string>warrior_skill_rightup.png</string>
        </dict>
    </dict>
</plist>
