<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,83}</string>
                <key>spriteSourceSize</key>
                <string>{49,83}</string>
                <key>textureRect</key>
                <string>{{999,0},{49,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,84}</string>
                <key>spriteSourceSize</key>
                <string>{91,84}</string>
                <key>textureRect</key>
                <string>{{1110,0},{91,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{106,88}</string>
                <key>textureRect</key>
                <string>{{1221,0},{106,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,87}</string>
                <key>spriteSourceSize</key>
                <string>{62,87}</string>
                <key>textureRect</key>
                <string>{{1332,0},{62,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,72}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{1443,0},{69,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,86}</string>
                <key>spriteSourceSize</key>
                <string>{55,86}</string>
                <key>textureRect</key>
                <string>{{111,0},{55,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,90}</string>
                <key>spriteSourceSize</key>
                <string>{43,90}</string>
                <key>textureRect</key>
                <string>{{222,0},{43,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,83}</string>
                <key>spriteSourceSize</key>
                <string>{50,83}</string>
                <key>textureRect</key>
                <string>{{333,0},{50,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{444,0},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,81}</string>
                <key>spriteSourceSize</key>
                <string>{90,81}</string>
                <key>textureRect</key>
                <string>{{555,0},{90,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{72,87}</string>
                <key>textureRect</key>
                <string>{{666,0},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,86}</string>
                <key>spriteSourceSize</key>
                <string>{71,86}</string>
                <key>textureRect</key>
                <string>{{777,0},{71,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,81}</string>
                <key>spriteSourceSize</key>
                <string>{111,81}</string>
                <key>textureRect</key>
                <string>{{888,0},{111,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill_leftdown.png</string>
            <key>size</key>
            <string>{1554,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4f11d1eb481456c84905f8b2c5a3f0b:affafcdf05800f2a488c5e6b5ae71bfe:dcd12282bee3e4798a14936cdf587d66$</string>
            <key>textureFileName</key>
            <string>warrior_skill_leftdown.png</string>
        </dict>
    </dict>
</plist>
