<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{66,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,99}</string>
                <key>spriteSourceSize</key>
                <string>{63,99}</string>
                <key>textureRect</key>
                <string>{{70,0},{63,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{70,77}</string>
                <key>textureRect</key>
                <string>{{140,0},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{210,0},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,73}</string>
                <key>spriteSourceSize</key>
                <string>{67,73}</string>
                <key>textureRect</key>
                <string>{{280,0},{67,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,71}</string>
                <key>spriteSourceSize</key>
                <string>{64,71}</string>
                <key>textureRect</key>
                <string>{{350,0},{64,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,73}</string>
                <key>spriteSourceSize</key>
                <string>{59,73}</string>
                <key>textureRect</key>
                <string>{{420,0},{59,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,77}</string>
                <key>spriteSourceSize</key>
                <string>{63,77}</string>
                <key>textureRect</key>
                <string>{{490,0},{63,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack_down.png</string>
            <key>size</key>
            <string>{560,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31b2f1f331df62ebacba154c1f108dec:aefbda4d682f453a580754c15a8a145a:604c7e13ec4f8e37f037cdf71903d1dc$</string>
            <key>textureFileName</key>
            <string>warrior_attack_down.png</string>
        </dict>
    </dict>
</plist>
