<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill1_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,83}</string>
                <key>spriteSourceSize</key>
                <string>{73,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{73,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,78}</string>
                <key>spriteSourceSize</key>
                <string>{53,78}</string>
                <key>textureRect</key>
                <string>{{73,0},{53,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,79}</string>
                <key>spriteSourceSize</key>
                <string>{60,79}</string>
                <key>textureRect</key>
                <string>{{146,0},{60,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,80}</string>
                <key>spriteSourceSize</key>
                <string>{63,80}</string>
                <key>textureRect</key>
                <string>{{219,0},{63,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{66,68}</string>
                <key>textureRect</key>
                <string>{{292,0},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,79}</string>
                <key>spriteSourceSize</key>
                <string>{58,79}</string>
                <key>textureRect</key>
                <string>{{365,0},{58,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,79}</string>
                <key>spriteSourceSize</key>
                <string>{54,79}</string>
                <key>textureRect</key>
                <string>{{438,0},{54,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill1_rightdown.png</string>
            <key>size</key>
            <string>{511,83}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:652d4a46a3d922f7f4dc3dbd7062aae4:c239645e5148496287cf1a3ffe7a5013:5e271b2b1ca8bc863446c48ce40476bb$</string>
            <key>textureFileName</key>
            <string>warrior_skill1_rightdown.png</string>
        </dict>
    </dict>
</plist>
