<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_walk_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{71,83}</string>
                <key>textureRect</key>
                <string>{{141,0},{71,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_up_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,86}</string>
                <key>spriteSourceSize</key>
                <string>{71,86}</string>
                <key>textureRect</key>
                <string>{{283,0},{71,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,86}</string>
                <key>spriteSourceSize</key>
                <string>{71,86}</string>
                <key>textureRect</key>
                <string>{{212,0},{71,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_up_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{140,86},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_up_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,88}</string>
                <key>spriteSourceSize</key>
                <string>{67,88}</string>
                <key>textureRect</key>
                <string>{{277,86},{67,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_up_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_up_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,87}</string>
                <key>spriteSourceSize</key>
                <string>{71,87}</string>
                <key>textureRect</key>
                <string>{{69,86},{71,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_up_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{0,86},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_up_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{68,88}</string>
                <key>textureRect</key>
                <string>{{209,86},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_walk_up_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{71,83}</string>
                <key>textureRect</key>
                <string>{{70,0},{71,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_walk_up.png</string>
            <key>size</key>
            <string>{354,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58fb0d9ae080223b5f5e745d8fc35449:38b50273b0ca066e580a732cfb9375c4:44ee8b419583fcee1c4d4d8244f59460$</string>
            <key>textureFileName</key>
            <string>warrior_walk_up.png</string>
        </dict>
    </dict>
</plist>
