<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_dead_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,83}</string>
                <key>spriteSourceSize</key>
                <string>{68,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,80}</string>
                <key>textureRect</key>
                <string>{{92,0},{73,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,79}</string>
                <key>spriteSourceSize</key>
                <string>{76,79}</string>
                <key>textureRect</key>
                <string>{{184,0},{76,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,84}</string>
                <key>spriteSourceSize</key>
                <string>{81,84}</string>
                <key>textureRect</key>
                <string>{{276,0},{81,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{368,0},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,63}</string>
                <key>spriteSourceSize</key>
                <string>{89,63}</string>
                <key>textureRect</key>
                <string>{{460,0},{89,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,57}</string>
                <key>spriteSourceSize</key>
                <string>{92,57}</string>
                <key>textureRect</key>
                <string>{{552,0},{92,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_dead_rightup.png</string>
            <key>size</key>
            <string>{644,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d34d4b8902866090ec9eccadc4fd5683:d05de93e3dd17d32ec8ddac71c906011:2aacab16e4a84247c702737ff039a140$</string>
            <key>textureFileName</key>
            <string>warrior_dead_rightup.png</string>
        </dict>
    </dict>
</plist>
