<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack2_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,78}</string>
                <key>spriteSourceSize</key>
                <string>{82,78}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,77}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{103,0},{103,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,86}</string>
                <key>spriteSourceSize</key>
                <string>{49,86}</string>
                <key>textureRect</key>
                <string>{{206,0},{49,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,83}</string>
                <key>spriteSourceSize</key>
                <string>{77,83}</string>
                <key>textureRect</key>
                <string>{{309,0},{77,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{412,0},{75,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{68,74}</string>
                <key>textureRect</key>
                <string>{{515,0},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,74}</string>
                <key>spriteSourceSize</key>
                <string>{54,74}</string>
                <key>textureRect</key>
                <string>{{618,0},{54,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{56,76}</string>
                <key>textureRect</key>
                <string>{{721,0},{56,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack2_rightdown.png</string>
            <key>size</key>
            <string>{824,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab806831fae662c8fceb864196f230c5:d385e4af56327c3e1c9ce4a784d01363:6280114e3faed45a6c947b58c768e96c$</string>
            <key>textureFileName</key>
            <string>warrior_attack2_rightdown.png</string>
        </dict>
    </dict>
</plist>
