<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_stand_left_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,87}</string>
                <key>spriteSourceSize</key>
                <string>{42,87}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_left_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,87}</string>
                <key>spriteSourceSize</key>
                <string>{40,87}</string>
                <key>textureRect</key>
                <string>{{164,87},{40,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_left_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,87}</string>
                <key>spriteSourceSize</key>
                <string>{40,87}</string>
                <key>textureRect</key>
                <string>{{42,0},{40,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_left_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,87}</string>
                <key>spriteSourceSize</key>
                <string>{40,87}</string>
                <key>textureRect</key>
                <string>{{82,0},{40,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_left_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,87}</string>
                <key>spriteSourceSize</key>
                <string>{40,87}</string>
                <key>textureRect</key>
                <string>{{122,0},{40,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_left_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,87}</string>
                <key>spriteSourceSize</key>
                <string>{40,87}</string>
                <key>textureRect</key>
                <string>{{162,0},{40,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_left_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,87}</string>
                <key>spriteSourceSize</key>
                <string>{40,87}</string>
                <key>textureRect</key>
                <string>{{0,87},{40,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_left_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,87}</string>
                <key>spriteSourceSize</key>
                <string>{41,87}</string>
                <key>textureRect</key>
                <string>{{40,87},{41,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_left_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,87}</string>
                <key>spriteSourceSize</key>
                <string>{41,87}</string>
                <key>textureRect</key>
                <string>{{81,87},{41,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_left_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,87}</string>
                <key>spriteSourceSize</key>
                <string>{42,87}</string>
                <key>textureRect</key>
                <string>{{122,87},{42,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_stand_left.png</string>
            <key>size</key>
            <string>{204,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5397116c0639c895fe639007cc4ec8b2:31753719410471446b06404f59f06b47:270432a8e7157601b26b6172caee0140$</string>
            <key>textureFileName</key>
            <string>warrior_stand_left.png</string>
        </dict>
    </dict>
</plist>
