<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack2_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,76}</string>
                <key>spriteSourceSize</key>
                <string>{79,76}</string>
                <key>textureRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{68,78}</string>
                <key>textureRect</key>
                <string>{{79,0},{68,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,88}</string>
                <key>spriteSourceSize</key>
                <string>{68,88}</string>
                <key>textureRect</key>
                <string>{{158,0},{68,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,101}</string>
                <key>spriteSourceSize</key>
                <string>{66,101}</string>
                <key>textureRect</key>
                <string>{{237,0},{66,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,89}</string>
                <key>spriteSourceSize</key>
                <string>{63,89}</string>
                <key>textureRect</key>
                <string>{{316,0},{63,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,82}</string>
                <key>spriteSourceSize</key>
                <string>{57,82}</string>
                <key>textureRect</key>
                <string>{{395,0},{57,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,81}</string>
                <key>spriteSourceSize</key>
                <string>{55,81}</string>
                <key>textureRect</key>
                <string>{{474,0},{55,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{553,0},{65,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack2_right.png</string>
            <key>size</key>
            <string>{632,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1686ec776d5f364c2031215d873af253:e81e152723089ef67f0b0244041bbcf8:28735b35f604748437d896629a6f3c7f$</string>
            <key>textureFileName</key>
            <string>warrior_attack2_right.png</string>
        </dict>
    </dict>
</plist>
