<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,79}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,90}</string>
                <key>spriteSourceSize</key>
                <string>{42,90}</string>
                <key>textureRect</key>
                <string>{{79,0},{42,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,87}</string>
                <key>spriteSourceSize</key>
                <string>{60,87}</string>
                <key>textureRect</key>
                <string>{{158,0},{60,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,87}</string>
                <key>spriteSourceSize</key>
                <string>{79,87}</string>
                <key>textureRect</key>
                <string>{{237,0},{79,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,86}</string>
                <key>spriteSourceSize</key>
                <string>{72,86}</string>
                <key>textureRect</key>
                <string>{{316,0},{72,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,85}</string>
                <key>spriteSourceSize</key>
                <string>{70,85}</string>
                <key>textureRect</key>
                <string>{{395,0},{70,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{61,83}</string>
                <key>textureRect</key>
                <string>{{474,0},{61,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,81}</string>
                <key>spriteSourceSize</key>
                <string>{62,81}</string>
                <key>textureRect</key>
                <string>{{553,0},{62,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack_rightup.png</string>
            <key>size</key>
            <string>{632,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3322efe813a036bcf3fe4db83e34117d:06cf4bb8c5a25626c44024eabab519e0:643e06b66fe57a4cddc9c4c4ef487bc3$</string>
            <key>textureFileName</key>
            <string>warrior_attack_rightup.png</string>
        </dict>
    </dict>
</plist>
