<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_strikefly_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,55}</string>
                <key>spriteSourceSize</key>
                <string>{87,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_left (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,85}</string>
                <key>spriteSourceSize</key>
                <string>{54,85}</string>
                <key>textureRect</key>
                <string>{{846,0},{54,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,56}</string>
                <key>spriteSourceSize</key>
                <string>{89,56}</string>
                <key>textureRect</key>
                <string>{{94,0},{89,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,60}</string>
                <key>spriteSourceSize</key>
                <string>{82,60}</string>
                <key>textureRect</key>
                <string>{{188,0},{82,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{94,66}</string>
                <key>textureRect</key>
                <string>{{282,0},{94,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,46}</string>
                <key>spriteSourceSize</key>
                <string>{90,46}</string>
                <key>textureRect</key>
                <string>{{376,0},{90,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,67}</string>
                <key>spriteSourceSize</key>
                <string>{81,67}</string>
                <key>textureRect</key>
                <string>{{470,0},{81,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{56,74}</string>
                <key>textureRect</key>
                <string>{{564,0},{56,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{658,0},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,78}</string>
                <key>spriteSourceSize</key>
                <string>{57,78}</string>
                <key>textureRect</key>
                <string>{{752,0},{57,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_strikefly_left.png</string>
            <key>size</key>
            <string>{940,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21f6885dd81bb822d31b199ad4d23cbf:8fb758cc48a17d9b219eb016fe5da7d0:f0d43ded05a206d9384f0264c46ebe5b$</string>
            <key>textureFileName</key>
            <string>warrior_strikefly_left.png</string>
        </dict>
    </dict>
</plist>
