<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack3_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,92}</string>
                <key>spriteSourceSize</key>
                <string>{64,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,94}</string>
                <key>spriteSourceSize</key>
                <string>{61,94}</string>
                <key>textureRect</key>
                <string>{{80,0},{61,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,91}</string>
                <key>spriteSourceSize</key>
                <string>{76,91}</string>
                <key>textureRect</key>
                <string>{{160,0},{76,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,83}</string>
                <key>spriteSourceSize</key>
                <string>{76,83}</string>
                <key>textureRect</key>
                <string>{{240,0},{76,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{70,82}</string>
                <key>textureRect</key>
                <string>{{400,0},{70,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,87}</string>
                <key>spriteSourceSize</key>
                <string>{55,87}</string>
                <key>textureRect</key>
                <string>{{480,0},{55,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,86}</string>
                <key>spriteSourceSize</key>
                <string>{68,86}</string>
                <key>textureRect</key>
                <string>{{560,0},{68,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack3_up.png</string>
            <key>size</key>
            <string>{640,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ad6e028443bf4c0e5e7eefa7530e657:715fd5c56a33e5e5e413401b55c3a457:a01f1334ed170b3141484c34e2c0b3b0$</string>
            <key>textureFileName</key>
            <string>warrior_attack3_up.png</string>
        </dict>
    </dict>
</plist>
