<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_dead_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{92,0},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,73}</string>
                <key>spriteSourceSize</key>
                <string>{77,73}</string>
                <key>textureRect</key>
                <string>{{184,0},{77,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{81,70}</string>
                <key>textureRect</key>
                <string>{{276,0},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,50}</string>
                <key>spriteSourceSize</key>
                <string>{82,50}</string>
                <key>textureRect</key>
                <string>{{368,0},{82,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,47}</string>
                <key>spriteSourceSize</key>
                <string>{90,47}</string>
                <key>textureRect</key>
                <string>{{460,0},{90,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,54}</string>
                <key>spriteSourceSize</key>
                <string>{92,54}</string>
                <key>textureRect</key>
                <string>{{552,0},{92,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_dead_leftdown.png</string>
            <key>size</key>
            <string>{644,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14632a347e8979ebf22b4d5f3b397fe4:25425f41a80e2a63760c9bc32020a40a:8334c01ce4a3a8f99383d7aac71aec40$</string>
            <key>textureFileName</key>
            <string>warrior_dead_leftdown.png</string>
        </dict>
    </dict>
</plist>
