<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_move_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,72}</string>
                <key>spriteSourceSize</key>
                <string>{75,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,79}</string>
                <key>spriteSourceSize</key>
                <string>{75,79}</string>
                <key>textureRect</key>
                <string>{{675,0},{75,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,79}</string>
                <key>spriteSourceSize</key>
                <string>{75,79}</string>
                <key>textureRect</key>
                <string>{{75,0},{75,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,85}</string>
                <key>spriteSourceSize</key>
                <string>{75,85}</string>
                <key>textureRect</key>
                <string>{{150,0},{75,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,85}</string>
                <key>spriteSourceSize</key>
                <string>{72,85}</string>
                <key>textureRect</key>
                <string>{{225,0},{72,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{300,0},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,84}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{375,0},{72,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{450,0},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,81}</string>
                <key>spriteSourceSize</key>
                <string>{71,81}</string>
                <key>textureRect</key>
                <string>{{525,0},{71,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,72}</string>
                <key>spriteSourceSize</key>
                <string>{75,72}</string>
                <key>textureRect</key>
                <string>{{600,0},{75,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_move_rightup.png</string>
            <key>size</key>
            <string>{750,85}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ef20749dc1465859eb933167e5e2ae7:862349a0c8c5401a164877fc3978a921:8907537e5883e3fdc8986defbf087f80$</string>
            <key>textureFileName</key>
            <string>warrior_move_rightup.png</string>
        </dict>
    </dict>
</plist>
