<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{77,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,89}</string>
                <key>spriteSourceSize</key>
                <string>{68,89}</string>
                <key>textureRect</key>
                <string>{{77,0},{68,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,80}</string>
                <key>spriteSourceSize</key>
                <string>{55,80}</string>
                <key>textureRect</key>
                <string>{{154,0},{55,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,77}</string>
                <key>spriteSourceSize</key>
                <string>{73,77}</string>
                <key>textureRect</key>
                <string>{{231,0},{73,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,75}</string>
                <key>spriteSourceSize</key>
                <string>{64,75}</string>
                <key>textureRect</key>
                <string>{{308,0},{64,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,77}</string>
                <key>spriteSourceSize</key>
                <string>{65,77}</string>
                <key>textureRect</key>
                <string>{{385,0},{65,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,79}</string>
                <key>spriteSourceSize</key>
                <string>{63,79}</string>
                <key>textureRect</key>
                <string>{{462,0},{63,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack_right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,81}</string>
                <key>spriteSourceSize</key>
                <string>{64,81}</string>
                <key>textureRect</key>
                <string>{{539,0},{64,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack_right.png</string>
            <key>size</key>
            <string>{616,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a545d3502211ad0849b9e17d525774:104ef5020e4a145c56452c1a042e76e3:1d8023ce94fec526ac13c1d0b0d92160$</string>
            <key>textureFileName</key>
            <string>warrior_attack_right.png</string>
        </dict>
    </dict>
</plist>
