<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_strikefly_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,58}</string>
                <key>spriteSourceSize</key>
                <string>{77,58}</string>
                <key>textureRect</key>
                <string>{{0,0},{77,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{56,86}</string>
                <key>textureRect</key>
                <string>{{783,0},{56,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,63}</string>
                <key>spriteSourceSize</key>
                <string>{75,63}</string>
                <key>textureRect</key>
                <string>{{87,0},{75,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{174,0},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,71}</string>
                <key>spriteSourceSize</key>
                <string>{87,71}</string>
                <key>textureRect</key>
                <string>{{261,0},{87,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,58}</string>
                <key>spriteSourceSize</key>
                <string>{87,58}</string>
                <key>textureRect</key>
                <string>{{348,0},{87,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,55}</string>
                <key>spriteSourceSize</key>
                <string>{70,55}</string>
                <key>textureRect</key>
                <string>{{435,0},{70,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{62,74}</string>
                <key>textureRect</key>
                <string>{{522,0},{62,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,75}</string>
                <key>spriteSourceSize</key>
                <string>{44,75}</string>
                <key>textureRect</key>
                <string>{{609,0},{44,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,80}</string>
                <key>spriteSourceSize</key>
                <string>{45,80}</string>
                <key>textureRect</key>
                <string>{{696,0},{45,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_strikefly_leftup.png</string>
            <key>size</key>
            <string>{870,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9374511af59f587afffd50513c139a02:dadd1a5c6c4139a1ce1993b86a74fb6c:587c1eaa492fe0de9ad43f0112f15413$</string>
            <key>textureFileName</key>
            <string>warrior_strikefly_leftup.png</string>
        </dict>
    </dict>
</plist>
