<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill1_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,90}</string>
                <key>spriteSourceSize</key>
                <string>{71,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{71,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,92}</string>
                <key>spriteSourceSize</key>
                <string>{51,92}</string>
                <key>textureRect</key>
                <string>{{71,0},{51,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,88}</string>
                <key>spriteSourceSize</key>
                <string>{52,88}</string>
                <key>textureRect</key>
                <string>{{142,0},{52,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,75}</string>
                <key>spriteSourceSize</key>
                <string>{63,75}</string>
                <key>textureRect</key>
                <string>{{213,0},{63,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{284,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,83}</string>
                <key>spriteSourceSize</key>
                <string>{54,83}</string>
                <key>textureRect</key>
                <string>{{355,0},{54,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill1_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,84}</string>
                <key>spriteSourceSize</key>
                <string>{61,84}</string>
                <key>textureRect</key>
                <string>{{426,0},{61,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill1_leftdown.png</string>
            <key>size</key>
            <string>{497,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:261ebe0e531d1a23e35af8a20c41df8b:e9e6d7ebf77952e54714015f892d4ed1:918fb6027e0136432254ee5a39d99aae$</string>
            <key>textureFileName</key>
            <string>warrior_skill1_leftdown.png</string>
        </dict>
    </dict>
</plist>
