<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_move_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,80}</string>
                <key>spriteSourceSize</key>
                <string>{67,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{67,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,87}</string>
                <key>spriteSourceSize</key>
                <string>{66,87}</string>
                <key>textureRect</key>
                <string>{{603,0},{66,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,87}</string>
                <key>spriteSourceSize</key>
                <string>{66,87}</string>
                <key>textureRect</key>
                <string>{{67,0},{66,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,83}</string>
                <key>spriteSourceSize</key>
                <string>{62,83}</string>
                <key>textureRect</key>
                <string>{{134,0},{62,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{62,84}</string>
                <key>textureRect</key>
                <string>{{201,0},{62,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,76}</string>
                <key>spriteSourceSize</key>
                <string>{66,76}</string>
                <key>textureRect</key>
                <string>{{268,0},{66,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,82}</string>
                <key>spriteSourceSize</key>
                <string>{65,82}</string>
                <key>textureRect</key>
                <string>{{335,0},{65,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,88}</string>
                <key>spriteSourceSize</key>
                <string>{61,88}</string>
                <key>textureRect</key>
                <string>{{402,0},{61,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,90}</string>
                <key>spriteSourceSize</key>
                <string>{64,90}</string>
                <key>textureRect</key>
                <string>{{469,0},{64,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_move_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,80}</string>
                <key>spriteSourceSize</key>
                <string>{67,80}</string>
                <key>textureRect</key>
                <string>{{536,0},{67,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_move_leftup.png</string>
            <key>size</key>
            <string>{670,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96c57a08fa9d6c4c2cb3719feb130bba:1a2ce36fc5566cca44583fbfb51a3464:3635bd91035e434e8445b47b44310098$</string>
            <key>textureFileName</key>
            <string>warrior_move_leftup.png</string>
        </dict>
    </dict>
</plist>
