<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack1_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,77}</string>
                <key>spriteSourceSize</key>
                <string>{55,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,73}</string>
                <key>spriteSourceSize</key>
                <string>{61,73}</string>
                <key>textureRect</key>
                <string>{{85,0},{61,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{170,0},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,66}</string>
                <key>spriteSourceSize</key>
                <string>{55,66}</string>
                <key>textureRect</key>
                <string>{{255,0},{55,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,69}</string>
                <key>spriteSourceSize</key>
                <string>{63,69}</string>
                <key>textureRect</key>
                <string>{{340,0},{63,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,77}</string>
                <key>spriteSourceSize</key>
                <string>{67,77}</string>
                <key>textureRect</key>
                <string>{{425,0},{67,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,79}</string>
                <key>spriteSourceSize</key>
                <string>{85,79}</string>
                <key>textureRect</key>
                <string>{{510,0},{85,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack1_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{77,81}</string>
                <key>textureRect</key>
                <string>{{595,0},{77,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack1_rightdown.png</string>
            <key>size</key>
            <string>{680,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf478a1ba56f1dbbc37ebb920c835ef5:532979df4c593469783f07a90b914d5a:d05c408ed577c2ee12165edeed0f1d04$</string>
            <key>textureFileName</key>
            <string>warrior_attack1_rightdown.png</string>
        </dict>
    </dict>
</plist>
