<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_strikefly_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,74}</string>
                <key>spriteSourceSize</key>
                <string>{82,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,82}</string>
                <key>spriteSourceSize</key>
                <string>{69,82}</string>
                <key>textureRect</key>
                <string>{{927,0},{69,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,65}</string>
                <key>spriteSourceSize</key>
                <string>{87,65}</string>
                <key>textureRect</key>
                <string>{{103,0},{87,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{82,70}</string>
                <key>textureRect</key>
                <string>{{206,0},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,58}</string>
                <key>spriteSourceSize</key>
                <string>{87,58}</string>
                <key>textureRect</key>
                <string>{{309,0},{87,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,60}</string>
                <key>spriteSourceSize</key>
                <string>{103,60}</string>
                <key>textureRect</key>
                <string>{{412,0},{103,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,45}</string>
                <key>spriteSourceSize</key>
                <string>{75,45}</string>
                <key>textureRect</key>
                <string>{{515,0},{75,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{618,0},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,69}</string>
                <key>spriteSourceSize</key>
                <string>{76,69}</string>
                <key>textureRect</key>
                <string>{{721,0},{76,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_strikefly_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{824,0},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_strikefly_rightup.png</string>
            <key>size</key>
            <string>{1030,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45564d4d7ac7cc7852a4b5c8ff772100:98134b0e1ca0d1afd96a4f8a7416ae4f:313f31eaddead47cde0f64e9cff84ca2$</string>
            <key>textureFileName</key>
            <string>warrior_strikefly_rightup.png</string>
        </dict>
    </dict>
</plist>
