<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,83}</string>
                <key>spriteSourceSize</key>
                <string>{57,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{57,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,80}</string>
                <key>spriteSourceSize</key>
                <string>{92,80}</string>
                <key>textureRect</key>
                <string>{{981,0},{92,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,83}</string>
                <key>spriteSourceSize</key>
                <string>{53,83}</string>
                <key>textureRect</key>
                <string>{{1090,0},{53,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,83}</string>
                <key>spriteSourceSize</key>
                <string>{102,83}</string>
                <key>textureRect</key>
                <string>{{1199,0},{102,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,76}</string>
                <key>spriteSourceSize</key>
                <string>{109,76}</string>
                <key>textureRect</key>
                <string>{{1308,0},{109,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,76}</string>
                <key>textureRect</key>
                <string>{{1417,0},{100,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,87}</string>
                <key>spriteSourceSize</key>
                <string>{50,87}</string>
                <key>textureRect</key>
                <string>{{109,0},{50,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,88}</string>
                <key>spriteSourceSize</key>
                <string>{51,88}</string>
                <key>textureRect</key>
                <string>{{218,0},{51,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,85}</string>
                <key>spriteSourceSize</key>
                <string>{59,85}</string>
                <key>textureRect</key>
                <string>{{327,0},{59,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,78}</string>
                <key>spriteSourceSize</key>
                <string>{48,78}</string>
                <key>textureRect</key>
                <string>{{436,0},{48,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,80}</string>
                <key>textureRect</key>
                <string>{{545,0},{73,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,86}</string>
                <key>spriteSourceSize</key>
                <string>{105,86}</string>
                <key>textureRect</key>
                <string>{{654,0},{105,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,89}</string>
                <key>spriteSourceSize</key>
                <string>{39,89}</string>
                <key>textureRect</key>
                <string>{{763,0},{39,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill_down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,85}</string>
                <key>spriteSourceSize</key>
                <string>{91,85}</string>
                <key>textureRect</key>
                <string>{{872,0},{91,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill_down.png</string>
            <key>size</key>
            <string>{1526,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb6d4b57f34d47c97c5a60d3ba97afb2:043460a91c4e9d4a981dae436cef2489:10fdd9013b5a103637fd5367fe44acba$</string>
            <key>textureFileName</key>
            <string>warrior_skill_down.png</string>
        </dict>
    </dict>
</plist>
