<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack3_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{64,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,88}</string>
                <key>spriteSourceSize</key>
                <string>{60,88}</string>
                <key>textureRect</key>
                <string>{{81,0},{60,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,75}</string>
                <key>spriteSourceSize</key>
                <string>{77,75}</string>
                <key>textureRect</key>
                <string>{{162,0},{77,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,74}</string>
                <key>spriteSourceSize</key>
                <string>{79,74}</string>
                <key>textureRect</key>
                <string>{{243,0},{79,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,65}</string>
                <key>spriteSourceSize</key>
                <string>{81,65}</string>
                <key>textureRect</key>
                <string>{{324,0},{81,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,70}</string>
                <key>spriteSourceSize</key>
                <string>{71,70}</string>
                <key>textureRect</key>
                <string>{{405,0},{71,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,70}</string>
                <key>spriteSourceSize</key>
                <string>{55,70}</string>
                <key>textureRect</key>
                <string>{{486,0},{55,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{70,77}</string>
                <key>textureRect</key>
                <string>{{567,0},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack3_down.png</string>
            <key>size</key>
            <string>{648,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:343edf0be51763c5cff093c9491ddbc9:7fb8cf9ba4c65e41d56b42261f7e95b5:1961f0d9b83fcaf0b69903b9c4b18585$</string>
            <key>textureFileName</key>
            <string>warrior_attack3_down.png</string>
        </dict>
    </dict>
</plist>
