<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_dead_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,86}</string>
                <key>spriteSourceSize</key>
                <string>{47,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{47,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,80}</string>
                <key>spriteSourceSize</key>
                <string>{53,80}</string>
                <key>textureRect</key>
                <string>{{96,0},{53,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{192,0},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,76}</string>
                <key>spriteSourceSize</key>
                <string>{61,76}</string>
                <key>textureRect</key>
                <string>{{288,0},{61,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,61}</string>
                <key>spriteSourceSize</key>
                <string>{83,61}</string>
                <key>textureRect</key>
                <string>{{384,0},{83,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,43}</string>
                <key>textureRect</key>
                <string>{{480,0},{95,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_dead_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,40}</string>
                <key>spriteSourceSize</key>
                <string>{96,40}</string>
                <key>textureRect</key>
                <string>{{576,0},{96,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_dead_left.png</string>
            <key>size</key>
            <string>{672,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeb52142a12938aa27c373f852341004:7bb6b92fd4bbc774c5c192910907edb5:33c7b8874bc44777bf1bdf1f57e91dd1$</string>
            <key>textureFileName</key>
            <string>warrior_dead_left.png</string>
        </dict>
    </dict>
</plist>
