<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_stand_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,85}</string>
                <key>spriteSourceSize</key>
                <string>{36,85}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_right (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,85}</string>
                <key>spriteSourceSize</key>
                <string>{37,85}</string>
                <key>textureRect</key>
                <string>{{147,85},{37,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,85}</string>
                <key>spriteSourceSize</key>
                <string>{37,85}</string>
                <key>textureRect</key>
                <string>{{36,0},{37,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,85}</string>
                <key>spriteSourceSize</key>
                <string>{37,85}</string>
                <key>textureRect</key>
                <string>{{73,0},{37,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,85}</string>
                <key>spriteSourceSize</key>
                <string>{37,85}</string>
                <key>textureRect</key>
                <string>{{110,0},{37,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,85}</string>
                <key>spriteSourceSize</key>
                <string>{37,85}</string>
                <key>textureRect</key>
                <string>{{147,0},{37,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,85}</string>
                <key>spriteSourceSize</key>
                <string>{37,85}</string>
                <key>textureRect</key>
                <string>{{0,85},{37,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,85}</string>
                <key>spriteSourceSize</key>
                <string>{37,85}</string>
                <key>textureRect</key>
                <string>{{37,85},{37,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,85}</string>
                <key>spriteSourceSize</key>
                <string>{37,85}</string>
                <key>textureRect</key>
                <string>{{74,85},{37,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_right (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,85}</string>
                <key>spriteSourceSize</key>
                <string>{36,85}</string>
                <key>textureRect</key>
                <string>{{111,85},{36,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_stand_right.png</string>
            <key>size</key>
            <string>{184,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3405e7dbaedb7fd154a65f5ca69f64af:a21e59cb031de961d66e3b9724043d5e:ae76f051a9f1c77ed468ea81056957aa$</string>
            <key>textureFileName</key>
            <string>warrior_stand_right.png</string>
        </dict>
    </dict>
</plist>
