<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_stand_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,83}</string>
                <key>spriteSourceSize</key>
                <string>{39,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{39,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,83}</string>
                <key>spriteSourceSize</key>
                <string>{39,83}</string>
                <key>textureRect</key>
                <string>{{156,83},{39,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,83}</string>
                <key>spriteSourceSize</key>
                <string>{39,83}</string>
                <key>textureRect</key>
                <string>{{39,0},{39,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,83}</string>
                <key>spriteSourceSize</key>
                <string>{39,83}</string>
                <key>textureRect</key>
                <string>{{78,0},{39,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,83}</string>
                <key>spriteSourceSize</key>
                <string>{39,83}</string>
                <key>textureRect</key>
                <string>{{117,0},{39,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,83}</string>
                <key>spriteSourceSize</key>
                <string>{40,83}</string>
                <key>textureRect</key>
                <string>{{156,0},{40,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,83}</string>
                <key>spriteSourceSize</key>
                <string>{39,83}</string>
                <key>textureRect</key>
                <string>{{0,83},{39,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,83}</string>
                <key>spriteSourceSize</key>
                <string>{39,83}</string>
                <key>textureRect</key>
                <string>{{39,83},{39,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,83}</string>
                <key>spriteSourceSize</key>
                <string>{39,83}</string>
                <key>textureRect</key>
                <string>{{78,83},{39,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,83}</string>
                <key>spriteSourceSize</key>
                <string>{39,83}</string>
                <key>textureRect</key>
                <string>{{117,83},{39,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_stand_rightup.png</string>
            <key>size</key>
            <string>{196,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:439ed6463d4e7c57460acb1cd7671b0a:1063d2e193e164441eecfc75788e28ce:77659a6ee478d90449d2b5e3e499be75$</string>
            <key>textureFileName</key>
            <string>warrior_stand_rightup.png</string>
        </dict>
    </dict>
</plist>
