<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_skill2_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,83}</string>
                <key>spriteSourceSize</key>
                <string>{65,83}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,105}</string>
                <key>spriteSourceSize</key>
                <string>{50,105}</string>
                <key>textureRect</key>
                <string>{{819,0},{50,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,106}</string>
                <key>spriteSourceSize</key>
                <string>{55,106}</string>
                <key>textureRect</key>
                <string>{{910,0},{55,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,81}</string>
                <key>spriteSourceSize</key>
                <string>{56,81}</string>
                <key>textureRect</key>
                <string>{{1001,0},{56,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,80}</string>
                <key>spriteSourceSize</key>
                <string>{51,80}</string>
                <key>textureRect</key>
                <string>{{1092,0},{51,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,82}</string>
                <key>spriteSourceSize</key>
                <string>{43,82}</string>
                <key>textureRect</key>
                <string>{{1183,0},{43,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{91,0},{62,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{182,0},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,80}</string>
                <key>spriteSourceSize</key>
                <string>{66,80}</string>
                <key>textureRect</key>
                <string>{{273,0},{66,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{364,0},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{455,0},{91,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,85}</string>
                <key>spriteSourceSize</key>
                <string>{80,85}</string>
                <key>textureRect</key>
                <string>{{546,0},{80,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,109}</string>
                <key>spriteSourceSize</key>
                <string>{53,109}</string>
                <key>textureRect</key>
                <string>{{637,0},{53,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_skill2_left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,107}</string>
                <key>spriteSourceSize</key>
                <string>{45,107}</string>
                <key>textureRect</key>
                <string>{{728,0},{45,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_skill2_left.png</string>
            <key>size</key>
            <string>{1274,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec4c9ff928fda62302096b7c70a73fe0:b92f7885d7faa27346f660a730b5da56:f0c3b810e256e7c585a554a7ab3c1c3e$</string>
            <key>textureFileName</key>
            <string>warrior_skill2_left.png</string>
        </dict>
    </dict>
</plist>
