<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_behit_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_behit_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,83}</string>
                <key>spriteSourceSize</key>
                <string>{67,83}</string>
                <key>textureRect</key>
                <string>{{76,0},{67,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_behit_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,68}</string>
                <key>spriteSourceSize</key>
                <string>{65,68}</string>
                <key>textureRect</key>
                <string>{{152,0},{65,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_behit_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,66}</string>
                <key>spriteSourceSize</key>
                <string>{69,66}</string>
                <key>textureRect</key>
                <string>{{228,0},{69,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_behit_leftup.png</string>
            <key>size</key>
            <string>{304,83}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c9c3770710ff9f39134953c064a437d:c4ded072322a218024ac27725dbed98f:1b7b2616782f16f0b5406c08a71c8e70$</string>
            <key>textureFileName</key>
            <string>warrior_behit_leftup.png</string>
        </dict>
    </dict>
</plist>
