<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack2_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,79}</string>
                <key>spriteSourceSize</key>
                <string>{61,79}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{50,82}</string>
                <key>textureRect</key>
                <string>{{85,0},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,81}</string>
                <key>spriteSourceSize</key>
                <string>{85,81}</string>
                <key>textureRect</key>
                <string>{{170,0},{85,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,83}</string>
                <key>spriteSourceSize</key>
                <string>{59,83}</string>
                <key>textureRect</key>
                <string>{{255,0},{59,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,88}</string>
                <key>spriteSourceSize</key>
                <string>{61,88}</string>
                <key>textureRect</key>
                <string>{{340,0},{61,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,80}</string>
                <key>spriteSourceSize</key>
                <string>{51,80}</string>
                <key>textureRect</key>
                <string>{{425,0},{51,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,81}</string>
                <key>spriteSourceSize</key>
                <string>{56,81}</string>
                <key>textureRect</key>
                <string>{{510,0},{56,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack2_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,80}</string>
                <key>spriteSourceSize</key>
                <string>{63,80}</string>
                <key>textureRect</key>
                <string>{{595,0},{63,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack2_leftdown.png</string>
            <key>size</key>
            <string>{680,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e8077c3eb00874536292e7f9e64bc86:ad103e3bb83ff24f8fb9542af126f928:05b7cd59e1095b72f8f3e1d60068de84$</string>
            <key>textureFileName</key>
            <string>warrior_attack2_leftdown.png</string>
        </dict>
    </dict>
</plist>
