<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_attack3_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,89}</string>
                <key>spriteSourceSize</key>
                <string>{74,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{88,90}</string>
                <key>textureRect</key>
                <string>{{88,0},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,88}</string>
                <key>spriteSourceSize</key>
                <string>{63,88}</string>
                <key>textureRect</key>
                <string>{{176,0},{63,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{264,0},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,74}</string>
                <key>spriteSourceSize</key>
                <string>{71,74}</string>
                <key>textureRect</key>
                <string>{{352,0},{71,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,75}</string>
                <key>spriteSourceSize</key>
                <string>{68,75}</string>
                <key>textureRect</key>
                <string>{{440,0},{68,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,80}</string>
                <key>spriteSourceSize</key>
                <string>{61,80}</string>
                <key>textureRect</key>
                <string>{{528,0},{61,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_attack3_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,82}</string>
                <key>spriteSourceSize</key>
                <string>{58,82}</string>
                <key>textureRect</key>
                <string>{{616,0},{58,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_attack3_left.png</string>
            <key>size</key>
            <string>{704,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f5e0fc575bce1efac8d48bb72382693:9accd232686da8e26b152fc9e3985154:43af49214255d6a5aa57a40c08e4eed2$</string>
            <key>textureFileName</key>
            <string>warrior_attack3_left.png</string>
        </dict>
    </dict>
</plist>
