<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warrior_stand_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,86}</string>
                <key>spriteSourceSize</key>
                <string>{61,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_down_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{62,86}</string>
                <key>textureRect</key>
                <string>{{248,86},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_down_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{62,86}</string>
                <key>textureRect</key>
                <string>{{61,0},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_down_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,85}</string>
                <key>spriteSourceSize</key>
                <string>{62,85}</string>
                <key>textureRect</key>
                <string>{{123,0},{62,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_down_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,86}</string>
                <key>spriteSourceSize</key>
                <string>{63,86}</string>
                <key>textureRect</key>
                <string>{{185,0},{63,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_down_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,86}</string>
                <key>textureRect</key>
                <string>{{248,0},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_down_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,86}</string>
                <key>spriteSourceSize</key>
                <string>{63,86}</string>
                <key>textureRect</key>
                <string>{{0,86},{63,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_down_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{62,86}</string>
                <key>textureRect</key>
                <string>{{63,86},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_down_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{62,86}</string>
                <key>textureRect</key>
                <string>{{125,86},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_stand_down_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,86}</string>
                <key>spriteSourceSize</key>
                <string>{61,86}</string>
                <key>textureRect</key>
                <string>{{187,86},{61,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>warrior_stand_down.png</string>
            <key>size</key>
            <string>{312,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad488bce88e8bbc30bfccbd9d3290a0:c300c57ff921b040d2ed7d0e6da88e00:2db7ffad1a1f19b55c8346cc036f02fa$</string>
            <key>textureFileName</key>
            <string>warrior_stand_down.png</string>
        </dict>
    </dict>
</plist>
