<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,502}</string>
                <key>spriteSourceSize</key>
                <string>{502,502}</string>
                <key>textureRect</key>
                <string>{{1,1},{502,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>towerAttack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{505,1},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>towerItem.png</string>
            <key>size</key>
            <string>{534,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539f2f9e75b5a7dc84710a5e9d979c11:18abf9188df23bbc9d5479d9bd90b7d2:ecd6510cbfee877c4f6ec856a5d6ea1c$</string>
            <key>textureFileName</key>
            <string>towerItem.png</string>
        </dict>
    </dict>
</plist>
