<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bluetower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{921,821}</string>
                <key>spriteSourceSize</key>
                <string>{921,821}</string>
                <key>textureRect</key>
                <string>{{0,0},{921,821}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redtower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{919,943}</string>
                <key>spriteSourceSize</key>
                <string>{919,943}</string>
                <key>textureRect</key>
                <string>{{0,821},{919,943}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tower.png</string>
            <key>size</key>
            <string>{921,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0489514cf599b05328f607f4272c84ba:68b8a93a65c309644f39607e7f42c34d:0e760ff8ddf4cb8c1511a36966d1a804$</string>
            <key>textureFileName</key>
            <string>tower.png</string>
        </dict>
    </dict>
</plist>
