<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_skill_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,292}</string>
                <key>spriteSourceSize</key>
                <string>{186,292}</string>
                <key>textureRect</key>
                <string>{{0,0},{186,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,279}</string>
                <key>spriteSourceSize</key>
                <string>{230,279}</string>
                <key>textureRect</key>
                <string>{{401,631},{230,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,282}</string>
                <key>spriteSourceSize</key>
                <string>{213,282}</string>
                <key>textureRect</key>
                <string>{{631,631},{213,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,249}</string>
                <key>spriteSourceSize</key>
                <string>{220,249}</string>
                <key>textureRect</key>
                <string>{{0,948},{220,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,257}</string>
                <key>spriteSourceSize</key>
                <string>{213,257}</string>
                <key>textureRect</key>
                <string>{{220,948},{213,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,255}</string>
                <key>spriteSourceSize</key>
                <string>{180,255}</string>
                <key>textureRect</key>
                <string>{{433,948},{180,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{613,948},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,274}</string>
                <key>spriteSourceSize</key>
                <string>{224,274}</string>
                <key>textureRect</key>
                <string>{{186,0},{224,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,293}</string>
                <key>spriteSourceSize</key>
                <string>{238,293}</string>
                <key>textureRect</key>
                <string>{{410,0},{238,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,306}</string>
                <key>spriteSourceSize</key>
                <string>{208,306}</string>
                <key>textureRect</key>
                <string>{{648,0},{208,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,315}</string>
                <key>spriteSourceSize</key>
                <string>{214,315}</string>
                <key>textureRect</key>
                <string>{{0,306},{214,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,320}</string>
                <key>spriteSourceSize</key>
                <string>{232,320}</string>
                <key>textureRect</key>
                <string>{{214,306},{232,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,325}</string>
                <key>spriteSourceSize</key>
                <string>{245,325}</string>
                <key>textureRect</key>
                <string>{{446,306},{245,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,317}</string>
                <key>spriteSourceSize</key>
                <string>{195,317}</string>
                <key>textureRect</key>
                <string>{{0,631},{195,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,297}</string>
                <key>spriteSourceSize</key>
                <string>{206,297}</string>
                <key>textureRect</key>
                <string>{{195,631},{206,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_skill_leftup.png</string>
            <key>size</key>
            <string>{856,1205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef7b202a920f856146294f4b2a00e426:3fa2832b529c17a00d5c6cdc46c627f4:1c2ab59e5c9c9bfe15964c8e883009e6$</string>
            <key>textureFileName</key>
            <string>cavalier_skill_leftup.png</string>
        </dict>
    </dict>
</plist>
