<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_skill1_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,173}</string>
                <key>spriteSourceSize</key>
                <string>{169,173}</string>
                <key>textureRect</key>
                <string>{{216,0},{169,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,215}</string>
                <key>spriteSourceSize</key>
                <string>{394,215}</string>
                <key>textureRect</key>
                <string>{{0,888},{394,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,220}</string>
                <key>spriteSourceSize</key>
                <string>{364,220}</string>
                <key>textureRect</key>
                <string>{{321,668},{364,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,222}</string>
                <key>spriteSourceSize</key>
                <string>{295,222}</string>
                <key>textureRect</key>
                <string>{{538,446},{295,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,221}</string>
                <key>spriteSourceSize</key>
                <string>{283,221}</string>
                <key>textureRect</key>
                <string>{{255,446},{283,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,216}</string>
                <key>spriteSourceSize</key>
                <string>{255,216}</string>
                <key>textureRect</key>
                <string>{{0,446},{255,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,204}</string>
                <key>spriteSourceSize</key>
                <string>{250,204}</string>
                <key>textureRect</key>
                <string>{{212,196},{250,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,124}</string>
                <key>spriteSourceSize</key>
                <string>{216,124}</string>
                <key>textureRect</key>
                <string>{{0,0},{216,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,182}</string>
                <key>spriteSourceSize</key>
                <string>{172,182}</string>
                <key>textureRect</key>
                <string>{{385,0},{172,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,194}</string>
                <key>spriteSourceSize</key>
                <string>{185,194}</string>
                <key>textureRect</key>
                <string>{{728,0},{185,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,196}</string>
                <key>spriteSourceSize</key>
                <string>{171,196}</string>
                <key>textureRect</key>
                <string>{{557,0},{171,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,224}</string>
                <key>spriteSourceSize</key>
                <string>{247,224}</string>
                <key>textureRect</key>
                <string>{{667,196},{247,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,250}</string>
                <key>spriteSourceSize</key>
                <string>{205,250}</string>
                <key>textureRect</key>
                <string>{{462,196},{205,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,209}</string>
                <key>spriteSourceSize</key>
                <string>{212,209}</string>
                <key>textureRect</key>
                <string>{{0,196},{212,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,203}</string>
                <key>spriteSourceSize</key>
                <string>{321,203}</string>
                <key>textureRect</key>
                <string>{{0,668},{321,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,224}</string>
                <key>spriteSourceSize</key>
                <string>{400,224}</string>
                <key>textureRect</key>
                <string>{{394,888},{400,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_skill1_leftup.png</string>
            <key>size</key>
            <string>{914,1112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82e6658fba7119a362c974fe516c7acc:33629196c81cf8c761892c61d4501520:90f746600a4d18dfdcb9ad153e0715d6$</string>
            <key>textureFileName</key>
            <string>cavalier_skill1_leftup.png</string>
        </dict>
    </dict>
</plist>
