<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_skill_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,92}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{101,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,282}</string>
                <key>spriteSourceSize</key>
                <string>{276,282}</string>
                <key>textureRect</key>
                <string>{{931,0},{276,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,296}</string>
                <key>spriteSourceSize</key>
                <string>{235,296}</string>
                <key>textureRect</key>
                <string>{{607,289},{235,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,304}</string>
                <key>spriteSourceSize</key>
                <string>{212,304}</string>
                <key>textureRect</key>
                <string>{{1168,289},{212,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,261}</string>
                <key>spriteSourceSize</key>
                <string>{226,261}</string>
                <key>textureRect</key>
                <string>{{101,0},{226,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,264}</string>
                <key>spriteSourceSize</key>
                <string>{216,264}</string>
                <key>textureRect</key>
                <string>{{524,0},{216,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,267}</string>
                <key>spriteSourceSize</key>
                <string>{191,267}</string>
                <key>textureRect</key>
                <string>{{740,0},{191,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,318}</string>
                <key>spriteSourceSize</key>
                <string>{167,318}</string>
                <key>textureRect</key>
                <string>{{1582,289},{167,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,311}</string>
                <key>spriteSourceSize</key>
                <string>{202,311}</string>
                <key>textureRect</key>
                <string>{{1380,289},{202,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,262}</string>
                <key>spriteSourceSize</key>
                <string>{197,262}</string>
                <key>textureRect</key>
                <string>{{327,0},{197,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,283}</string>
                <key>spriteSourceSize</key>
                <string>{311,283}</string>
                <key>textureRect</key>
                <string>{{1207,0},{311,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,293}</string>
                <key>spriteSourceSize</key>
                <string>{320,293}</string>
                <key>textureRect</key>
                <string>{{0,289},{320,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,300}</string>
                <key>spriteSourceSize</key>
                <string>{326,300}</string>
                <key>textureRect</key>
                <string>{{842,289},{326,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,296}</string>
                <key>spriteSourceSize</key>
                <string>{287,296}</string>
                <key>textureRect</key>
                <string>{{320,289},{287,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,289}</string>
                <key>spriteSourceSize</key>
                <string>{271,289}</string>
                <key>textureRect</key>
                <string>{{1518,0},{271,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_skill_rightdown.png</string>
            <key>size</key>
            <string>{1789,607}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2535771adb73d17873639f2f7c7ec15:7ce109ab20ecc04aa5fde647f4f608e1:867879aaf21e71cbeec33604441b56cd$</string>
            <key>textureFileName</key>
            <string>cavalier_skill_rightdown.png</string>
        </dict>
    </dict>
</plist>
