<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_skill2_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,307}</string>
                <key>spriteSourceSize</key>
                <string>{264,307}</string>
                <key>textureRect</key>
                <string>{{928,1151},{264,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,261}</string>
                <key>spriteSourceSize</key>
                <string>{306,261}</string>
                <key>textureRect</key>
                <string>{{290,0},{306,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,294}</string>
                <key>spriteSourceSize</key>
                <string>{282,294}</string>
                <key>textureRect</key>
                <string>{{952,856},{282,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,293}</string>
                <key>spriteSourceSize</key>
                <string>{294,293}</string>
                <key>textureRect</key>
                <string>{{343,856},{294,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,287}</string>
                <key>spriteSourceSize</key>
                <string>{337,287}</string>
                <key>textureRect</key>
                <string>{{327,564},{337,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,301}</string>
                <key>spriteSourceSize</key>
                <string>{339,301}</string>
                <key>textureRect</key>
                <string>{{589,1151},{339,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,295}</string>
                <key>spriteSourceSize</key>
                <string>{318,295}</string>
                <key>textureRect</key>
                <string>{{1234,856},{318,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,280}</string>
                <key>spriteSourceSize</key>
                <string>{324,280}</string>
                <key>textureRect</key>
                <string>{{0,278},{324,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,284}</string>
                <key>spriteSourceSize</key>
                <string>{324,284}</string>
                <key>textureRect</key>
                <string>{{972,278},{324,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,286}</string>
                <key>spriteSourceSize</key>
                <string>{327,286}</string>
                <key>textureRect</key>
                <string>{{0,564},{327,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,284}</string>
                <key>spriteSourceSize</key>
                <string>{326,284}</string>
                <key>textureRect</key>
                <string>{{646,278},{326,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,289}</string>
                <key>spriteSourceSize</key>
                <string>{222,289}</string>
                <key>textureRect</key>
                <string>{{664,564},{222,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,291}</string>
                <key>spriteSourceSize</key>
                <string>{335,291}</string>
                <key>textureRect</key>
                <string>{{886,564},{335,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,293}</string>
                <key>spriteSourceSize</key>
                <string>{343,293}</string>
                <key>textureRect</key>
                <string>{{0,856},{343,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,301}</string>
                <key>spriteSourceSize</key>
                <string>{353,301}</string>
                <key>textureRect</key>
                <string>{{236,1151},{353,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,283}</string>
                <key>spriteSourceSize</key>
                <string>{322,283}</string>
                <key>textureRect</key>
                <string>{{324,278},{322,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,286}</string>
                <key>spriteSourceSize</key>
                <string>{334,286}</string>
                <key>textureRect</key>
                <string>{{1296,278},{334,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,292}</string>
                <key>spriteSourceSize</key>
                <string>{331,292}</string>
                <key>textureRect</key>
                <string>{{1221,564},{331,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,294}</string>
                <key>spriteSourceSize</key>
                <string>{315,294}</string>
                <key>textureRect</key>
                <string>{{637,856},{315,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,298}</string>
                <key>spriteSourceSize</key>
                <string>{236,298}</string>
                <key>textureRect</key>
                <string>{{0,1151},{236,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,311}</string>
                <key>spriteSourceSize</key>
                <string>{243,311}</string>
                <key>textureRect</key>
                <string>{{1192,1151},{243,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,278}</string>
                <key>spriteSourceSize</key>
                <string>{268,278}</string>
                <key>textureRect</key>
                <string>{{1480,0},{268,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,267}</string>
                <key>spriteSourceSize</key>
                <string>{270,267}</string>
                <key>textureRect</key>
                <string>{{1210,0},{270,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,262}</string>
                <key>spriteSourceSize</key>
                <string>{296,262}</string>
                <key>textureRect</key>
                <string>{{596,0},{296,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,262}</string>
                <key>spriteSourceSize</key>
                <string>{318,262}</string>
                <key>textureRect</key>
                <string>{{892,0},{318,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,261}</string>
                <key>spriteSourceSize</key>
                <string>{290,261}</string>
                <key>textureRect</key>
                <string>{{0,0},{290,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_skill2_rightdown.png</string>
            <key>size</key>
            <string>{1748,1462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af2eec0ec3859928c10f3b71a49aef34:ac2fdc769a90b0ac9cf526ba1e472877:0ce7364ecd19bd39a5c8283f30247004$</string>
            <key>textureFileName</key>
            <string>cavalier_skill2_rightdown.png</string>
        </dict>
    </dict>
</plist>
