<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_skill_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,92}</string>
                <key>spriteSourceSize</key>
                <string>{101,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{101,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,302}</string>
                <key>spriteSourceSize</key>
                <string>{173,302}</string>
                <key>textureRect</key>
                <string>{{724,273},{173,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,292}</string>
                <key>spriteSourceSize</key>
                <string>{265,292}</string>
                <key>textureRect</key>
                <string>{{0,273},{265,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,312}</string>
                <key>spriteSourceSize</key>
                <string>{220,312}</string>
                <key>textureRect</key>
                <string>{{0,575},{220,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,273}</string>
                <key>spriteSourceSize</key>
                <string>{207,273}</string>
                <key>textureRect</key>
                <string>{{713,0},{207,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,271}</string>
                <key>spriteSourceSize</key>
                <string>{194,271}</string>
                <key>textureRect</key>
                <string>{{519,0},{194,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,257}</string>
                <key>spriteSourceSize</key>
                <string>{187,257}</string>
                <key>textureRect</key>
                <string>{{332,0},{187,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,298}</string>
                <key>spriteSourceSize</key>
                <string>{288,298}</string>
                <key>textureRect</key>
                <string>{{265,273},{288,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,317}</string>
                <key>spriteSourceSize</key>
                <string>{251,317}</string>
                <key>textureRect</key>
                <string>{{220,575},{251,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,222}</string>
                <key>spriteSourceSize</key>
                <string>{231,222}</string>
                <key>textureRect</key>
                <string>{{101,0},{231,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,324}</string>
                <key>spriteSourceSize</key>
                <string>{239,324}</string>
                <key>textureRect</key>
                <string>{{471,575},{239,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,327}</string>
                <key>spriteSourceSize</key>
                <string>{259,327}</string>
                <key>textureRect</key>
                <string>{{0,899},{259,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,334}</string>
                <key>spriteSourceSize</key>
                <string>{263,334}</string>
                <key>textureRect</key>
                <string>{{471,899},{263,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,329}</string>
                <key>spriteSourceSize</key>
                <string>{212,329}</string>
                <key>textureRect</key>
                <string>{{259,899},{212,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,300}</string>
                <key>spriteSourceSize</key>
                <string>{171,300}</string>
                <key>textureRect</key>
                <string>{{553,273},{171,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_skill_leftdown.png</string>
            <key>size</key>
            <string>{920,1233}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd9c973a4730b1b94a59bbc06714c859:7434e522cccd3f1fa4e9233b00d2b8fc:4914b0eb0c851609016ea73fb826673d$</string>
            <key>textureFileName</key>
            <string>cavalier_skill_leftdown.png</string>
        </dict>
    </dict>
</plist>
