<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_move_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,204}</string>
                <key>spriteSourceSize</key>
                <string>{236,204}</string>
                <key>textureRect</key>
                <string>{{482,590},{236,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,195}</string>
                <key>spriteSourceSize</key>
                <string>{236,195}</string>
                <key>textureRect</key>
                <string>{{475,0},{236,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,196}</string>
                <key>spriteSourceSize</key>
                <string>{240,196}</string>
                <key>textureRect</key>
                <string>{{0,195},{240,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,194}</string>
                <key>spriteSourceSize</key>
                <string>{240,194}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,195}</string>
                <key>spriteSourceSize</key>
                <string>{248,195}</string>
                <key>textureRect</key>
                <string>{{711,0},{248,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,197}</string>
                <key>spriteSourceSize</key>
                <string>{241,197}</string>
                <key>textureRect</key>
                <string>{{0,392},{241,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,198}</string>
                <key>spriteSourceSize</key>
                <string>{241,198}</string>
                <key>textureRect</key>
                <string>{{711,392},{241,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,197}</string>
                <key>spriteSourceSize</key>
                <string>{240,197}</string>
                <key>textureRect</key>
                <string>{{716,195},{240,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,206}</string>
                <key>spriteSourceSize</key>
                <string>{239,206}</string>
                <key>textureRect</key>
                <string>{{718,590},{239,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,201}</string>
                <key>spriteSourceSize</key>
                <string>{239,201}</string>
                <key>textureRect</key>
                <string>{{243,590},{239,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,196}</string>
                <key>spriteSourceSize</key>
                <string>{234,196}</string>
                <key>textureRect</key>
                <string>{{482,195},{234,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,196}</string>
                <key>spriteSourceSize</key>
                <string>{242,196}</string>
                <key>textureRect</key>
                <string>{{240,195},{242,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,198}</string>
                <key>spriteSourceSize</key>
                <string>{235,198}</string>
                <key>textureRect</key>
                <string>{{241,392},{235,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,200}</string>
                <key>spriteSourceSize</key>
                <string>{243,200}</string>
                <key>textureRect</key>
                <string>{{0,590},{243,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,198}</string>
                <key>spriteSourceSize</key>
                <string>{235,198}</string>
                <key>textureRect</key>
                <string>{{476,392},{235,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,194}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{240,0},{235,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_move_leftup.png</string>
            <key>size</key>
            <string>{959,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd52257e77f630ae4510d7d996a05084:2eb2e56fb150e8cc3dd0a4377c7339e3:f26b0e84519fbcef78e407e8d2324443$</string>
            <key>textureFileName</key>
            <string>cavalier_move_leftup.png</string>
        </dict>
    </dict>
</plist>
