<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_skill1_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,176}</string>
                <key>spriteSourceSize</key>
                <string>{134,176}</string>
                <key>textureRect</key>
                <string>{{483,0},{134,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,306}</string>
                <key>spriteSourceSize</key>
                <string>{329,306}</string>
                <key>textureRect</key>
                <string>{{0,935},{329,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,268}</string>
                <key>spriteSourceSize</key>
                <string>{327,268}</string>
                <key>textureRect</key>
                <string>{{552,667},{327,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,242}</string>
                <key>spriteSourceSize</key>
                <string>{351,242}</string>
                <key>textureRect</key>
                <string>{{455,425},{351,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,226}</string>
                <key>spriteSourceSize</key>
                <string>{351,226}</string>
                <key>textureRect</key>
                <string>{{435,199},{351,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,219}</string>
                <key>spriteSourceSize</key>
                <string>{289,219}</string>
                <key>textureRect</key>
                <string>{{146,199},{289,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,136}</string>
                <key>spriteSourceSize</key>
                <string>{266,136}</string>
                <key>textureRect</key>
                <string>{{217,0},{266,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,105}</string>
                <key>spriteSourceSize</key>
                <string>{217,105}</string>
                <key>textureRect</key>
                <string>{{0,0},{217,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,199}</string>
                <key>spriteSourceSize</key>
                <string>{147,199}</string>
                <key>textureRect</key>
                <string>{{766,0},{147,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,202}</string>
                <key>spriteSourceSize</key>
                <string>{146,202}</string>
                <key>textureRect</key>
                <string>{{0,199},{146,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,184}</string>
                <key>spriteSourceSize</key>
                <string>{149,184}</string>
                <key>textureRect</key>
                <string>{{617,0},{149,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,258}</string>
                <key>spriteSourceSize</key>
                <string>{191,258}</string>
                <key>textureRect</key>
                <string>{{0,667},{191,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,227}</string>
                <key>spriteSourceSize</key>
                <string>{270,227}</string>
                <key>textureRect</key>
                <string>{{0,425},{270,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,228}</string>
                <key>spriteSourceSize</key>
                <string>{185,228}</string>
                <key>textureRect</key>
                <string>{{270,425},{185,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,261}</string>
                <key>spriteSourceSize</key>
                <string>{361,261}</string>
                <key>textureRect</key>
                <string>{{191,667},{361,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,345}</string>
                <key>spriteSourceSize</key>
                <string>{392,345}</string>
                <key>textureRect</key>
                <string>{{329,935},{392,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_skill1_leftdown.png</string>
            <key>size</key>
            <string>{913,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:481106951b06e77bd2ffd3c98325b468:adfae954381ba0e2abc5b645906efee6:2c311ed6c239c9426e877ce288876c4a$</string>
            <key>textureFileName</key>
            <string>cavalier_skill1_leftdown.png</string>
        </dict>
    </dict>
</plist>
