<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_attack_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,151}</string>
                <key>spriteSourceSize</key>
                <string>{199,151}</string>
                <key>textureRect</key>
                <string>{{0,0},{199,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,173}</string>
                <key>spriteSourceSize</key>
                <string>{176,173}</string>
                <key>textureRect</key>
                <string>{{1249,0},{176,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,162}</string>
                <key>spriteSourceSize</key>
                <string>{278,162}</string>
                <key>textureRect</key>
                <string>{{199,0},{278,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,195}</string>
                <key>spriteSourceSize</key>
                <string>{278,195}</string>
                <key>textureRect</key>
                <string>{{534,175},{278,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,195}</string>
                <key>spriteSourceSize</key>
                <string>{284,195}</string>
                <key>textureRect</key>
                <string>{{812,175},{284,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,181}</string>
                <key>spriteSourceSize</key>
                <string>{288,181}</string>
                <key>textureRect</key>
                <string>{{0,175},{288,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,175}</string>
                <key>spriteSourceSize</key>
                <string>{290,175}</string>
                <key>textureRect</key>
                <string>{{1425,0},{290,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,194}</string>
                <key>spriteSourceSize</key>
                <string>{246,194}</string>
                <key>textureRect</key>
                <string>{{288,175},{246,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,166}</string>
                <key>spriteSourceSize</key>
                <string>{179,166}</string>
                <key>textureRect</key>
                <string>{{477,0},{179,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,214}</string>
                <key>spriteSourceSize</key>
                <string>{197,214}</string>
                <key>textureRect</key>
                <string>{{1571,175},{197,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,214}</string>
                <key>spriteSourceSize</key>
                <string>{205,214}</string>
                <key>textureRect</key>
                <string>{{1768,175},{205,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,203}</string>
                <key>spriteSourceSize</key>
                <string>{259,203}</string>
                <key>textureRect</key>
                <string>{{1312,175},{259,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,202}</string>
                <key>spriteSourceSize</key>
                <string>{216,202}</string>
                <key>textureRect</key>
                <string>{{1096,175},{216,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,169}</string>
                <key>spriteSourceSize</key>
                <string>{221,169}</string>
                <key>textureRect</key>
                <string>{{656,0},{221,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,169}</string>
                <key>spriteSourceSize</key>
                <string>{209,169}</string>
                <key>textureRect</key>
                <string>{{877,0},{209,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,169}</string>
                <key>spriteSourceSize</key>
                <string>{163,169}</string>
                <key>textureRect</key>
                <string>{{1086,0},{163,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_attack_rightdown.png</string>
            <key>size</key>
            <string>{1973,389}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cac95275a9abb005b74576852db5fff2:5c9358ca3a9a3e84cc46c8588974d600:8621d51d28032cae5ea78c47b9f1eb77$</string>
            <key>textureFileName</key>
            <string>cavalier_attack_rightdown.png</string>
        </dict>
    </dict>
</plist>
