<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_attack_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,183}</string>
                <key>spriteSourceSize</key>
                <string>{209,183}</string>
                <key>textureRect</key>
                <string>{{0,0},{209,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,193}</string>
                <key>spriteSourceSize</key>
                <string>{157,193}</string>
                <key>textureRect</key>
                <string>{{319,695},{157,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,189}</string>
                <key>spriteSourceSize</key>
                <string>{235,189}</string>
                <key>textureRect</key>
                <string>{{0,908},{235,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,222}</string>
                <key>spriteSourceSize</key>
                <string>{219,222}</string>
                <key>textureRect</key>
                <string>{{235,908},{219,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{0,1130},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,191}</string>
                <key>spriteSourceSize</key>
                <string>{219,191}</string>
                <key>textureRect</key>
                <string>{{220,1130},{219,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,179}</string>
                <key>spriteSourceSize</key>
                <string>{211,179}</string>
                <key>textureRect</key>
                <string>{{0,1331},{211,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,176}</string>
                <key>spriteSourceSize</key>
                <string>{183,176}</string>
                <key>textureRect</key>
                <string>{{211,1331},{183,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,223}</string>
                <key>spriteSourceSize</key>
                <string>{203,223}</string>
                <key>textureRect</key>
                <string>{{209,0},{203,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,217}</string>
                <key>spriteSourceSize</key>
                <string>{165,217}</string>
                <key>textureRect</key>
                <string>{{0,223},{165,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,202}</string>
                <key>spriteSourceSize</key>
                <string>{158,202}</string>
                <key>textureRect</key>
                <string>{{165,223},{158,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,227}</string>
                <key>textureRect</key>
                <string>{{323,223},{160,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,245}</string>
                <key>spriteSourceSize</key>
                <string>{201,245}</string>
                <key>textureRect</key>
                <string>{{0,450},{201,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,232}</string>
                <key>spriteSourceSize</key>
                <string>{185,232}</string>
                <key>textureRect</key>
                <string>{{201,450},{185,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,205}</string>
                <key>spriteSourceSize</key>
                <string>{167,205}</string>
                <key>textureRect</key>
                <string>{{0,695},{167,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,213}</string>
                <key>spriteSourceSize</key>
                <string>{152,213}</string>
                <key>textureRect</key>
                <string>{{167,695},{152,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_attack_leftup.png</string>
            <key>size</key>
            <string>{483,1510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3558617e585621e3b069220c0dd533be:bc13e2a4a581cb10cfec5cdc29a749fe:d7990c12150137f2630ae4c19810b0b3$</string>
            <key>textureFileName</key>
            <string>cavalier_attack_leftup.png</string>
        </dict>
    </dict>
</plist>
