<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_skill_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,278}</string>
                <key>spriteSourceSize</key>
                <string>{366,278}</string>
                <key>textureRect</key>
                <string>{{334,1101},{366,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,273}</string>
                <key>spriteSourceSize</key>
                <string>{262,273}</string>
                <key>textureRect</key>
                <string>{{0,254},{262,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,269}</string>
                <key>spriteSourceSize</key>
                <string>{334,269}</string>
                <key>textureRect</key>
                <string>{{0,1101},{334,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,251}</string>
                <key>spriteSourceSize</key>
                <string>{255,251}</string>
                <key>textureRect</key>
                <string>{{612,0},{255,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,254}</string>
                <key>spriteSourceSize</key>
                <string>{225,254}</string>
                <key>textureRect</key>
                <string>{{387,0},{225,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,252}</string>
                <key>spriteSourceSize</key>
                <string>{188,252}</string>
                <key>textureRect</key>
                <string>{{199,0},{188,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,151}</string>
                <key>spriteSourceSize</key>
                <string>{199,151}</string>
                <key>textureRect</key>
                <string>{{0,0},{199,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,194}</string>
                <key>spriteSourceSize</key>
                <string>{344,194}</string>
                <key>textureRect</key>
                <string>{{262,254},{344,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,266}</string>
                <key>spriteSourceSize</key>
                <string>{314,266}</string>
                <key>textureRect</key>
                <string>{{583,527},{314,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,268}</string>
                <key>spriteSourceSize</key>
                <string>{289,268}</string>
                <key>textureRect</key>
                <string>{{606,254},{289,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,283}</string>
                <key>spriteSourceSize</key>
                <string>{301,283}</string>
                <key>textureRect</key>
                <string>{{0,809},{301,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,289}</string>
                <key>spriteSourceSize</key>
                <string>{304,289}</string>
                <key>textureRect</key>
                <string>{{301,809},{304,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,292}</string>
                <key>spriteSourceSize</key>
                <string>{310,292}</string>
                <key>textureRect</key>
                <string>{{605,809},{310,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,282}</string>
                <key>spriteSourceSize</key>
                <string>{289,282}</string>
                <key>textureRect</key>
                <string>{{294,527},{289,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,272}</string>
                <key>spriteSourceSize</key>
                <string>{294,272}</string>
                <key>textureRect</key>
                <string>{{0,527},{294,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_skill_rightup.png</string>
            <key>size</key>
            <string>{915,1379}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2570d32d3539f265dc595d7ae3a94eab:81b21f8fa673bc6555d5d04308de528e:6045f911e0d28738c9ea73eec40d7d4d$</string>
            <key>textureFileName</key>
            <string>cavalier_skill_rightup.png</string>
        </dict>
    </dict>
</plist>
