<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_move_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,228}</string>
                <key>spriteSourceSize</key>
                <string>{198,228}</string>
                <key>textureRect</key>
                <string>{{213,1135},{198,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,226}</string>
                <key>spriteSourceSize</key>
                <string>{211,226}</string>
                <key>textureRect</key>
                <string>{{0,0},{211,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,228}</string>
                <key>spriteSourceSize</key>
                <string>{213,228}</string>
                <key>textureRect</key>
                <string>{{0,1135},{213,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,228}</string>
                <key>spriteSourceSize</key>
                <string>{206,228}</string>
                <key>textureRect</key>
                <string>{{0,1363},{206,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,230}</string>
                <key>spriteSourceSize</key>
                <string>{200,230}</string>
                <key>textureRect</key>
                <string>{{189,1591},{200,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,230}</string>
                <key>spriteSourceSize</key>
                <string>{189,230}</string>
                <key>textureRect</key>
                <string>{{0,1591},{189,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,228}</string>
                <key>spriteSourceSize</key>
                <string>{198,228}</string>
                <key>textureRect</key>
                <string>{{206,1363},{198,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,227}</string>
                <key>spriteSourceSize</key>
                <string>{192,227}</string>
                <key>textureRect</key>
                <string>{{214,226},{192,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,228}</string>
                <key>spriteSourceSize</key>
                <string>{197,228}</string>
                <key>textureRect</key>
                <string>{{198,907},{197,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,228}</string>
                <key>spriteSourceSize</key>
                <string>{198,228}</string>
                <key>textureRect</key>
                <string>{{0,907},{198,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,227}</string>
                <key>spriteSourceSize</key>
                <string>{197,227}</string>
                <key>textureRect</key>
                <string>{{0,453},{197,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,227}</string>
                <key>spriteSourceSize</key>
                <string>{200,227}</string>
                <key>textureRect</key>
                <string>{{0,680},{200,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,227}</string>
                <key>spriteSourceSize</key>
                <string>{194,227}</string>
                <key>textureRect</key>
                <string>{{197,453},{194,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,227}</string>
                <key>spriteSourceSize</key>
                <string>{203,227}</string>
                <key>textureRect</key>
                <string>{{200,680},{203,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,226}</string>
                <key>spriteSourceSize</key>
                <string>{204,226}</string>
                <key>textureRect</key>
                <string>{{211,0},{204,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,226}</string>
                <key>spriteSourceSize</key>
                <string>{214,226}</string>
                <key>textureRect</key>
                <string>{{0,226},{214,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_move_rightup.png</string>
            <key>size</key>
            <string>{415,1821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f3f2c1a64e1763afa168d91afdc57b4:1080277e227257b679805df0336f188a:d2bee39fb0a63cc365d9709725fe37f4$</string>
            <key>textureFileName</key>
            <string>cavalier_move_rightup.png</string>
        </dict>
    </dict>
</plist>
