<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_move_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{722,0},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,213}</string>
                <key>spriteSourceSize</key>
                <string>{245,213}</string>
                <key>textureRect</key>
                <string>{{729,620},{245,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,209}</string>
                <key>spriteSourceSize</key>
                <string>{244,209}</string>
                <key>textureRect</key>
                <string>{{726,411},{244,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,208}</string>
                <key>spriteSourceSize</key>
                <string>{244,208}</string>
                <key>textureRect</key>
                <string>{{242,411},{244,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,211}</string>
                <key>spriteSourceSize</key>
                <string>{243,211}</string>
                <key>textureRect</key>
                <string>{{243,620},{243,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,207}</string>
                <key>spriteSourceSize</key>
                <string>{242,207}</string>
                <key>textureRect</key>
                <string>{{721,204},{242,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,204}</string>
                <key>spriteSourceSize</key>
                <string>{241,204}</string>
                <key>textureRect</key>
                <string>{{0,0},{241,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,205}</string>
                <key>spriteSourceSize</key>
                <string>{241,205}</string>
                <key>textureRect</key>
                <string>{{0,204},{241,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,207}</string>
                <key>spriteSourceSize</key>
                <string>{239,207}</string>
                <key>textureRect</key>
                <string>{{482,204},{239,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,204}</string>
                <key>spriteSourceSize</key>
                <string>{242,204}</string>
                <key>textureRect</key>
                <string>{{480,0},{242,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,204}</string>
                <key>spriteSourceSize</key>
                <string>{239,204}</string>
                <key>textureRect</key>
                <string>{{241,0},{239,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,209}</string>
                <key>spriteSourceSize</key>
                <string>{240,209}</string>
                <key>textureRect</key>
                <string>{{486,411},{240,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,207}</string>
                <key>spriteSourceSize</key>
                <string>{241,207}</string>
                <key>textureRect</key>
                <string>{{241,204},{241,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,208}</string>
                <key>spriteSourceSize</key>
                <string>{242,208}</string>
                <key>textureRect</key>
                <string>{{0,411},{242,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,210}</string>
                <key>spriteSourceSize</key>
                <string>{243,210}</string>
                <key>textureRect</key>
                <string>{{0,620},{243,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_move_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,212}</string>
                <key>spriteSourceSize</key>
                <string>{243,212}</string>
                <key>textureRect</key>
                <string>{{486,620},{243,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_move_rightdown.png</string>
            <key>size</key>
            <string>{974,833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:693b21de5a50b848f08619096bead002:dcc1dc5b55dcf5aab25e9afeb90c10ba:c125a97f88c777ddd9b311127aaa7eec$</string>
            <key>textureFileName</key>
            <string>cavalier_move_rightdown.png</string>
        </dict>
    </dict>
</plist>
