<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_attack_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,172}</string>
                <key>spriteSourceSize</key>
                <string>{171,172}</string>
                <key>textureRect</key>
                <string>{{209,0},{171,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,211}</string>
                <key>spriteSourceSize</key>
                <string>{181,211}</string>
                <key>textureRect</key>
                <string>{{167,565},{181,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,221}</string>
                <key>spriteSourceSize</key>
                <string>{170,221}</string>
                <key>textureRect</key>
                <string>{{0,995},{170,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,246}</string>
                <key>spriteSourceSize</key>
                <string>{166,246}</string>
                <key>textureRect</key>
                <string>{{0,1471},{166,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,246}</string>
                <key>spriteSourceSize</key>
                <string>{174,246}</string>
                <key>textureRect</key>
                <string>{{208,1225},{174,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,230}</string>
                <key>spriteSourceSize</key>
                <string>{173,230}</string>
                <key>textureRect</key>
                <string>{{170,995},{173,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,215}</string>
                <key>spriteSourceSize</key>
                <string>{182,215}</string>
                <key>textureRect</key>
                <string>{{0,776},{182,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{192,359},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,174}</string>
                <key>spriteSourceSize</key>
                <string>{165,174}</string>
                <key>textureRect</key>
                <string>{{0,172},{165,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,167}</string>
                <key>spriteSourceSize</key>
                <string>{209,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{209,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,210}</string>
                <key>spriteSourceSize</key>
                <string>{167,210}</string>
                <key>textureRect</key>
                <string>{{0,565},{167,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,194}</string>
                <key>spriteSourceSize</key>
                <string>{192,194}</string>
                <key>textureRect</key>
                <string>{{0,359},{192,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,237}</string>
                <key>spriteSourceSize</key>
                <string>{208,237}</string>
                <key>textureRect</key>
                <string>{{0,1225},{208,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,269}</string>
                <key>spriteSourceSize</key>
                <string>{224,269}</string>
                <key>textureRect</key>
                <string>{{0,1725},{224,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,254}</string>
                <key>spriteSourceSize</key>
                <string>{227,254}</string>
                <key>textureRect</key>
                <string>{{166,1471},{227,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,219}</string>
                <key>spriteSourceSize</key>
                <string>{180,219}</string>
                <key>textureRect</key>
                <string>{{182,776},{180,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_attack_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,187}</string>
                <key>spriteSourceSize</key>
                <string>{190,187}</string>
                <key>textureRect</key>
                <string>{{165,172},{190,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_attack_leftdown.png</string>
            <key>size</key>
            <string>{398,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4037ea5833766931e8f2f0ec8360a3d:48bf2a939e42fd1311534e3324e48e14:a750a39128623e224c2d0e3edefb7aeb$</string>
            <key>textureFileName</key>
            <string>cavalier_attack_leftdown.png</string>
        </dict>
    </dict>
</plist>
