<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_skill2_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,198}</string>
                <key>spriteSourceSize</key>
                <string>{292,198}</string>
                <key>textureRect</key>
                <string>{{0,0},{292,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,305}</string>
                <key>spriteSourceSize</key>
                <string>{272,305}</string>
                <key>textureRect</key>
                <string>{{535,266},{272,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,303}</string>
                <key>spriteSourceSize</key>
                <string>{283,303}</string>
                <key>textureRect</key>
                <string>{{807,266},{283,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,266}</string>
                <key>spriteSourceSize</key>
                <string>{285,266}</string>
                <key>textureRect</key>
                <string>{{1090,266},{285,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,262}</string>
                <key>spriteSourceSize</key>
                <string>{302,262}</string>
                <key>textureRect</key>
                <string>{{1375,266},{302,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,277}</string>
                <key>spriteSourceSize</key>
                <string>{311,277}</string>
                <key>textureRect</key>
                <string>{{1677,266},{311,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,295}</string>
                <key>spriteSourceSize</key>
                <string>{307,295}</string>
                <key>textureRect</key>
                <string>{{0,571},{307,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,291}</string>
                <key>spriteSourceSize</key>
                <string>{316,291}</string>
                <key>textureRect</key>
                <string>{{307,571},{316,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,290}</string>
                <key>spriteSourceSize</key>
                <string>{320,290}</string>
                <key>textureRect</key>
                <string>{{623,571},{320,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,300}</string>
                <key>spriteSourceSize</key>
                <string>{315,300}</string>
                <key>textureRect</key>
                <string>{{943,571},{315,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,299}</string>
                <key>spriteSourceSize</key>
                <string>{316,299}</string>
                <key>textureRect</key>
                <string>{{1258,571},{316,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,198}</string>
                <key>spriteSourceSize</key>
                <string>{251,198}</string>
                <key>textureRect</key>
                <string>{{292,0},{251,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,264}</string>
                <key>spriteSourceSize</key>
                <string>{319,264}</string>
                <key>textureRect</key>
                <string>{{1574,571},{319,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,276}</string>
                <key>spriteSourceSize</key>
                <string>{325,276}</string>
                <key>textureRect</key>
                <string>{{0,871},{325,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,273}</string>
                <key>spriteSourceSize</key>
                <string>{328,273}</string>
                <key>textureRect</key>
                <string>{{325,871},{328,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,233}</string>
                <key>spriteSourceSize</key>
                <string>{321,233}</string>
                <key>textureRect</key>
                <string>{{653,871},{321,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,239}</string>
                <key>spriteSourceSize</key>
                <string>{337,239}</string>
                <key>textureRect</key>
                <string>{{974,871},{337,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,240}</string>
                <key>spriteSourceSize</key>
                <string>{335,240}</string>
                <key>textureRect</key>
                <string>{{1311,871},{335,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,238}</string>
                <key>spriteSourceSize</key>
                <string>{336,238}</string>
                <key>textureRect</key>
                <string>{{1646,871},{336,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{543,0},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,214}</string>
                <key>spriteSourceSize</key>
                <string>{216,214}</string>
                <key>textureRect</key>
                <string>{{759,0},{216,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,213}</string>
                <key>spriteSourceSize</key>
                <string>{285,213}</string>
                <key>textureRect</key>
                <string>{{975,0},{285,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,266}</string>
                <key>spriteSourceSize</key>
                <string>{271,266}</string>
                <key>textureRect</key>
                <string>{{1260,0},{271,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,248}</string>
                <key>spriteSourceSize</key>
                <string>{271,248}</string>
                <key>textureRect</key>
                <string>{{1531,0},{271,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,264}</string>
                <key>spriteSourceSize</key>
                <string>{269,264}</string>
                <key>textureRect</key>
                <string>{{0,266},{269,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill2_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,275}</string>
                <key>spriteSourceSize</key>
                <string>{266,275}</string>
                <key>textureRect</key>
                <string>{{269,266},{266,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_skill2_leftup.png</string>
            <key>size</key>
            <string>{1988,1147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bb0d8ab17b44a05be39b50f5b001172:b167aac039e2820a118a3baa2cd15fdd:99ee1c39db604ef6b199056d80078dbc$</string>
            <key>textureFileName</key>
            <string>cavalier_skill2_leftup.png</string>
        </dict>
    </dict>
</plist>
