<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cavalier_skill1_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,181}</string>
                <key>spriteSourceSize</key>
                <string>{173,181}</string>
                <key>textureRect</key>
                <string>{{418,0},{173,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,247}</string>
                <key>spriteSourceSize</key>
                <string>{322,247}</string>
                <key>textureRect</key>
                <string>{{1706,201},{322,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,238}</string>
                <key>spriteSourceSize</key>
                <string>{285,238}</string>
                <key>textureRect</key>
                <string>{{820,201},{285,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,207}</string>
                <key>spriteSourceSize</key>
                <string>{252,207}</string>
                <key>textureRect</key>
                <string>{{568,201},{252,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,201}</string>
                <key>spriteSourceSize</key>
                <string>{236,201}</string>
                <key>textureRect</key>
                <string>{{1596,0},{236,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,201}</string>
                <key>spriteSourceSize</key>
                <string>{234,201}</string>
                <key>textureRect</key>
                <string>{{0,201},{234,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,190}</string>
                <key>spriteSourceSize</key>
                <string>{226,190}</string>
                <key>textureRect</key>
                <string>{{911,0},{226,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,145}</string>
                <key>spriteSourceSize</key>
                <string>{220,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{220,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,184}</string>
                <key>spriteSourceSize</key>
                <string>{166,184}</string>
                <key>textureRect</key>
                <string>{{591,0},{166,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,187}</string>
                <key>spriteSourceSize</key>
                <string>{154,187}</string>
                <key>textureRect</key>
                <string>{{757,0},{154,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,196}</string>
                <key>spriteSourceSize</key>
                <string>{163,196}</string>
                <key>textureRect</key>
                <string>{{1137,0},{163,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,241}</string>
                <key>spriteSourceSize</key>
                <string>{278,241}</string>
                <key>textureRect</key>
                <string>{{1428,201},{278,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,197}</string>
                <key>spriteSourceSize</key>
                <string>{296,197}</string>
                <key>textureRect</key>
                <string>{{1300,0},{296,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,177}</string>
                <key>spriteSourceSize</key>
                <string>{198,177}</string>
                <key>textureRect</key>
                <string>{{220,0},{198,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,206}</string>
                <key>spriteSourceSize</key>
                <string>{334,206}</string>
                <key>textureRect</key>
                <string>{{234,201},{334,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cavalier_skill1_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,239}</string>
                <key>spriteSourceSize</key>
                <string>{323,239}</string>
                <key>textureRect</key>
                <string>{{1105,201},{323,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cavalier_skill1_rightup.png</string>
            <key>size</key>
            <string>{2028,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4df9d461b42638892ec134b744c6cdb3:e3b4c59d7f8795d9da529942bf686979:c40a03c5a613285110f50d464f1010cc$</string>
            <key>textureFileName</key>
            <string>cavalier_skill1_rightup.png</string>
        </dict>
    </dict>
</plist>
