<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill3_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,100}</string>
                <key>spriteSourceSize</key>
                <string>{152,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{152,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,124}</string>
                <key>spriteSourceSize</key>
                <string>{104,124}</string>
                <key>textureRect</key>
                <string>{{0,1341},{104,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,117}</string>
                <key>spriteSourceSize</key>
                <string>{126,117}</string>
                <key>textureRect</key>
                <string>{{0,1490},{126,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,108}</string>
                <key>spriteSourceSize</key>
                <string>{162,108}</string>
                <key>textureRect</key>
                <string>{{0,1639},{162,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,102}</string>
                <key>spriteSourceSize</key>
                <string>{197,102}</string>
                <key>textureRect</key>
                <string>{{0,1788},{197,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,98}</string>
                <key>spriteSourceSize</key>
                <string>{132,98}</string>
                <key>textureRect</key>
                <string>{{0,149},{132,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,97}</string>
                <key>spriteSourceSize</key>
                <string>{124,97}</string>
                <key>textureRect</key>
                <string>{{0,298},{124,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{0,447},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,98}</string>
                <key>spriteSourceSize</key>
                <string>{97,98}</string>
                <key>textureRect</key>
                <string>{{0,596},{97,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,149}</string>
                <key>spriteSourceSize</key>
                <string>{88,149}</string>
                <key>textureRect</key>
                <string>{{0,745},{88,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,137}</string>
                <key>spriteSourceSize</key>
                <string>{112,137}</string>
                <key>textureRect</key>
                <string>{{0,894},{112,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,125}</string>
                <key>spriteSourceSize</key>
                <string>{87,125}</string>
                <key>textureRect</key>
                <string>{{0,1043},{87,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_up (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,116}</string>
                <key>spriteSourceSize</key>
                <string>{84,116}</string>
                <key>textureRect</key>
                <string>{{0,1192},{84,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill3_up.png</string>
            <key>size</key>
            <string>{197,1937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd807244c39d33f0a564c6c12e7cb02d:fd47a9fe268180a0182c05b164c016a7:040c1354379e018613e357791eb4930c$</string>
            <key>textureFileName</key>
            <string>aviator_skill3_up.png</string>
        </dict>
    </dict>
</plist>
