<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill1_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,115}</string>
                <key>spriteSourceSize</key>
                <string>{146,115}</string>
                <key>textureRect</key>
                <string>{{171,173},{146,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,125}</string>
                <key>spriteSourceSize</key>
                <string>{104,125}</string>
                <key>textureRect</key>
                <string>{{342,173},{104,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,108}</string>
                <key>spriteSourceSize</key>
                <string>{170,108}</string>
                <key>textureRect</key>
                <string>{{513,173},{170,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,104}</string>
                <key>spriteSourceSize</key>
                <string>{120,104}</string>
                <key>textureRect</key>
                <string>{{684,173},{120,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,102}</string>
                <key>spriteSourceSize</key>
                <string>{171,102}</string>
                <key>textureRect</key>
                <string>{{855,173},{171,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,136}</string>
                <key>spriteSourceSize</key>
                <string>{135,136}</string>
                <key>textureRect</key>
                <string>{{1026,173},{135,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,173}</string>
                <key>spriteSourceSize</key>
                <string>{113,173}</string>
                <key>textureRect</key>
                <string>{{1197,173},{113,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,94}</string>
                <key>spriteSourceSize</key>
                <string>{136,94}</string>
                <key>textureRect</key>
                <string>{{171,0},{136,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,102}</string>
                <key>spriteSourceSize</key>
                <string>{126,102}</string>
                <key>textureRect</key>
                <string>{{342,0},{126,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,140}</string>
                <key>spriteSourceSize</key>
                <string>{78,140}</string>
                <key>textureRect</key>
                <string>{{513,0},{78,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,145}</string>
                <key>spriteSourceSize</key>
                <string>{121,145}</string>
                <key>textureRect</key>
                <string>{{684,0},{121,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,130}</string>
                <key>spriteSourceSize</key>
                <string>{84,130}</string>
                <key>textureRect</key>
                <string>{{855,0},{84,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,91}</string>
                <key>spriteSourceSize</key>
                <string>{145,91}</string>
                <key>textureRect</key>
                <string>{{1026,0},{145,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,96}</string>
                <key>textureRect</key>
                <string>{{1197,0},{132,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,101}</string>
                <key>spriteSourceSize</key>
                <string>{128,101}</string>
                <key>textureRect</key>
                <string>{{0,173},{128,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill1_rightdown.png</string>
            <key>size</key>
            <string>{1368,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:564f35c2c14a5611b0843eee5fbb045a:f6942aae0e89725e54cbd4496435ae2b:e335e5f9f9a0fb65976f9aad22ece816$</string>
            <key>textureFileName</key>
            <string>aviator_skill1_rightdown.png</string>
        </dict>
    </dict>
</plist>
