<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_attack_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,103}</string>
                <key>spriteSourceSize</key>
                <string>{180,103}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,104}</string>
                <key>spriteSourceSize</key>
                <string>{131,104}</string>
                <key>textureRect</key>
                <string>{{182,0},{131,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,103}</string>
                <key>spriteSourceSize</key>
                <string>{138,103}</string>
                <key>textureRect</key>
                <string>{{364,0},{138,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{546,0},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{84,112}</string>
                <key>textureRect</key>
                <string>{{728,0},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,122}</string>
                <key>spriteSourceSize</key>
                <string>{163,122}</string>
                <key>textureRect</key>
                <string>{{910,0},{163,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,128}</string>
                <key>spriteSourceSize</key>
                <string>{182,128}</string>
                <key>textureRect</key>
                <string>{{1092,0},{182,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,100}</string>
                <key>spriteSourceSize</key>
                <string>{179,100}</string>
                <key>textureRect</key>
                <string>{{1274,0},{179,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_attack_up.png</string>
            <key>size</key>
            <string>{1456,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:736ea1c2840ec71745a8988104809ef8:0f5d9ba2b7efdb12611307cf8d02dff5:34951aae72c6b09c73dccb0d68778dee$</string>
            <key>textureFileName</key>
            <string>aviator_attack_up.png</string>
        </dict>
    </dict>
</plist>
