<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill1_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,101}</string>
                <key>spriteSourceSize</key>
                <string>{183,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{183,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,118}</string>
                <key>spriteSourceSize</key>
                <string>{151,118}</string>
                <key>textureRect</key>
                <string>{{183,161},{151,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,90}</string>
                <key>spriteSourceSize</key>
                <string>{143,90}</string>
                <key>textureRect</key>
                <string>{{366,161},{143,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,92}</string>
                <key>spriteSourceSize</key>
                <string>{123,92}</string>
                <key>textureRect</key>
                <string>{{549,161},{123,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,98}</string>
                <key>spriteSourceSize</key>
                <string>{180,98}</string>
                <key>textureRect</key>
                <string>{{732,161},{180,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,111}</string>
                <key>spriteSourceSize</key>
                <string>{153,111}</string>
                <key>textureRect</key>
                <string>{{915,161},{153,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,107}</string>
                <key>spriteSourceSize</key>
                <string>{114,107}</string>
                <key>textureRect</key>
                <string>{{1098,161},{114,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,100}</string>
                <key>spriteSourceSize</key>
                <string>{176,100}</string>
                <key>textureRect</key>
                <string>{{1281,161},{176,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,100}</string>
                <key>spriteSourceSize</key>
                <string>{123,100}</string>
                <key>textureRect</key>
                <string>{{183,0},{123,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,131}</string>
                <key>spriteSourceSize</key>
                <string>{96,131}</string>
                <key>textureRect</key>
                <string>{{366,0},{96,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,126}</string>
                <key>spriteSourceSize</key>
                <string>{102,126}</string>
                <key>textureRect</key>
                <string>{{549,0},{102,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,104}</string>
                <key>spriteSourceSize</key>
                <string>{152,104}</string>
                <key>textureRect</key>
                <string>{{732,0},{152,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{915,0},{128,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,97}</string>
                <key>spriteSourceSize</key>
                <string>{118,97}</string>
                <key>textureRect</key>
                <string>{{1098,0},{118,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,133}</string>
                <key>spriteSourceSize</key>
                <string>{152,133}</string>
                <key>textureRect</key>
                <string>{{1281,0},{152,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_up (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,161}</string>
                <key>spriteSourceSize</key>
                <string>{133,161}</string>
                <key>textureRect</key>
                <string>{{0,161},{133,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill1_up.png</string>
            <key>size</key>
            <string>{1464,322}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbee74a0711531ffa317787aae72b636:c0e27e2ed45b5512331e3776b8069858:e81f2608c302c1f7e176fe99e240f93e$</string>
            <key>textureFileName</key>
            <string>aviator_skill1_up.png</string>
        </dict>
    </dict>
</plist>
