<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_move_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,88}</string>
                <key>spriteSourceSize</key>
                <string>{148,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{148,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,91}</string>
                <key>spriteSourceSize</key>
                <string>{150,91}</string>
                <key>textureRect</key>
                <string>{{182,0},{150,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,121}</string>
                <key>spriteSourceSize</key>
                <string>{164,121}</string>
                <key>textureRect</key>
                <string>{{364,0},{164,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,132}</string>
                <key>spriteSourceSize</key>
                <string>{172,132}</string>
                <key>textureRect</key>
                <string>{{546,0},{172,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,125}</string>
                <key>spriteSourceSize</key>
                <string>{170,125}</string>
                <key>textureRect</key>
                <string>{{728,0},{170,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,118}</string>
                <key>spriteSourceSize</key>
                <string>{171,118}</string>
                <key>textureRect</key>
                <string>{{910,0},{171,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,121}</string>
                <key>spriteSourceSize</key>
                <string>{182,121}</string>
                <key>textureRect</key>
                <string>{{1092,0},{182,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,88}</string>
                <key>spriteSourceSize</key>
                <string>{150,88}</string>
                <key>textureRect</key>
                <string>{{1274,0},{150,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_move_leftdown.png</string>
            <key>size</key>
            <string>{1456,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df8ed796a2344e0507675f7f53911330:0ece5f7554ed4f0869d958afda04c1d8:82acf02c0d81dbf232286416bde6043f$</string>
            <key>textureFileName</key>
            <string>aviator_move_leftdown.png</string>
        </dict>
    </dict>
</plist>
