<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_attack_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,132}</string>
                <key>spriteSourceSize</key>
                <string>{144,132}</string>
                <key>textureRect</key>
                <string>{{0,0},{144,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,121}</string>
                <key>spriteSourceSize</key>
                <string>{140,121}</string>
                <key>textureRect</key>
                <string>{{170,0},{140,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,102}</string>
                <key>spriteSourceSize</key>
                <string>{122,102}</string>
                <key>textureRect</key>
                <string>{{340,0},{122,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,123}</string>
                <key>spriteSourceSize</key>
                <string>{167,123}</string>
                <key>textureRect</key>
                <string>{{510,0},{167,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{128,154}</string>
                <key>textureRect</key>
                <string>{{680,0},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,153}</string>
                <key>spriteSourceSize</key>
                <string>{100,153}</string>
                <key>textureRect</key>
                <string>{{850,0},{100,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,134}</string>
                <key>spriteSourceSize</key>
                <string>{156,134}</string>
                <key>textureRect</key>
                <string>{{1020,0},{156,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,116}</string>
                <key>spriteSourceSize</key>
                <string>{170,116}</string>
                <key>textureRect</key>
                <string>{{1190,0},{170,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_attack_rightdown.png</string>
            <key>size</key>
            <string>{1360,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ac901a785a7e40eaa6c5e79695b25fa:c04a397de57133782749ceb862c21646:3edf8fccd56c303b1e7813359c838708$</string>
            <key>textureFileName</key>
            <string>aviator_attack_rightdown.png</string>
        </dict>
    </dict>
</plist>
