<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_move_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,119}</string>
                <key>spriteSourceSize</key>
                <string>{107,119}</string>
                <key>textureRect</key>
                <string>{{0,0},{107,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,114}</string>
                <key>spriteSourceSize</key>
                <string>{107,114}</string>
                <key>textureRect</key>
                <string>{{131,0},{107,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,143}</string>
                <key>spriteSourceSize</key>
                <string>{108,143}</string>
                <key>textureRect</key>
                <string>{{262,0},{108,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,127}</string>
                <key>spriteSourceSize</key>
                <string>{123,127}</string>
                <key>textureRect</key>
                <string>{{393,0},{123,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{524,0},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,113}</string>
                <key>spriteSourceSize</key>
                <string>{131,113}</string>
                <key>textureRect</key>
                <string>{{655,0},{131,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,134}</string>
                <key>spriteSourceSize</key>
                <string>{107,134}</string>
                <key>textureRect</key>
                <string>{{786,0},{107,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,113}</string>
                <key>spriteSourceSize</key>
                <string>{107,113}</string>
                <key>textureRect</key>
                <string>{{917,0},{107,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_move_left.png</string>
            <key>size</key>
            <string>{1048,143}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc2268820ad1906d80092f6eb776c5ce:6378be47727e0463397feb4054d287f3:466f0f2393aabc282589618529835aca$</string>
            <key>textureFileName</key>
            <string>aviator_move_left.png</string>
        </dict>
    </dict>
</plist>
