<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_behit_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,110}</string>
                <key>spriteSourceSize</key>
                <string>{184,110}</string>
                <key>textureRect</key>
                <string>{{0,0},{184,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,99}</string>
                <key>spriteSourceSize</key>
                <string>{157,99}</string>
                <key>textureRect</key>
                <string>{{0,110},{157,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,107}</string>
                <key>spriteSourceSize</key>
                <string>{101,107}</string>
                <key>textureRect</key>
                <string>{{0,209},{101,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,105}</string>
                <key>spriteSourceSize</key>
                <string>{81,105}</string>
                <key>textureRect</key>
                <string>{{101,209},{81,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{0,316},{76,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_behit_down.png</string>
            <key>size</key>
            <string>{184,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f67fcea20b3a8d5482b71f5354b9e9f:edacdf2de0b9eb8bcc12e984eab467a0:59f72b8bbd8eb587d751e11f11e1f682$</string>
            <key>textureFileName</key>
            <string>aviator_behit_down.png</string>
        </dict>
    </dict>
</plist>
