<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill2_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,133}</string>
                <key>spriteSourceSize</key>
                <string>{105,133}</string>
                <key>textureRect</key>
                <string>{{0,0},{105,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,113}</string>
                <key>spriteSourceSize</key>
                <string>{156,113}</string>
                <key>textureRect</key>
                <string>{{105,0},{156,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,149}</string>
                <key>spriteSourceSize</key>
                <string>{98,149}</string>
                <key>textureRect</key>
                <string>{{261,0},{98,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,158}</string>
                <key>spriteSourceSize</key>
                <string>{67,158}</string>
                <key>textureRect</key>
                <string>{{359,0},{67,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,154}</string>
                <key>spriteSourceSize</key>
                <string>{120,154}</string>
                <key>textureRect</key>
                <string>{{426,0},{120,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,133}</string>
                <key>spriteSourceSize</key>
                <string>{147,133}</string>
                <key>textureRect</key>
                <string>{{546,0},{147,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,117}</string>
                <key>spriteSourceSize</key>
                <string>{145,117}</string>
                <key>textureRect</key>
                <string>{{693,0},{145,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{123,123}</string>
                <key>textureRect</key>
                <string>{{838,0},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill2_rightdown.png</string>
            <key>size</key>
            <string>{961,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0715459bc1cf4b056098f2ae51b43aa:694e705abd8a7d0f5c48dde4016202a4:2a570808cbc1d8dd6b41011404d34231$</string>
            <key>textureFileName</key>
            <string>aviator_skill2_rightdown.png</string>
        </dict>
    </dict>
</plist>
