<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill1_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,128}</string>
                <key>spriteSourceSize</key>
                <string>{120,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,131}</string>
                <key>spriteSourceSize</key>
                <string>{146,131}</string>
                <key>textureRect</key>
                <string>{{183,157},{146,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,100}</string>
                <key>spriteSourceSize</key>
                <string>{142,100}</string>
                <key>textureRect</key>
                <string>{{366,157},{142,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,98}</string>
                <key>spriteSourceSize</key>
                <string>{176,98}</string>
                <key>textureRect</key>
                <string>{{549,157},{176,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,94}</string>
                <key>spriteSourceSize</key>
                <string>{135,94}</string>
                <key>textureRect</key>
                <string>{{732,157},{135,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,91}</string>
                <key>spriteSourceSize</key>
                <string>{142,91}</string>
                <key>textureRect</key>
                <string>{{915,157},{142,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,107}</string>
                <key>textureRect</key>
                <string>{{1098,157},{183,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,157}</string>
                <key>spriteSourceSize</key>
                <string>{121,157}</string>
                <key>textureRect</key>
                <string>{{1281,157},{121,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,101}</string>
                <key>spriteSourceSize</key>
                <string>{136,101}</string>
                <key>textureRect</key>
                <string>{{183,0},{136,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,98}</string>
                <key>spriteSourceSize</key>
                <string>{147,98}</string>
                <key>textureRect</key>
                <string>{{366,0},{147,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{549,0},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,140}</string>
                <key>spriteSourceSize</key>
                <string>{90,140}</string>
                <key>textureRect</key>
                <string>{{732,0},{90,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,104}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{915,0},{116,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,93}</string>
                <key>spriteSourceSize</key>
                <string>{150,93}</string>
                <key>textureRect</key>
                <string>{{1098,0},{150,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,97}</string>
                <key>spriteSourceSize</key>
                <string>{107,97}</string>
                <key>textureRect</key>
                <string>{{1281,0},{107,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_right (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,124}</string>
                <key>textureRect</key>
                <string>{{0,157},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill1_right.png</string>
            <key>size</key>
            <string>{1464,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1d36047dcc6fad83c4f5a2fd97eee19:68f8ea29e28e7e135817061d6722af72:8dfcd7ca7d274458da4a15b87becdaf7$</string>
            <key>textureFileName</key>
            <string>aviator_skill1_right.png</string>
        </dict>
    </dict>
</plist>
