<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill1_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,82}</string>
                <key>spriteSourceSize</key>
                <string>{147,82}</string>
                <key>textureRect</key>
                <string>{{184,141},{147,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,96}</string>
                <key>spriteSourceSize</key>
                <string>{142,96}</string>
                <key>textureRect</key>
                <string>{{368,141},{142,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,118}</string>
                <key>spriteSourceSize</key>
                <string>{174,118}</string>
                <key>textureRect</key>
                <string>{{552,141},{174,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,121}</string>
                <key>spriteSourceSize</key>
                <string>{134,121}</string>
                <key>textureRect</key>
                <string>{{736,141},{134,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,134}</string>
                <key>spriteSourceSize</key>
                <string>{141,134}</string>
                <key>textureRect</key>
                <string>{{920,141},{141,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,120}</string>
                <key>spriteSourceSize</key>
                <string>{184,120}</string>
                <key>textureRect</key>
                <string>{{1104,141},{184,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,140}</string>
                <key>spriteSourceSize</key>
                <string>{120,140}</string>
                <key>textureRect</key>
                <string>{{1288,141},{120,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,131}</string>
                <key>spriteSourceSize</key>
                <string>{138,131}</string>
                <key>textureRect</key>
                <string>{{184,0},{138,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,100}</string>
                <key>spriteSourceSize</key>
                <string>{146,100}</string>
                <key>textureRect</key>
                <string>{{368,0},{146,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,108}</string>
                <key>textureRect</key>
                <string>{{552,0},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,106}</string>
                <key>spriteSourceSize</key>
                <string>{89,106}</string>
                <key>textureRect</key>
                <string>{{736,0},{89,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,124}</string>
                <key>spriteSourceSize</key>
                <string>{115,124}</string>
                <key>textureRect</key>
                <string>{{920,0},{115,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,137}</string>
                <key>spriteSourceSize</key>
                <string>{149,137}</string>
                <key>textureRect</key>
                <string>{{1104,0},{149,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,141}</string>
                <key>spriteSourceSize</key>
                <string>{109,141}</string>
                <key>textureRect</key>
                <string>{{1288,0},{109,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,113}</string>
                <key>spriteSourceSize</key>
                <string>{129,113}</string>
                <key>textureRect</key>
                <string>{{0,141},{129,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill1_left.png</string>
            <key>size</key>
            <string>{1472,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94c7d8b9b12986f5860af46dd7012a54:0745015f28a5d2fe6e70b3b3e3e75210:a42cb7416d9542e5a259ae7265e081b0$</string>
            <key>textureFileName</key>
            <string>aviator_skill1_left.png</string>
        </dict>
    </dict>
</plist>
