<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill2_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,139}</string>
                <key>spriteSourceSize</key>
                <string>{100,139}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,103}</string>
                <key>spriteSourceSize</key>
                <string>{142,103}</string>
                <key>textureRect</key>
                <string>{{154,0},{142,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,90}</string>
                <key>spriteSourceSize</key>
                <string>{154,90}</string>
                <key>textureRect</key>
                <string>{{308,0},{154,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,123}</string>
                <key>spriteSourceSize</key>
                <string>{101,123}</string>
                <key>textureRect</key>
                <string>{{462,0},{101,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,114}</string>
                <key>spriteSourceSize</key>
                <string>{122,114}</string>
                <key>textureRect</key>
                <string>{{616,0},{122,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,110}</string>
                <key>spriteSourceSize</key>
                <string>{137,110}</string>
                <key>textureRect</key>
                <string>{{770,0},{137,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,102}</string>
                <key>spriteSourceSize</key>
                <string>{137,102}</string>
                <key>textureRect</key>
                <string>{{924,0},{137,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,132}</string>
                <key>spriteSourceSize</key>
                <string>{137,132}</string>
                <key>textureRect</key>
                <string>{{1078,0},{137,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill2_rightup.png</string>
            <key>size</key>
            <string>{1232,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c17f780e60cd11724a62a62aa348f26:5879b578a5264b6bc3db336cf60d86f3:6a4c339dacbacc3fb90c315cf12255b9$</string>
            <key>textureFileName</key>
            <string>aviator_skill2_rightup.png</string>
        </dict>
    </dict>
</plist>
