<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill1_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,102}</string>
                <key>spriteSourceSize</key>
                <string>{141,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{141,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,96}</string>
                <key>spriteSourceSize</key>
                <string>{115,96}</string>
                <key>textureRect</key>
                <string>{{188,143},{115,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,103}</string>
                <key>spriteSourceSize</key>
                <string>{175,103}</string>
                <key>textureRect</key>
                <string>{{376,143},{175,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,140}</string>
                <key>spriteSourceSize</key>
                <string>{118,140}</string>
                <key>textureRect</key>
                <string>{{564,143},{118,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,115}</string>
                <key>spriteSourceSize</key>
                <string>{175,115}</string>
                <key>textureRect</key>
                <string>{{752,143},{175,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,141}</string>
                <key>spriteSourceSize</key>
                <string>{129,141}</string>
                <key>textureRect</key>
                <string>{{940,143},{129,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,138}</string>
                <key>spriteSourceSize</key>
                <string>{157,138}</string>
                <key>textureRect</key>
                <string>{{1128,143},{157,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,133}</string>
                <key>spriteSourceSize</key>
                <string>{188,133}</string>
                <key>textureRect</key>
                <string>{{1316,143},{188,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,114}</string>
                <key>spriteSourceSize</key>
                <string>{142,114}</string>
                <key>textureRect</key>
                <string>{{188,0},{142,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,115}</string>
                <key>spriteSourceSize</key>
                <string>{123,115}</string>
                <key>textureRect</key>
                <string>{{376,0},{123,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,112}</string>
                <key>spriteSourceSize</key>
                <string>{132,112}</string>
                <key>textureRect</key>
                <string>{{564,0},{132,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{116,118}</string>
                <key>textureRect</key>
                <string>{{752,0},{116,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,114}</string>
                <key>spriteSourceSize</key>
                <string>{168,114}</string>
                <key>textureRect</key>
                <string>{{940,0},{168,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,143}</string>
                <key>spriteSourceSize</key>
                <string>{126,143}</string>
                <key>textureRect</key>
                <string>{{1128,0},{126,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,121}</string>
                <key>spriteSourceSize</key>
                <string>{134,121}</string>
                <key>textureRect</key>
                <string>{{1316,0},{134,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_leftdown (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,95}</string>
                <key>spriteSourceSize</key>
                <string>{142,95}</string>
                <key>textureRect</key>
                <string>{{0,143},{142,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill1_leftdown.png</string>
            <key>size</key>
            <string>{1504,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ddade4a8cbda3d092abf5e512d55a98:fc2055c19eb6d912dc8fe0e9d65a7dbc:bdb664925d4e655daf55da6af9ed4e6e$</string>
            <key>textureFileName</key>
            <string>aviator_skill1_leftdown.png</string>
        </dict>
    </dict>
</plist>
