<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill3_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,106}</string>
                <key>spriteSourceSize</key>
                <string>{124,106}</string>
                <key>textureRect</key>
                <string>{{0,0},{124,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,130}</string>
                <key>spriteSourceSize</key>
                <string>{134,130}</string>
                <key>textureRect</key>
                <string>{{0,1179},{134,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,109}</string>
                <key>spriteSourceSize</key>
                <string>{143,109}</string>
                <key>textureRect</key>
                <string>{{0,1310},{143,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,118}</string>
                <key>spriteSourceSize</key>
                <string>{154,118}</string>
                <key>textureRect</key>
                <string>{{0,1441},{154,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,114}</string>
                <key>spriteSourceSize</key>
                <string>{136,114}</string>
                <key>textureRect</key>
                <string>{{0,1572},{136,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,98}</string>
                <key>spriteSourceSize</key>
                <string>{155,98}</string>
                <key>textureRect</key>
                <string>{{0,131},{155,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,107}</string>
                <key>spriteSourceSize</key>
                <string>{139,107}</string>
                <key>textureRect</key>
                <string>{{0,262},{139,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,92}</string>
                <key>spriteSourceSize</key>
                <string>{104,92}</string>
                <key>textureRect</key>
                <string>{{0,393},{104,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,97}</string>
                <key>spriteSourceSize</key>
                <string>{165,97}</string>
                <key>textureRect</key>
                <string>{{0,524},{165,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,121}</string>
                <key>spriteSourceSize</key>
                <string>{148,121}</string>
                <key>textureRect</key>
                <string>{{0,655},{148,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,131}</string>
                <key>spriteSourceSize</key>
                <string>{162,131}</string>
                <key>textureRect</key>
                <string>{{0,786},{162,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,107}</string>
                <key>spriteSourceSize</key>
                <string>{160,107}</string>
                <key>textureRect</key>
                <string>{{0,917},{160,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_leftup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,84}</string>
                <key>spriteSourceSize</key>
                <string>{149,84}</string>
                <key>textureRect</key>
                <string>{{0,1048},{149,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill3_leftup.png</string>
            <key>size</key>
            <string>{165,1703}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcdd0bc786b83570eef0b8e412e409e7:0fedef9861f5e684ba27a38e050a8b73:a05d42ec88bb76f820f4c28a4ccabfcf$</string>
            <key>textureFileName</key>
            <string>aviator_skill3_leftup.png</string>
        </dict>
    </dict>
</plist>
