<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_behit_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,110}</string>
                <key>spriteSourceSize</key>
                <string>{114,110}</string>
                <key>textureRect</key>
                <string>{{128,0},{114,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,114}</string>
                <key>spriteSourceSize</key>
                <string>{136,114}</string>
                <key>textureRect</key>
                <string>{{0,110},{136,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,104}</string>
                <key>spriteSourceSize</key>
                <string>{128,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,115}</string>
                <key>spriteSourceSize</key>
                <string>{123,115}</string>
                <key>textureRect</key>
                <string>{{0,224},{123,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,121}</string>
                <key>spriteSourceSize</key>
                <string>{93,121}</string>
                <key>textureRect</key>
                <string>{{123,224},{93,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_behit_left.png</string>
            <key>size</key>
            <string>{242,345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf13b6a82e6b3105ac896a944792fb7a:40855863e19ccaa323ca92520cc920e7:94e4fdbf401326622b7413338987f993$</string>
            <key>textureFileName</key>
            <string>aviator_behit_left.png</string>
        </dict>
    </dict>
</plist>
