<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill2_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,127}</string>
                <key>spriteSourceSize</key>
                <string>{102,127}</string>
                <key>textureRect</key>
                <string>{{0,0},{102,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,118}</string>
                <key>spriteSourceSize</key>
                <string>{144,118}</string>
                <key>textureRect</key>
                <string>{{152,0},{144,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,126}</string>
                <key>spriteSourceSize</key>
                <string>{152,126}</string>
                <key>textureRect</key>
                <string>{{304,0},{152,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,137}</string>
                <key>spriteSourceSize</key>
                <string>{100,137}</string>
                <key>textureRect</key>
                <string>{{456,0},{100,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,151}</string>
                <key>spriteSourceSize</key>
                <string>{124,151}</string>
                <key>textureRect</key>
                <string>{{608,0},{124,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,129}</string>
                <key>spriteSourceSize</key>
                <string>{138,129}</string>
                <key>textureRect</key>
                <string>{{760,0},{138,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,118}</string>
                <key>spriteSourceSize</key>
                <string>{137,118}</string>
                <key>textureRect</key>
                <string>{{912,0},{137,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,91}</string>
                <key>spriteSourceSize</key>
                <string>{138,91}</string>
                <key>textureRect</key>
                <string>{{1064,0},{138,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill2_leftdown.png</string>
            <key>size</key>
            <string>{1216,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d774239fca6ff2158c6657c1d864f491:37f5007664e97dd7ab0492a1b585236b:4d0950b215d971e4b8a24c1e7ac72b87$</string>
            <key>textureFileName</key>
            <string>aviator_skill2_leftdown.png</string>
        </dict>
    </dict>
</plist>
