<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill2_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,128}</string>
                <key>spriteSourceSize</key>
                <string>{103,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,107}</string>
                <key>spriteSourceSize</key>
                <string>{155,107}</string>
                <key>textureRect</key>
                <string>{{155,0},{155,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,119}</string>
                <key>spriteSourceSize</key>
                <string>{96,119}</string>
                <key>textureRect</key>
                <string>{{310,0},{96,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,139}</string>
                <key>spriteSourceSize</key>
                <string>{68,139}</string>
                <key>textureRect</key>
                <string>{{465,0},{68,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,123}</string>
                <key>spriteSourceSize</key>
                <string>{119,123}</string>
                <key>textureRect</key>
                <string>{{620,0},{119,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,113}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{775,0},{142,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,112}</string>
                <key>spriteSourceSize</key>
                <string>{145,112}</string>
                <key>textureRect</key>
                <string>{{930,0},{145,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,108}</string>
                <key>textureRect</key>
                <string>{{1085,0},{124,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill2_leftup.png</string>
            <key>size</key>
            <string>{1240,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e65ac5dc47d30d05e775e466dfc3440:8473d827c1a81ef2d89089a955e222fb:07f40a4187d4d3535f419100a91be936$</string>
            <key>textureFileName</key>
            <string>aviator_skill2_leftup.png</string>
        </dict>
    </dict>
</plist>
