<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_behit_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,101}</string>
                <key>spriteSourceSize</key>
                <string>{182,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{182,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,107}</string>
                <key>spriteSourceSize</key>
                <string>{155,107}</string>
                <key>textureRect</key>
                <string>{{0,101},{155,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,136}</string>
                <key>spriteSourceSize</key>
                <string>{100,136}</string>
                <key>textureRect</key>
                <string>{{155,101},{100,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,145}</string>
                <key>spriteSourceSize</key>
                <string>{81,145}</string>
                <key>textureRect</key>
                <string>{{0,237},{81,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,143}</string>
                <key>spriteSourceSize</key>
                <string>{77,143}</string>
                <key>textureRect</key>
                <string>{{81,237},{77,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_behit_up.png</string>
            <key>size</key>
            <string>{255,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f2b92ea0e1e074dff0f453e95cd424b:07c2753bcdc10b4f2216df6f4d73e2c1:ed0f57f51012cf317f1da7520b84959a$</string>
            <key>textureFileName</key>
            <string>aviator_behit_up.png</string>
        </dict>
    </dict>
</plist>
