<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill3_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,99}</string>
                <key>spriteSourceSize</key>
                <string>{154,99}</string>
                <key>textureRect</key>
                <string>{{0,0},{154,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,146}</string>
                <key>spriteSourceSize</key>
                <string>{103,146}</string>
                <key>textureRect</key>
                <string>{{388,158},{103,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,147}</string>
                <key>spriteSourceSize</key>
                <string>{124,147}</string>
                <key>textureRect</key>
                <string>{{582,158},{124,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,117}</string>
                <key>spriteSourceSize</key>
                <string>{158,117}</string>
                <key>textureRect</key>
                <string>{{776,158},{158,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,96}</string>
                <key>spriteSourceSize</key>
                <string>{194,96}</string>
                <key>textureRect</key>
                <string>{{970,158},{194,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,109}</string>
                <key>spriteSourceSize</key>
                <string>{131,109}</string>
                <key>textureRect</key>
                <string>{{194,0},{131,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{388,0},{125,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,140}</string>
                <key>spriteSourceSize</key>
                <string>{93,140}</string>
                <key>textureRect</key>
                <string>{{582,0},{93,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,134}</string>
                <key>spriteSourceSize</key>
                <string>{96,134}</string>
                <key>textureRect</key>
                <string>{{776,0},{96,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,139}</string>
                <key>spriteSourceSize</key>
                <string>{87,139}</string>
                <key>textureRect</key>
                <string>{{970,0},{87,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,123}</string>
                <key>spriteSourceSize</key>
                <string>{111,123}</string>
                <key>textureRect</key>
                <string>{{1164,0},{111,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,119}</string>
                <key>spriteSourceSize</key>
                <string>{84,119}</string>
                <key>textureRect</key>
                <string>{{0,158},{84,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_down (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,148}</string>
                <key>spriteSourceSize</key>
                <string>{83,148}</string>
                <key>textureRect</key>
                <string>{{194,158},{83,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill3_down.png</string>
            <key>size</key>
            <string>{1358,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ab69e3f1dcc69498d2be9fab2d4d356:f9c42daad80800d64e9bdeef593cb543:0899c26ec51b9909f6701bb374872028$</string>
            <key>textureFileName</key>
            <string>aviator_skill3_down.png</string>
        </dict>
    </dict>
</plist>
