<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_move_leftup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,126}</string>
                <key>spriteSourceSize</key>
                <string>{121,126}</string>
                <key>textureRect</key>
                <string>{{0,0},{121,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{122,0},{122,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,136}</string>
                <key>spriteSourceSize</key>
                <string>{118,136}</string>
                <key>textureRect</key>
                <string>{{244,0},{118,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{109,107}</string>
                <key>textureRect</key>
                <string>{{366,0},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{109,107}</string>
                <key>textureRect</key>
                <string>{{488,0},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{109,107}</string>
                <key>textureRect</key>
                <string>{{610,0},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,118}</string>
                <key>spriteSourceSize</key>
                <string>{109,118}</string>
                <key>textureRect</key>
                <string>{{732,0},{109,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_leftup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,118}</string>
                <key>spriteSourceSize</key>
                <string>{117,118}</string>
                <key>textureRect</key>
                <string>{{854,0},{117,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_move_leftup.png</string>
            <key>size</key>
            <string>{976,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc0faf518ea2e2a43ea649a5243ae095:7d5bf8d2ccdef34c18df4a6005da79d5:f9be2f5098e322ae28c962fa06e7af9e$</string>
            <key>textureFileName</key>
            <string>aviator_move_leftup.png</string>
        </dict>
    </dict>
</plist>
