<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill3_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,104}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{0,0},{116,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,136}</string>
                <key>spriteSourceSize</key>
                <string>{176,136}</string>
                <key>textureRect</key>
                <string>{{0,1224},{176,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,130}</string>
                <key>spriteSourceSize</key>
                <string>{171,130}</string>
                <key>textureRect</key>
                <string>{{0,1360},{171,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{0,1496},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,113}</string>
                <key>spriteSourceSize</key>
                <string>{127,113}</string>
                <key>textureRect</key>
                <string>{{0,1632},{127,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,112}</string>
                <key>spriteSourceSize</key>
                <string>{125,112}</string>
                <key>textureRect</key>
                <string>{{0,136},{125,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,126}</string>
                <key>spriteSourceSize</key>
                <string>{117,126}</string>
                <key>textureRect</key>
                <string>{{0,272},{117,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,83}</string>
                <key>spriteSourceSize</key>
                <string>{176,83}</string>
                <key>textureRect</key>
                <string>{{0,408},{176,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,89}</string>
                <key>spriteSourceSize</key>
                <string>{196,89}</string>
                <key>textureRect</key>
                <string>{{0,544},{196,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,117}</string>
                <key>spriteSourceSize</key>
                <string>{181,117}</string>
                <key>textureRect</key>
                <string>{{0,680},{181,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,128}</string>
                <key>spriteSourceSize</key>
                <string>{175,128}</string>
                <key>textureRect</key>
                <string>{{0,816},{175,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,83}</string>
                <key>spriteSourceSize</key>
                <string>{198,83}</string>
                <key>textureRect</key>
                <string>{{0,952},{198,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_left (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,90}</string>
                <key>spriteSourceSize</key>
                <string>{204,90}</string>
                <key>textureRect</key>
                <string>{{0,1088},{204,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill3_left.png</string>
            <key>size</key>
            <string>{204,1768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f85a6847d6e3e4f222381aadf7d93b46:69655c39d4955a6af039dcf225e66162:29a1316c6df141c92578c536f6b55c3a$</string>
            <key>textureFileName</key>
            <string>aviator_skill3_left.png</string>
        </dict>
    </dict>
</plist>
