<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill3_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,112}</string>
                <key>spriteSourceSize</key>
                <string>{118,112}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,98}</string>
                <key>spriteSourceSize</key>
                <string>{175,98}</string>
                <key>textureRect</key>
                <string>{{0,1170},{175,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,96}</string>
                <key>spriteSourceSize</key>
                <string>{172,96}</string>
                <key>textureRect</key>
                <string>{{0,1300},{172,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,106}</string>
                <key>spriteSourceSize</key>
                <string>{163,106}</string>
                <key>textureRect</key>
                <string>{{0,1430},{163,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,103}</string>
                <key>spriteSourceSize</key>
                <string>{130,103}</string>
                <key>textureRect</key>
                <string>{{0,1560},{130,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{0,130},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,130}</string>
                <key>spriteSourceSize</key>
                <string>{117,130}</string>
                <key>textureRect</key>
                <string>{{0,260},{117,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,97}</string>
                <key>spriteSourceSize</key>
                <string>{175,97}</string>
                <key>textureRect</key>
                <string>{{0,390},{175,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,92}</string>
                <key>spriteSourceSize</key>
                <string>{196,92}</string>
                <key>textureRect</key>
                <string>{{0,520},{196,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,102}</string>
                <key>spriteSourceSize</key>
                <string>{181,102}</string>
                <key>textureRect</key>
                <string>{{0,650},{181,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,85}</string>
                <key>spriteSourceSize</key>
                <string>{176,85}</string>
                <key>textureRect</key>
                <string>{{0,780},{176,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,82}</string>
                <key>spriteSourceSize</key>
                <string>{199,82}</string>
                <key>textureRect</key>
                <string>{{0,910},{199,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_right (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,66}</string>
                <key>spriteSourceSize</key>
                <string>{205,66}</string>
                <key>textureRect</key>
                <string>{{0,1040},{205,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill3_right.png</string>
            <key>size</key>
            <string>{205,1690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a46d6fadedab387d372c70fa9738a320:7c0df39a949d9aba6749c52ba6a08697:627e63a14f4c90afc0e24cdb0d5322a4$</string>
            <key>textureFileName</key>
            <string>aviator_skill3_right.png</string>
        </dict>
    </dict>
</plist>
