<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill2_up (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,132}</string>
                <key>spriteSourceSize</key>
                <string>{87,132}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_up (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,92}</string>
                <key>spriteSourceSize</key>
                <string>{147,92}</string>
                <key>textureRect</key>
                <string>{{198,0},{147,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_up (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,83}</string>
                <key>spriteSourceSize</key>
                <string>{154,83}</string>
                <key>textureRect</key>
                <string>{{396,0},{154,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_up (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{104,113}</string>
                <key>textureRect</key>
                <string>{{594,0},{104,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_up (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,93}</string>
                <key>spriteSourceSize</key>
                <string>{167,93}</string>
                <key>textureRect</key>
                <string>{{792,0},{167,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_up (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,98}</string>
                <key>spriteSourceSize</key>
                <string>{194,98}</string>
                <key>textureRect</key>
                <string>{{990,0},{194,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_up (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,102}</string>
                <key>spriteSourceSize</key>
                <string>{198,102}</string>
                <key>textureRect</key>
                <string>{{1188,0},{198,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_up (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,116}</string>
                <key>spriteSourceSize</key>
                <string>{183,116}</string>
                <key>textureRect</key>
                <string>{{1386,0},{183,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill2_up.png</string>
            <key>size</key>
            <string>{1584,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:545bcb24031b3c58716236f17a5e968e:7f8d6cd663431e727908581fe3b1e3f7:6ddaf276f0a446293be7b0d6dd013f61$</string>
            <key>textureFileName</key>
            <string>aviator_skill2_up.png</string>
        </dict>
    </dict>
</plist>
