<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_behit_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{0,223},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{128,102}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,117}</string>
                <key>spriteSourceSize</key>
                <string>{116,117}</string>
                <key>textureRect</key>
                <string>{{0,102},{116,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,121}</string>
                <key>spriteSourceSize</key>
                <string>{93,121}</string>
                <key>textureRect</key>
                <string>{{116,102},{93,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,131}</string>
                <key>spriteSourceSize</key>
                <string>{82,131}</string>
                <key>textureRect</key>
                <string>{{126,223},{82,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_behit_rightdown.png</string>
            <key>size</key>
            <string>{209,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29e7f85a95fcffcf0fa08de79a27ff16:0a801751b82ac4b805905d1cadae5c8c:b2ed456aa7afe081c374d2ef3161e6b1$</string>
            <key>textureFileName</key>
            <string>aviator_behit_rightdown.png</string>
        </dict>
    </dict>
</plist>
