<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill3_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,100}</string>
                <key>spriteSourceSize</key>
                <string>{138,100}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,91}</string>
                <key>spriteSourceSize</key>
                <string>{154,91}</string>
                <key>textureRect</key>
                <string>{{0,1161},{154,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,94}</string>
                <key>spriteSourceSize</key>
                <string>{166,94}</string>
                <key>textureRect</key>
                <string>{{0,1290},{166,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,105}</string>
                <key>spriteSourceSize</key>
                <string>{111,105}</string>
                <key>textureRect</key>
                <string>{{0,1419},{111,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,106}</string>
                <key>spriteSourceSize</key>
                <string>{117,106}</string>
                <key>textureRect</key>
                <string>{{0,1548},{117,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,100}</string>
                <key>spriteSourceSize</key>
                <string>{192,100}</string>
                <key>textureRect</key>
                <string>{{0,129},{192,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,107}</string>
                <key>spriteSourceSize</key>
                <string>{183,107}</string>
                <key>textureRect</key>
                <string>{{0,258},{183,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,103}</string>
                <key>spriteSourceSize</key>
                <string>{179,103}</string>
                <key>textureRect</key>
                <string>{{0,387},{179,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,101}</string>
                <key>spriteSourceSize</key>
                <string>{174,101}</string>
                <key>textureRect</key>
                <string>{{0,516},{174,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,90}</string>
                <key>spriteSourceSize</key>
                <string>{151,90}</string>
                <key>textureRect</key>
                <string>{{0,645},{151,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,102}</string>
                <key>spriteSourceSize</key>
                <string>{172,102}</string>
                <key>textureRect</key>
                <string>{{0,774},{172,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,107}</string>
                <key>spriteSourceSize</key>
                <string>{160,107}</string>
                <key>textureRect</key>
                <string>{{0,903},{160,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill3_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{0,1032},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill3_rightup.png</string>
            <key>size</key>
            <string>{192,1677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a5a6f3539475e737dd5a542ce7234b9:d88f7e5bf18087c0c433d1128472ed95:96b9173609415319f273f185aff6ee55$</string>
            <key>textureFileName</key>
            <string>aviator_skill3_rightup.png</string>
        </dict>
    </dict>
</plist>
