<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill1_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,103}</string>
                <key>spriteSourceSize</key>
                <string>{140,103}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{118,138}</string>
                <key>textureRect</key>
                <string>{{187,158},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,95}</string>
                <key>spriteSourceSize</key>
                <string>{179,95}</string>
                <key>textureRect</key>
                <string>{{374,158},{179,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,95}</string>
                <key>spriteSourceSize</key>
                <string>{116,95}</string>
                <key>textureRect</key>
                <string>{{561,158},{116,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,92}</string>
                <key>spriteSourceSize</key>
                <string>{175,92}</string>
                <key>textureRect</key>
                <string>{{748,158},{175,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,90}</string>
                <key>spriteSourceSize</key>
                <string>{126,90}</string>
                <key>textureRect</key>
                <string>{{935,158},{126,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,87}</string>
                <key>spriteSourceSize</key>
                <string>{158,87}</string>
                <key>textureRect</key>
                <string>{{1122,158},{158,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,98}</string>
                <key>spriteSourceSize</key>
                <string>{187,98}</string>
                <key>textureRect</key>
                <string>{{1309,158},{187,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,104}</string>
                <key>spriteSourceSize</key>
                <string>{144,104}</string>
                <key>textureRect</key>
                <string>{{187,0},{144,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,117}</string>
                <key>spriteSourceSize</key>
                <string>{122,117}</string>
                <key>textureRect</key>
                <string>{{374,0},{122,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,104}</string>
                <key>spriteSourceSize</key>
                <string>{132,104}</string>
                <key>textureRect</key>
                <string>{{561,0},{132,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,113}</string>
                <key>spriteSourceSize</key>
                <string>{116,113}</string>
                <key>textureRect</key>
                <string>{{748,0},{116,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,100}</string>
                <key>spriteSourceSize</key>
                <string>{170,100}</string>
                <key>textureRect</key>
                <string>{{935,0},{170,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,96}</string>
                <key>spriteSourceSize</key>
                <string>{125,96}</string>
                <key>textureRect</key>
                <string>{{1122,0},{125,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,99}</string>
                <key>spriteSourceSize</key>
                <string>{134,99}</string>
                <key>textureRect</key>
                <string>{{1309,0},{134,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill1_rightup (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,158}</string>
                <key>spriteSourceSize</key>
                <string>{142,158}</string>
                <key>textureRect</key>
                <string>{{0,158},{142,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill1_rightup.png</string>
            <key>size</key>
            <string>{1496,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:419f35633ab81f94ed48b49fa08ba893:294ceca1cf42c69e743effa3be1807e9:2849e5083deceb0887021a641de19c00$</string>
            <key>textureFileName</key>
            <string>aviator_skill1_rightup.png</string>
        </dict>
    </dict>
</plist>
