<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_behit_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,122}</string>
                <key>spriteSourceSize</key>
                <string>{116,122}</string>
                <key>textureRect</key>
                <string>{{0,103},{116,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,103}</string>
                <key>spriteSourceSize</key>
                <string>{134,103}</string>
                <key>textureRect</key>
                <string>{{0,0},{134,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{116,103},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,132}</string>
                <key>spriteSourceSize</key>
                <string>{122,132}</string>
                <key>textureRect</key>
                <string>{{0,229},{122,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,134}</string>
                <key>spriteSourceSize</key>
                <string>{93,134}</string>
                <key>textureRect</key>
                <string>{{122,229},{93,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_behit_right.png</string>
            <key>size</key>
            <string>{242,363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5ef9ec22cb60c969a216a83a94f0bb1:5650f72e4fd2fc89b0ce1c0b91d94c8d:7e507295b9bce48d8f8e11a97bf87954$</string>
            <key>textureFileName</key>
            <string>aviator_behit_right.png</string>
        </dict>
    </dict>
</plist>
