<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_attack_down (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,111}</string>
                <key>spriteSourceSize</key>
                <string>{182,111}</string>
                <key>textureRect</key>
                <string>{{0,0},{182,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_down (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,111}</string>
                <key>spriteSourceSize</key>
                <string>{132,111}</string>
                <key>textureRect</key>
                <string>{{183,0},{132,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_down (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,105}</string>
                <key>spriteSourceSize</key>
                <string>{139,105}</string>
                <key>textureRect</key>
                <string>{{366,0},{139,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_down (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,134}</string>
                <key>spriteSourceSize</key>
                <string>{87,134}</string>
                <key>textureRect</key>
                <string>{{549,0},{87,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_down (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,159}</string>
                <key>spriteSourceSize</key>
                <string>{85,159}</string>
                <key>textureRect</key>
                <string>{{732,0},{85,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_down (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,147}</string>
                <key>spriteSourceSize</key>
                <string>{165,147}</string>
                <key>textureRect</key>
                <string>{{915,0},{165,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_down (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,144}</string>
                <key>spriteSourceSize</key>
                <string>{183,144}</string>
                <key>textureRect</key>
                <string>{{1098,0},{183,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_attack_down (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,98}</string>
                <key>spriteSourceSize</key>
                <string>{181,98}</string>
                <key>textureRect</key>
                <string>{{1281,0},{181,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_attack_down.png</string>
            <key>size</key>
            <string>{1464,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae3397647c9e78b06ab7a4b99eb3b32b:dba09c7d8e381b672499fc92975c7c38:3d97839b9a4e1db907de339c2817ba2b$</string>
            <key>textureFileName</key>
            <string>aviator_attack_down.png</string>
        </dict>
    </dict>
</plist>
