<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_move_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,107}</string>
                <key>spriteSourceSize</key>
                <string>{148,107}</string>
                <key>textureRect</key>
                <string>{{0,0},{148,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,104}</string>
                <key>textureRect</key>
                <string>{{182,0},{150,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,118}</string>
                <key>spriteSourceSize</key>
                <string>{164,118}</string>
                <key>textureRect</key>
                <string>{{364,0},{164,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,103}</string>
                <key>spriteSourceSize</key>
                <string>{174,103}</string>
                <key>textureRect</key>
                <string>{{546,0},{174,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,103}</string>
                <key>spriteSourceSize</key>
                <string>{171,103}</string>
                <key>textureRect</key>
                <string>{{728,0},{171,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_rightup (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,103}</string>
                <key>spriteSourceSize</key>
                <string>{172,103}</string>
                <key>textureRect</key>
                <string>{{910,0},{172,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_rightup (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,103}</string>
                <key>spriteSourceSize</key>
                <string>{182,103}</string>
                <key>textureRect</key>
                <string>{{1092,0},{182,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_move_rightup (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,106}</string>
                <key>spriteSourceSize</key>
                <string>{149,106}</string>
                <key>textureRect</key>
                <string>{{1274,0},{149,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_move_rightup.png</string>
            <key>size</key>
            <string>{1456,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:454a169cbd6edd973689838162dbf626:d65323fb98a9025a5d03521305804b14:34de05156caa67501f25f0635f2fe4bc$</string>
            <key>textureFileName</key>
            <string>aviator_move_rightup.png</string>
        </dict>
    </dict>
</plist>
