<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill2_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,127}</string>
                <key>spriteSourceSize</key>
                <string>{130,127}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,101}</string>
                <key>spriteSourceSize</key>
                <string>{134,101}</string>
                <key>textureRect</key>
                <string>{{136,0},{134,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_left (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,136}</string>
                <key>spriteSourceSize</key>
                <string>{103,136}</string>
                <key>textureRect</key>
                <string>{{272,0},{103,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_left (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,148}</string>
                <key>spriteSourceSize</key>
                <string>{101,148}</string>
                <key>textureRect</key>
                <string>{{408,0},{101,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_left (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{544,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_left (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,132}</string>
                <key>spriteSourceSize</key>
                <string>{136,132}</string>
                <key>textureRect</key>
                <string>{{680,0},{136,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_left (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,125}</string>
                <key>spriteSourceSize</key>
                <string>{134,125}</string>
                <key>textureRect</key>
                <string>{{816,0},{134,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_left (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,106}</string>
                <key>spriteSourceSize</key>
                <string>{89,106}</string>
                <key>textureRect</key>
                <string>{{952,0},{89,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill2_left.png</string>
            <key>size</key>
            <string>{1088,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3409d8a56b903d166d0c78cf99f6031:4e1a2fcd4fab72df34225de6e61a0953:690a6e031e1b5eb632bfdc40acec8344$</string>
            <key>textureFileName</key>
            <string>aviator_skill2_left.png</string>
        </dict>
    </dict>
</plist>
