<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_behit_rightup (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,101}</string>
                <key>spriteSourceSize</key>
                <string>{135,101}</string>
                <key>textureRect</key>
                <string>{{0,267},{135,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_rightup (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,106}</string>
                <key>spriteSourceSize</key>
                <string>{136,106}</string>
                <key>textureRect</key>
                <string>{{0,368},{136,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_rightup (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,128}</string>
                <key>spriteSourceSize</key>
                <string>{123,128}</string>
                <key>textureRect</key>
                <string>{{0,139},{123,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_rightup (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,138}</string>
                <key>spriteSourceSize</key>
                <string>{97,138}</string>
                <key>textureRect</key>
                <string>{{84,0},{97,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_behit_rightup (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,139}</string>
                <key>spriteSourceSize</key>
                <string>{84,139}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_behit_rightup.png</string>
            <key>size</key>
            <string>{181,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59beaf91e0e659e93eb433073c47ac52:ef8b3e6bbbf4a2aa2f2f68d6600f9307:e365c95d2855c7997f8ffaeadfe30b21$</string>
            <key>textureFileName</key>
            <string>aviator_behit_rightup.png</string>
        </dict>
    </dict>
</plist>
