<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_skill2_right (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,134}</string>
                <key>spriteSourceSize</key>
                <string>{130,134}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_right (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,91}</string>
                <key>spriteSourceSize</key>
                <string>{136,91}</string>
                <key>textureRect</key>
                <string>{{136,0},{136,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_right (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,129}</string>
                <key>spriteSourceSize</key>
                <string>{102,129}</string>
                <key>textureRect</key>
                <string>{{272,0},{102,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_right (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,149}</string>
                <key>spriteSourceSize</key>
                <string>{101,149}</string>
                <key>textureRect</key>
                <string>{{408,0},{101,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_right (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,144}</string>
                <key>spriteSourceSize</key>
                <string>{115,144}</string>
                <key>textureRect</key>
                <string>{{544,0},{115,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_right (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{680,0},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_right (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,120}</string>
                <key>spriteSourceSize</key>
                <string>{134,120}</string>
                <key>textureRect</key>
                <string>{{816,0},{134,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_skill2_right (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,140}</string>
                <key>spriteSourceSize</key>
                <string>{89,140}</string>
                <key>textureRect</key>
                <string>{{952,0},{89,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_skill2_right.png</string>
            <key>size</key>
            <string>{1088,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c534b81e523e97364a1fd0e3993eadf:f2348bcb3da94b7ecf7b7963e4ae12c3:90ef7cac0c7b9651e0aea5ac5ff79e02$</string>
            <key>textureFileName</key>
            <string>aviator_skill2_right.png</string>
        </dict>
    </dict>
</plist>
