<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aviator_dead_left (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,48}</string>
                <key>spriteSourceSize</key>
                <string>{100,48}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aviator_dead_left (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,47}</string>
                <key>spriteSourceSize</key>
                <string>{100,47}</string>
                <key>textureRect</key>
                <string>{{0,48},{100,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aviator_dead_left.png</string>
            <key>size</key>
            <string>{100,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bfa63a981894bdd0ba6aa27da0f8490:3b94121eaf309d10cbd026b81163df5c:ad21239badb5c05f835ba4fa233e994c$</string>
            <key>textureFileName</key>
            <string>aviator_dead_left.png</string>
        </dict>
    </dict>
</plist>
