<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bluebuff_stand_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,148}</string>
                <key>spriteSourceSize</key>
                <string>{145,148}</string>
                <key>textureRect</key>
                <string>{{147,293},{145,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_stand_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,148}</string>
                <key>spriteSourceSize</key>
                <string>{147,148}</string>
                <key>textureRect</key>
                <string>{{0,293},{147,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_stand_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,147}</string>
                <key>spriteSourceSize</key>
                <string>{144,147}</string>
                <key>textureRect</key>
                <string>{{274,146},{144,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_stand_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,145}</string>
                <key>spriteSourceSize</key>
                <string>{137,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{137,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_stand_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,145}</string>
                <key>spriteSourceSize</key>
                <string>{132,145}</string>
                <key>textureRect</key>
                <string>{{137,0},{132,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_stand_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,146}</string>
                <key>spriteSourceSize</key>
                <string>{134,146}</string>
                <key>textureRect</key>
                <string>{{269,0},{134,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_stand_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,146}</string>
                <key>spriteSourceSize</key>
                <string>{134,146}</string>
                <key>textureRect</key>
                <string>{{0,146},{134,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_stand_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,147}</string>
                <key>spriteSourceSize</key>
                <string>{140,147}</string>
                <key>textureRect</key>
                <string>{{134,146},{140,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bluebuff_stand_rightdown.png</string>
            <key>size</key>
            <string>{418,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e38650684799ed9d823ae78626ac04a5:42b5e06d3194e4ae6e65e812405be911:63235a54db1d0bdcd4011b9ef281a23c$</string>
            <key>textureFileName</key>
            <string>bluebuff_stand_rightdown.png</string>
        </dict>
    </dict>
</plist>
