<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bluebuff_attack_rightdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,149}</string>
                <key>spriteSourceSize</key>
                <string>{143,149}</string>
                <key>textureRect</key>
                <string>{{0,0},{143,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_attack_rightdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,146}</string>
                <key>spriteSourceSize</key>
                <string>{127,146}</string>
                <key>textureRect</key>
                <string>{{143,0},{127,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_attack_rightdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,147}</string>
                <key>spriteSourceSize</key>
                <string>{136,147}</string>
                <key>textureRect</key>
                <string>{{270,0},{136,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_attack_rightdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{134,148}</string>
                <key>textureRect</key>
                <string>{{0,149},{134,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_attack_rightdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,158}</string>
                <key>spriteSourceSize</key>
                <string>{130,158}</string>
                <key>textureRect</key>
                <string>{{134,149},{130,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_attack_rightdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,164}</string>
                <key>spriteSourceSize</key>
                <string>{145,164}</string>
                <key>textureRect</key>
                <string>{{264,149},{145,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_attack_rightdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,149}</string>
                <key>spriteSourceSize</key>
                <string>{142,149}</string>
                <key>textureRect</key>
                <string>{{0,313},{142,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bluebuff_attack_rightdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{142,313},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bluebuff_attack_rightdown.png</string>
            <key>size</key>
            <string>{409,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42a228db758125fad987c93a3a6ecd02:b2c59ae3ea0d0d5b6a74bab72c62c0be:6f5a577ffa89db8f30c3cc7930ef5539$</string>
            <key>textureFileName</key>
            <string>bluebuff_attack_rightdown.png</string>
        </dict>
    </dict>
</plist>
