<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redbuff_stand_leftdown (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,148}</string>
                <key>spriteSourceSize</key>
                <string>{134,148}</string>
                <key>textureRect</key>
                <string>{{268,291},{134,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redbuff_stand_leftdown (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,148}</string>
                <key>spriteSourceSize</key>
                <string>{133,148}</string>
                <key>textureRect</key>
                <string>{{135,291},{133,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redbuff_stand_leftdown (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,146}</string>
                <key>spriteSourceSize</key>
                <string>{134,146}</string>
                <key>textureRect</key>
                <string>{{0,145},{134,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redbuff_stand_leftdown (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{134,0},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redbuff_stand_leftdown (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,145}</string>
                <key>spriteSourceSize</key>
                <string>{134,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{134,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redbuff_stand_leftdown (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,146}</string>
                <key>spriteSourceSize</key>
                <string>{134,146}</string>
                <key>textureRect</key>
                <string>{{268,145},{134,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redbuff_stand_leftdown (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,146}</string>
                <key>spriteSourceSize</key>
                <string>{134,146}</string>
                <key>textureRect</key>
                <string>{{134,145},{134,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redbuff_stand_leftdown (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,147}</string>
                <key>spriteSourceSize</key>
                <string>{135,147}</string>
                <key>textureRect</key>
                <string>{{0,291},{135,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>redbuff_stand_leftdown.png</string>
            <key>size</key>
            <string>{402,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66cb739aca5d88e019db03207c441877:715487c92306c9cf4dccad546fd8179f:371972db91464a4a3a969c818ff46e96$</string>
            <key>textureFileName</key>
            <string>redbuff_stand_leftdown.png</string>
        </dict>
    </dict>
</plist>
